extends base/_layout
block vars
    - var pageName = 'achievements-page scrolling-titles-exist'
block head
    title ART6 - Достижения digital-агентства ART6
block page

    section.first_scr_with_scroll
        .container
            .first_scr_with_scroll__title__block.index_page__title_block.hidescrollbar
                .scroll_container
                    h1.first_scr_with_scroll__title.index_page_title
                        span Достижения digital-агентства ART6
                        span Достижения

            .scr_nagradi_art6
                p.scr_nagradi_art6__descr Награды Рейтинга Рунета за 2023 год
                .scr_nagradi_art6__wrapper.scr_nagradi_art6__wrapper--four
                    img.scr-image-item(srcset="./images/scr_nagradi_art6/achivment_1.webp, ./images/scr_nagradi_art6/achivment_1@2x.webp 2x" src="./images/scr_nagradi_art6/achivment_1@2x.webp" alt="" width="360" height="487" loading="lazy" decoding="async")
                    img.scr-image-item(srcset="./images/scr_nagradi_art6/achivment_1.webp, ./images/scr_nagradi_art6/achivment_1@2x.webp 2x" src="./images/scr_nagradi_art6/achivment_1@2x.webp" alt="" width="360" height="487" loading="lazy" decoding="async")
                    img.scr-image-item(srcset="./images/scr_nagradi_art6/achivment_1.webp, ./images/scr_nagradi_art6/achivment_1@2x.webp 2x" src="./images/scr_nagradi_art6/achivment_1@2x.webp" alt="" width="360" height="487" loading="lazy" decoding="async")
                    img.scr-image-item(srcset="./images/scr_nagradi_art6/achivment_1.webp, ./images/scr_nagradi_art6/achivment_1@2x.webp 2x" src="./images/scr_nagradi_art6/achivment_1@2x.webp" alt="" width="360" height="487" loading="lazy" decoding="async")


                p.scr_nagradi_art6__descr ART6 – золотой партнер 1С-Битрикс
                .scr_nagradi_art6__wrapper.scr_nagradi_art6__wrapper--three
                    img.scr-image-item(srcset="./images/scr_nagradi_art6/achivment_2.webp, ./images/scr_nagradi_art6/achivment_2@2x.webp 2x" src="./images/scr_nagradi_art6/achivment_2@2x.webp" alt="" width="360" height="487" loading="lazy" decoding="async")
                    img.scr-image-item(srcset="./images/scr_nagradi_art6/achivment_2.webp, ./images/scr_nagradi_art6/achivment_2@2x.webp 2x" src="./images/scr_nagradi_art6/achivment_2@2x.webp" alt="" width="360" height="487" loading="lazy" decoding="async")
                    img.scr-image-item(srcset="./images/scr_nagradi_art6/achivment_2.webp, ./images/scr_nagradi_art6/achivment_2@2x.webp 2x" src="./images/scr_nagradi_art6/achivment_2@2x.webp" alt="" width="360" height="487" loading="lazy" decoding="async")

                p.scr_nagradi_art6__descr ART6 – сертифицированное Яндексом агентство
                .scr_nagradi_art6__wrapper.scr_nagradi_art6__wrapper--two
                    img.scr-image-item(srcset="./images/scr_nagradi_art6/achivment_3.webp, ./images/scr_nagradi_art6/achivment_3@2x.webp 2x" src="./images/scr_nagradi_art6/achivment_3@2x.webp" alt="" width="360" height="487" loading="lazy" decoding="async")
                    img.scr-image-item(srcset="./images/scr_nagradi_art6/achivment_3.webp, ./images/scr_nagradi_art6/achivment_3@2x.webp 2x" src="./images/scr_nagradi_art6/achivment_3@2x.webp" alt="" width="360" height="487" loading="lazy" decoding="async")


    .scr_karta_art6
        .container
            p.scr_karta_art6__descr Наши клиенты расположены в #[span 38] регионах России
            img.scr_karta_art6__img(src="./images/scr_karta_art6/partners_map.svg" alt="" loading="lazy" decoding="async" width="1500" height="798")
            
    include ./blocks/_scr_achivements_full





    include ./blocks/_scr_forma_footer_art6
