extends base/_layout
block vars
    - var pageName = 'project'
block head
    title Наш проект - Акватим
block page

    nav.scr_hleb_kroshki_art6(aria-label="Хлебные крошки")
        .container
            ol
                li: a(href="./index.html" aria-label="Перейти на главную") Главная
                li: a(href="./our-projects.html" aria-label="Перейти на общую страницу проектов") Вакансия
                li: span Разработчик (Java)


    .container
        section.scr_perv_keys_art6.project_seo

            .scr_perv_keys_art6__pic

                .scr_perv_keys_art6__mobile_img
                    //- -
                    //-     var imgSizes = "100vw"

                    //-     var imgSrcset = "./images/scr_perv_keys_art6/aquateam_mob_400.webp 400w, ./images/scr_perv_keys_art6/aquateam_mob_640.webp 640w, ./images/scr_perv_keys_art6/aquateam_mob_767.webp 767w, ./images/scr_perv_keys_art6/aquateam_mob_1534.webp 1534w"

                    //-     var imgSrc = "scr_perv_keys_art6/aquateam_mob_767"

                    //- +img(imgSizes, imgSrcset, imgSrc, 'скриншот проекта Астра-Пул', 390, 273, false)

                    img(sizes="(max-width: 991px) 100vw, (min-width: 992px) 56vw, (min-width: 1920px) 907px" srcset="./images/scr_perv_keys_art6/prodvizheniye-internet-magazina-akvatim_700.webp 700w, ./images/scr_perv_keys_art6/prodvizheniye-internet-magazina-akvatim_1300.webp 1300w, ./images/scr_perv_keys_art6/prodvizheniye-internet-magazina-akvatim_1814.webp 1814w" src="./images/scr_perv_keys_art6/prodvizheniye-internet-magazina-akvatim_1814.webp" alt="скриншот проекта Акватим" width="390" height="273" decoding="async")

            .scr_perv_keys_art6__intro
                p.scr_perv_keys_art6__title.index_page_title АкваТим

                h1.scr_perv_keys_art6__subtitle: span SEO-продвижение кулеров и пурифайеров в ТОП Яндекс и Google в 5-ти городах России



            .scr_perv_keys_art6__wrapper

                //- .scr_perv_keys_art6__img
                //-     -
                //-         var imgSizes = "(max-width: 1300px) 56vw, 58vw"

                //-         var imgSrcset = "./images/scr_perv_keys_art6/aquateam_900.webp 900w, ./images/scr_perv_keys_art6/aquateam_1200.webp 1200w, ./images/scr_perv_keys_art6/aquateam_1600.webp 1600w, ./images/scr_perv_keys_art6/aquateam_2234.webp 2234w"

                //-         var imgSrc = "scr_perv_keys_art6/aquateam_1600"

                //-     +img(imgSizes, imgSrcset, imgSrc, 'скриншот проекта АкваТим', 1117, 880, false)

                .scr_perv_keys_art6__descr
                    .scr_perv_keys_art6__content
                        h3.scr_perv_keys_art6__heading
                            svg(width="15" height="24" viewBox="0 0 15 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M6.37645 22.2879C6.37645 19.5406 6.37645 16.7933 6.37645 14.0461H0L1.50258 11.4718L6.80944 2.37965L8.19838 0V1.71215V9.95393H14.5748L13.0722 12.5282L7.76539 21.6203L6.37645 24V22.2879Z" fill="#1463FF")
                            span Клиент
                        p.scr_perv_keys_art6__text АкваТим – компания, осуществляющая продажу товаров, необходимых для обеспечения дома и офиса чистой питьевой водой: кулеры, пурифайеры, фильтры и другое. Работает по всему Краснодарскому краю и имеет собственный сервисный центр для ремонта и обслуживания «водной» техники.

                        h3.scr_perv_keys_art6__heading Задача
                        .scr_perv_keys_art6__text
                            p Компания АкваТим поставила перед нами ряд задач:

                            ul
                                li основная – увеличить продажи с помощью SEO-продвижения сайта;
                                li занять максимально высокие (ТОП-1, ТОП-3, ТОП-5, ТОП-10) позиции в поисковых системах Яндекс и Google;
                                li привлечь качественный целевой трафик на сайт, особым приоритетом отметили категории: кулеры, пурифайеры;
                                li повысить доверие к бренду за счет высоких позиций в поисковиках, а также постоянного улучшения маркетинговой составляющей сайта;
                                li стать эффективным надежным партнером и предоставлять высокие результаты в долгосрочной перспективе.

                        h3.scr_perv_keys_art6__heading Адрес проекта
                        a.scr_perv_keys_art6__link(href="#" target="_blank")
                            span aqua-tim.ru
                            svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M4.16536 14.658L5.34036 15.833L14.1654 7.00801L14.1654 12.4997H15.832L15.832 4.16634L7.4987 4.16634V5.83301L12.9904 5.83301L4.16536 14.658Z" fill="#166FF5")

                    //- .scr_perv_keys_art6__blank

                .scr_perv_keys_art6__line: span


    section.scr_opisanie_keysa_art6
        .container 

            h2.scr_opisanie_keysa_art6__title Исполнение

            p.scr_opisanie_keysa_art6__text Перед тем как приступить к SEO-продвижению мы в обязательном порядке проводим анализ сайта клиента, его конкурентов и специфику отрасли. Это позволяет нам точно определить будет ли SEO-продвижение рентабельным для заказчика и останется ли он довольным. Если вероятность достижения высоких показателей окупаемости инвестиций клиента в SEO-продвижение недостаточно высока, ниже 80-90%, то мы не беремся за проект.

            p.scr_opisanie_keysa_art6__text Главная наша цель – показать высочайший результат, чтобы клиент был доволен и сотрудничал с нами долгие годы.

            p.scr_opisanie_keysa_art6__text В данной отрасли у нас уже есть успешный опыт продвижения, поэтому мы смогли с высокой точностью определить вероятность достижения отличного результата.

            p.scr_opisanie_keysa_art6__text Произвели тщательные расчеты, обсудили и согласовали их с клиентом, приступили к работе.
            

            .scr_opisanie_keysa_art6__step

                h3.scr_opisanie_keysa_art6__subtitle 1-ый месяц SEO-продвижения

                ul.scr_opisanie_keysa_art6__list

                    li.
                        Анализ и составление плана работ на расчетный период.#[br]
                        Каждый месяц продвижения сайта мы начинаем с формирования плана. Он содержит точный перечень всех работ, которые будут сделаны нами в течение месяца с указанием времени и стоимости каждой. Таким образом мы предоставляем клиенту максимальную прозрачность. План готовится SEO-специалистом в тандеме с руководителем SEO-отдела на основе тщательного анализа. Приступаем к выполнению работ после их согласования с клиентом.

                    li Установка SSL-сертификата (проверка корректности, если установлен) и перевод сайта на защищенный протокол HTTPS.

                    li Проверка и настройка редиректов с www на без www, с http на https. С index.html, index.php на основную страницу. А также со страниц без слэша на конце «/», на страницы со слэшем «/» на конце URL.

                    li Проверка и исправление ошибок 404 Not Found.

                    li Создание Sitemap с функционалом автогенерации для товаров, услуг, статей, акций, новостей, брендов, портфолио и других имеющихся на сайте разделов.

                    li Создание robots.txt

                    li Работа с Яндекс.Вебмастер: Сводка, Качество сайта, Диагностика, Поисковые запросы, Индексирование, Представление в поиске, Товары в поиске, Услуги и предложения в поиске, Ссылки, Инструменты, Настройки и другое.

                    li Работа с Google Search Console: Обзор, Эффективность, Проверка URL, Индексирование (Страницы, Страницы с видео, Файлы Sitemap, Удаления), Качество (Удобство страниц, Основные интернет-показатели, Удобство для мобильных, HTTPS), Улучшения, Ссылки, Настройки и другое.

                    li Сбор и кластеризация семантического ядра.

                    li Формирование отчета по позициям.

                p.scr_opisanie_keysa_art6__conclusion #[strong И более 5 других важных работ], которые уже после первого месяца продвижения позволили сайту правильно проиндексироваться в поисковых системах и начать появляться в органической выдаче.

            .scr_opisanie_keysa_art6__banner
                img(srcset="./images/scr_opisanie_keysa_art6/banner_1.webp, ./images/scr_opisanie_keysa_art6/banner_1@2x.webp 2x" src="./images/scr_opisanie_keysa_art6/banner_1.webp" alt="Индивидуальный подход, Эффективная стратегия, Максимальная прозрачность")
                img(srcset="./images/scr_opisanie_keysa_art6/banner_1_mob.webp, ./images/scr_opisanie_keysa_art6/banner_1_mob@2x.webp 2x" src="./images/scr_opisanie_keysa_art6/banner_1_mob.webp" alt="Индивидуальный подход, эффективная стратегия, максимальная прозрачность")


            .scr_opisanie_keysa_art6__step

                h3.scr_opisanie_keysa_art6__subtitle 2-ой месяц SEO-продвижения

                ul.scr_opisanie_keysa_art6__list

                    li Анализ и составление плана работ на расчетный период.

                    li Работа с Яндекс.Вебмастер и Google Search Console.

                    li Проверка страниц в индексе Яндекс и Google и работа с индексацией.

                    li Добавление и настройка элемента link с атрибутом rel=«canonical» для всех страниц сайта.

                    li Сбор и кластеризация семантического ядра.

                    li Формирование и совершенствование структуры сайта с учетом кластеров запросов.

                    li Написание уникальных текстов, включающих ключевые фразы и соответствующие требованиям поисковых систем для SEO-продвижения.

                    li Размещение написанных текстов на сайт с оптимизацией заголовков H1-H6 под SEO-продвижение.

                    li Подготовка и формирование всей необходимой информации о компании для работы с каталогами (данные о компании, текст о компании в 3-ех вариациях различной длины, логотип, фотографии и другое).

                    li Формирование отчета по позициям.

                p.scr_opisanie_keysa_art6__conclusion #[strong И более 6 других важных работ], которые после второго месяца SEO-продвижения сделали сайт более конкурентоспособным в глазах поисковых систем, в связи с чем позиции по необходимым ключевым фразам начали расти.



            .scr_opisanie_keysa_art6__step

                h3.scr_opisanie_keysa_art6__subtitle 3-ой месяц SEO-продвижения

                ul.scr_opisanie_keysa_art6__list

                    li Анализ и составление плана работ на расчетный период.

                    li Написание уникальных текстов, включающих ключевые фразы и соответствующие требованиям поисковых систем для SEO-продвижения.

                    li Размещение написанных текстов на сайт с оптимизацией заголовков H1-H6 под SEO-продвижение.

                    li Работа с оптимизацией Google PageSpeed.

                    li Работа с оптимизацией под мобильные устройства на основе данных: search.google.com/test/mobile-friendly, Яндекс.Вебмастер, responsinator.com.

                    li Разработка стратегии наращивания ссылочной массы.

                    li Формирование списка страниц сайта для закупки ссылок и подготовка к ним анкоров (текстов) для ссылок с учетом текущего ссылочного профиля.

                    li.
                        Работа с Яндекс.Бизнес:
                        #[br] - Главная;
                        #[br] - О компании (данные, фотографии, публикации, отзывы, рейтинг компании, товары и услуги, доставка, промоматериалы, карта на сайт, изменения);
                        #[br] - Статистика.



                    li.
                        Создание поддоменов:
                        #[br] - Создание поддомена для города;
                        #[br] - Заполнение необходимых шорткодов под этот город;
                        #[br] - Создание/проверка sitemap и robots.txt;
                        #[br] - При необходимости приведение к должному виду шаблона сайта для поддомена.

                    li Формирование отчета по позициям.

                p.scr_opisanie_keysa_art6__conclusion #[strong И более 4 других важных работ], , которые увеличили потенциал роста позиций сайта в поисковых системах.

            .scr_opisanie_keysa_art6__banner
                img(srcset="./images/scr_opisanie_keysa_art6/banner_2.webp, ./images/scr_opisanie_keysa_art6/banner_2@2x.webp 2x" src="./images/scr_opisanie_keysa_art6/banner_2.webp" alt="Полный список, выполняемых нами работ")
                img(srcset="./images/scr_opisanie_keysa_art6/banner_2_mob.webp, ./images/scr_opisanie_keysa_art6/banner_2_mob@2x.webp 2x" src="./images/scr_opisanie_keysa_art6/banner_2_mob.webp" alt="Полный список, выполняемых нами работ")





            .scr_opisanie_keysa_art6__step

                h3.scr_opisanie_keysa_art6__subtitle 4-ой месяц SEO-продвижения

                ul.scr_opisanie_keysa_art6__list

                    li Анализ и составление плана работ на расчетный период.

                    li Поиск дублей страниц и проведение работ по их устранению.

                    li Сбор и кластеризация семантического ядра.

                    li Формирование и совершенствование структуры сайта с учетом кластеров запросов.

                    li Оптимизация изображений (сжатие форматов jpg, png и/или конвертация в WebP).

                    li.
                        Работа с Google.МойБизнес
                        #[br]- Создание нового или получение доступа к существующему.
                        #[br]Работа по наполнению контентом, всех разделов:
                        #[br]- Общая информация;
                        #[br]- Контактные данные;
                        #[br]- Местоположение;
                        #[br]- Часы работы;
                        #[br]- Раздел “Еще”;
                        #[br]- Отзывы;
                        #[br]- Фото;
                        #[br]- Услуги.

                    li Покупка арендных и/или вечных ссылок на страницы из сформированного списка с использованием подготовленных анкоров.

                    li Работа с информацией об оплате (добавление, улучшение).

                    li Анализ и внедрение разнообразных улучшений на сайте на основе поведенческих факторов посетителей полученных с помощью систем аналитики (Яндекс.Метрика, Google.Analytics и др.).

                    li Формирование отчета по позициям.

                    p.scr_opisanie_keysa_art6__conclusion #[strong И более 7 других важных работ], которые позволили сайту активно расти по множеству фраз в поисковых системах Яндекс и Google.




            .scr_opisanie_keysa_art6__step

                h3.scr_opisanie_keysa_art6__subtitle 5-ой месяц SEO-продвижения

                ul.scr_opisanie_keysa_art6__list

                    li Анализ и составление плана работ на расчетный период.

                    li Работа с Яндекс.Вебмастер и Google Search Console.

                    li Проверка изображений в индексе Яндекс и Google и работа с их индексацией.

                    li Проработка семантического ядра (подбор новых запросов и выделение узконаправленных кластеров запросов).

                    li Формирование и совершенствование структуры сайта с учетом кластеров запросов.

                    li Создание YML-файла со всем товаром и добавление в Яндекс.Вебмастер, прохождение проверки.

                    li Внесение информации о доставке (указание по каждому тарифу: название тарифа, цена товара, стоимость доставки, срок доставки, час переноса срока доставки и другие необходимые данные).

                    li Покупка арендных и/или вечных ссылок на страницы из сформированного списка с использованием подготовленных анкоров.

                    li Подбор подходящих каталогов и регистрация в них компании для наращивания ссылочной массы сайта.

                    li Работа с информацией о доставке (добавление, улучшение).

                    li Формирование отчета по позициям.

                    p.scr_opisanie_keysa_art6__conclusion #[strong И более 6 других важных работ], включая работу с коммерческими факторами, маркетинговой составляющей сайта, usability сайта.


            .scr_opisanie_keysa_art6__banner
                img(srcset="./images/scr_opisanie_keysa_art6/banner_3.webp, ./images/scr_opisanie_keysa_art6/banner_3@2x.webp 2x" src="./images/scr_opisanie_keysa_art6/banner_3.webp" alt="SEO-специалист, маркетолог, дизайнер, программист, контентщик и другие участвуют в SEO-продвижении")
                img(srcset="./images/scr_opisanie_keysa_art6/banner_3_mob.webp, ./images/scr_opisanie_keysa_art6/banner_3_mob@2x.webp 2x" src="./images/scr_opisanie_keysa_art6/banner_3_mob.webp" alt="SEO-специалист, маркетолог, дизайнер, программист, контентщик и другие участвуют в SEO-продвижении")




            .scr_opisanie_keysa_art6__step

                h3.scr_opisanie_keysa_art6__subtitle 6-ой месяц SEO-продвижения

                ul.scr_opisanie_keysa_art6__list

                    li Анализ и составление плана работ на расчетный период.

                    li Добавление на сайт микроразметки schema.org (product): отзывы + цены. А также вывод рейтинга в сниппете сайта в поисковой выдаче Google.

                    li Проработка семантического ядра (подбор новых запросов и выделение узконаправленных кластеров запросов).

                    li Формирование и совершенствование структуры сайта с учетом кластеров запросов.

                    li Покупка арендных и/или вечных ссылок на страницы из сформированного списка с использованием подготовленных анкоров.

                    li Проведение работы с ранее купленными ссылками (проверка, снятие или замена при необходимости).

                    li Работа с преимуществами компании (добавление, улучшение).

                    li Работа с поиском (добавление, проработка с целью улучшения usability).

                    li Поиск несуществующих страниц, на которые заходили люди с внешних источников. Настройка редиректов с таких несуществующих страниц на главную страницу сайта или подобные по смысловому содержанию и важные в продвижении.

                    li Формирование отчета по позициям.

                    p.scr_opisanie_keysa_art6__conclusion #[strong И более 8 других важных работ], позволивших сайту занять высокие позиции в поисковых системах Яндекс и Google.




            .scr_opisanie_keysa_art6__step

                h3.scr_opisanie_keysa_art6__subtitle 7-ой месяц SEO-продвижения

                ul.scr_opisanie_keysa_art6__list

                    li Анализ и составление плана работ на расчетный период.

                    li Работа с Яндекс.Вебмастер и Google Search Console.

                    li Проверка и исправление ошибок 404 Not Found.

                    li Проработка семантического ядра (подбор новых запросов и выделение узконаправленных кластеров запросов).

                    li Формирование и совершенствование структуры сайта с учетом кластеров запросов.

                    li Подбор подходящих каталогов и регистрация в них компании для наращивания ссылочной массы сайта.

                    li Покупка арендных и/или вечных ссылок на страницы из сформированного списка с использованием подготовленных анкоров.

                    li Написание и размещение отзыва о компании в Яндекс.Бизнес и других каталогах. А также отзыва на сайт в Яндекс.Браузере.

                    li Проработка на сайте фирменных элементов компании

                    li.
                        Проработка маркетинговой составляющей интернет-магазина:
                        #[br]- купить в кредит;
                        #[br]- похожие товары;
                        #[br]- сопутствующие товары (рекомендации);
                        #[br]- просмотренные товары.

                    li Формирование отчета по позициям.

                    p.scr_opisanie_keysa_art6__conclusion #[strong И более 5 других важных работ], включая аналитику накопленных больших данных и работы повышающие конверсию сайта.




            .scr_opisanie_keysa_art6__banner
                img(srcset="./images/scr_opisanie_keysa_art6/banner_4.webp, ./images/scr_opisanie_keysa_art6/banner_4@2x.webp 2x" src="./images/scr_opisanie_keysa_art6/banner_4.webp" alt="Регулярный анализ больших данных – залог успеха наших SEO-стратегий")
                img(srcset="./images/scr_opisanie_keysa_art6/banner_4_mob.webp, ./images/scr_opisanie_keysa_art6/banner_4_mob@2x.webp 2x" src="./images/scr_opisanie_keysa_art6/banner_4_mob.webp" alt="Регулярный анализ больших данных – залог успеха наших SEO-стратегий")





            .scr_opisanie_keysa_art6__step

                h3.scr_opisanie_keysa_art6__subtitle 8-ой месяц SEO-продвижения

                ul.scr_opisanie_keysa_art6__list

                    li Анализ и составление плана работ на расчетный период.

                    li Поиск дублей страниц и проведение работ по их устранению.

                    li Проработка семантического ядра (подбор новых запросов и выделение узконаправленных кластеров запросов).

                    li Формирование и совершенствование структуры сайта с учетом кластеров запросов.

                    li Массовое написание текстов с использованием искусственного интеллекта, включающих ключевые фразы и соответствующие требованиям поисковых систем для SEO-продвижения.

                    li Размещение написанных текстов на сайт с оптимизацией заголовков H1-H6 под SEO-продвижение.

                    li Актуализация списка страниц сайта для закупки ссылок и подготовка к ним анкоров (текстов) для ссылок с учетом текущего ссылочного профиля.

                    li Покупка арендных и/или вечных ссылок на страницы из сформированного списка с использованием подготовленных анкоров.

                    li Работа с архитектурой сайта (анализ текущей структуры и ее расширение).

                    li Работа с медиаконтентом (добавление, улучшение).

                    li Формирование отчета по позициям.

                    p.scr_opisanie_keysa_art6__conclusion #[strong И более 7 других важных работ по SEO-продвижению], которое за несколько месяцев эффективной работы подняло сайт клиента на высокие позиции в поисковых системах и позволит удержать и наращивать их в длительной перспективе сотрудничества с нами.


            .scr_opisanie_keysa_art6__partnership

                h3.scr_opisanie_keysa_art6__subtitle Партнерские отношения на долгие годы

                p SEO-продвижение – это такой маркетинговый канал, с которым чем дольше работаешь, тем значительнее результат он приносит. Поэтому с большинством клиентов мы выстраиваем взаимовыгодное эффективное сотрудничество на долгие годы.

            .scr_opisanie_keysa_art6__line


    section.scr_rezultat_keysa_art6.scr_rezultat_keysa_art6_new
        .container 
            h2.scr_rezultat_keysa_art6__title Результат

            p.scr_rezultat_keysa_art6__text За первые 12 месяцев продвижения сайта aqua-tim.ru, мы продвинули в ТОП поисковых систем Яндекс и Google 173 и 116 фраз соответственно.

            .scr_rezultat_keysa_art6__block

                h3.scr_rezultat_keysa_art6__block_title Позиции по нескольким фразам:


                - var vendors = ['Яндекс', 'Google']

                each vendor in vendors


                    .scr_rezultat_keysa_art6__positions 
                        h4.scr_rezultat_keysa_art6__vendor= vendor

                        .scr_rezultat_keysa_art6__positions_wrapper

                            .scr_rezultat_keysa_art6__positions_item

                                p.scr_rezultat_keysa_art6__positions_words Кулеры краснодар

                                include ./blocks/_scr_rezultat_keysa_art6__positions_table

                            .scr_rezultat_keysa_art6__positions_item

                                p.scr_rezultat_keysa_art6__positions_words Купить кулер

                                include ./blocks/_scr_rezultat_keysa_art6__positions_table

                            .scr_rezultat_keysa_art6__positions_item

                                p.scr_rezultat_keysa_art6__positions_words Кулеры краснодар

                                include ./blocks/_scr_rezultat_keysa_art6__positions_table

                            .scr_rezultat_keysa_art6__positions_item

                                p.scr_rezultat_keysa_art6__positions_words Купить кулер

                                include ./blocks/_scr_rezultat_keysa_art6__positions_table



            .scr_rezultat_keysa_art6__block.scr_rezultat_keysa_art6__increase

                h3.scr_rezultat_keysa_art6__block_title Рост трафика из поисковых систем:

                .scr_rezultat_keysa_art6__graph
                    img(srcset="./images/scr_rezultat_keysa_art6/graph.webp, ./images/scr_rezultat_keysa_art6/graph@2x.webp 2x" src="./images/scr_rezultat_keysa_art6/graph.webp" alt="График роста трафика из поисковых систем")
                    img(srcset="./images/scr_rezultat_keysa_art6/graph_mob.webp, ./images/scr_rezultat_keysa_art6/graph_mob@2x.webp 2x" src="./images/scr_rezultat_keysa_art6/graph_mob.webp" alt="График роста трафика из поисковых систем")


            .scr_rezultat_keysa_art6__achievements

                .scr_rezultat_keysa_art6__indicator 
                    p.scr_rezultat_keysa_art6__value 173
                    p.scr_rezultat_keysa_art6__descr фразы в ТОП Яндекс

                .scr_rezultat_keysa_art6__indicator 
                    p.scr_rezultat_keysa_art6__value 116
                    p.scr_rezultat_keysa_art6__descr фраз в ТОП Google

                .scr_rezultat_keysa_art6__indicator 
                    p.scr_rezultat_keysa_art6__value в 5,3 раза
                    p.scr_rezultat_keysa_art6__descr увеличили трафик#[br]из поисковых систем


                .scr_rezultat_keysa_art6__indicator 
                    p.scr_rezultat_keysa_art6__value 473%
                    p.scr_rezultat_keysa_art6__descr общий рост трафика

            .scr_rezultat_keysa_art6__line




            h3.scr_rezultat_keysa_art6__subtitle Отзыв клиента

            .scr_rezultat_keysa_art6__img
                -
                    var imgSizes = "(max-width: 575px) 95vw, 487px"

                    var imgSrcset = "./images/scr_rezultat_keysa_art6/reviews_small_400.webp 400w, ./images/scr_rezultat_keysa_art6/reviews_small_600.webp 600w, ./images/scr_rezultat_keysa_art6/reviews_small_800.webp 800w, ./images/scr_rezultat_keysa_art6/reviews_small_974.webp 974w"

                    var imgSrc = "scr_rezultat_keysa_art6/reviews_small_800"

                +img(imgSizes, imgSrcset, imgSrc, 'Отзыв компании Астра-Пул', 487, 690, true)

    .scr_review_modal
        .scr_review_modal__overlay
        .scr_review_modal__wrapper

            -
                var imgSizes = "(max-width: 1300px) 88vw, 1160px"

                var imgSrcset = "./images/scr_rezultat_keysa_art6/reviews_full_600.webp 600w, ./images/scr_rezultat_keysa_art6/reviews_full_900.webp 900w, ./images/scr_rezultat_keysa_art6/reviews_full_1200.webp 1200w, ./images/scr_rezultat_keysa_art6/reviews_full_1600.webp 1600w, ./images/scr_rezultat_keysa_art6/reviews_full_1948.webp 1948w"

                var imgSrc = "scr_rezultat_keysa_art6/reviews_full_1600"

            +img(imgSizes, imgSrcset, imgSrc, 'Отзыв компании', 1160, 1640, true)

            button.scr_review_modal__btn(type="button" aria-label="Закрыть окно")
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M25.3327 8.54602L23.4527 6.66602L15.9993 14.1193L8.54602 6.66602L6.66602 8.54602L14.1193 15.9993L6.66602 23.4527L8.54602 25.3327L15.9993 17.8793L23.4527 25.3327L25.3327 23.4527L17.8793 15.9993L25.3327 8.54602Z" fill="#1C1C20")



    section.scr_keysy_art6
        .container
            h2.scr_keysy_art6__title.index_page_title Еще проекты

            .scr_keysy_art6__cases

                include ./blocks/scr_keysy_art6__item--purple

                include ./blocks/scr_keysy_art6__item--violet

                include ./blocks/scr_keysy_art6__item--red

                include ./blocks/scr_keysy_art6__item--blue


    include ./blocks/_scr_forma_footer_art6














 
