extends base/_layout
block vars
    - var pageName = 'company-page scrolling-titles-exist'
block head
    title Art6 - О компании
block page

    include ./blocks/_scr_company_art6


    .scr_karusel_foto_art6
        .scr_karusel_foto_art6__slider.swiper

            .container
                .scr_karusel_foto_art6__nav
                    button.scr_karusel_foto_art6__prev(type="button" aria-label="Показать предыдущий слайд")
                    button.scr_karusel_foto_art6__next(type="button" aria-label="Показать следующий слайд")

            .scr_karusel_foto_art6__wrapper.swiper-wrapper

                img.scr_karusel_foto_art6__slide.swiper-slide(src="./images/scr_karusel_foto_art6/karusel_foto_1.webp" srcset="./images/scr_karusel_foto_art6/karusel_foto_1.webp, ./images/scr_karusel_foto_art6/karusel_foto_1@2x.webp" width="823" height="600" alt="Фото 1" loading="lazy" decoding="async")

                img.scr_karusel_foto_art6__slide.swiper-slide(src="./images/scr_karusel_foto_art6/karusel_foto_2.webp" srcset="./images/scr_karusel_foto_art6/karusel_foto_2.webp, ./images/scr_karusel_foto_art6/karusel_foto_2@2x.webp" width="380" height="600" alt="Фото 2" loading="lazy" decoding="async")

                img.scr_karusel_foto_art6__slide.swiper-slide(src="./images/scr_karusel_foto_art6/karusel_foto_3.webp" srcset="./images/scr_karusel_foto_art6/karusel_foto_3.webp, ./images/scr_karusel_foto_art6/karusel_foto_3@2x.webp" width="507" height="600" alt="Фото 3" loading="lazy" decoding="async")

                img.scr_karusel_foto_art6__slide.swiper-slide(src="./images/scr_karusel_foto_art6/karusel_foto_4.webp" srcset="./images/scr_karusel_foto_art6/karusel_foto_4.webp, ./images/scr_karusel_foto_art6/karusel_foto_4@2x.webp" width="927" height="600" alt="Фото 4" loading="lazy" decoding="async")

                img.scr_karusel_foto_art6__slide.swiper-slide(src="./images/scr_karusel_foto_art6/karusel_foto_1.webp" srcset="./images/scr_karusel_foto_art6/karusel_foto_1.webp, ./images/scr_karusel_foto_art6/karusel_foto_1@2x.webp" width="823" height="600" alt="Фото 1" loading="lazy" decoding="async")

                img.scr_karusel_foto_art6__slide.swiper-slide(src="./images/scr_karusel_foto_art6/karusel_foto_2.webp" srcset="./images/scr_karusel_foto_art6/karusel_foto_2.webp, ./images/scr_karusel_foto_art6/karusel_foto_2@2x.webp" width="380" height="600" alt="Фото 2" loading="lazy" decoding="async")


        .container 
            button.scr_karusel_foto_art6__more(type="button") Показать больше




    .scr_komanda_foto_art6
        .container

            h3.scr_komanda_foto_art6__title Команда
    
            ul.scr_komanda_foto_art6__list
                - var komanda_counter = 0;

                while komanda_counter < 16
                    li.scr_komanda_foto_art6__item
                        .scr_komanda_foto_art6__img
                            img(src="./images/scr_komanda_art6/slide_1@2x.webp" srcset="./images/scr_komanda_art6/slide_1.webp, ./images/scr_komanda_art6/slide_1@2x.webp 2x" alt="Дружко Игорь, директор" width="339" height="339" loading="lazy" decoding="async")
                        p.scr_komanda_foto_art6__name #[span Джурко Игорь]
                        p.scr_komanda_foto_art6__post Директор

                    - komanda_counter++


            button.scr_komanda_foto_art6__more(type="button") Показать больше



    include ./blocks/_scr_dostizheniya_art6


    include ./blocks/_scr_sertif_partnery_art6


    include ./blocks/_scr_text_director_art6


    include ./blocks/_scr_klienty_onas_art6




    include ./blocks/_scr_forma_footer_art6


