extends base/_layout
block vars
    - var pageName = 'culture-page scrolling-titles-exist'
block head
    title ART6 - Культура digital-агентства ART6
block page

    section.first_scr_with_scroll
        .container
            .first_scr_with_scroll__title__block.index_page__title_block.hidescrollbar
                .scroll_container
                    h1.first_scr_with_scroll__title.index_page_title
                        span Культура digital-агентства ART6
                        span Культура


            p.first_scr_with_scroll__subtitle 
                span Эффективные digital решения


    .scr_elemsotrudn_uslugi_art6
        .container

            .scr_elemsotrudn_uslugi_art6__wrapper

                .scr_elemsotrudn_uslugi_art6__list

                    .scr_elemsotrudn_uslugi_art6__item

                        .scr_elemsotrudn_uslugi_art6__name.scr_elemsotrudn_uslugi_art6__name_with_icon Эффективность

                        .scr_elemsotrudn_uslugi_art6__text
                            p Команда сфокусирована на результате, а не процессе работы. Каждый сотрудник стремится добиться максимальной эффективности в выполнении поставленной перед ним задачи.


                    .scr_elemsotrudn_uslugi_art6__item

                        .scr_elemsotrudn_uslugi_art6__name Ответственность

                        .scr_elemsotrudn_uslugi_art6__text

                            p Эффективность решений достигается за счет заинтересованности сотрудников в высоких показателях и достижении целей, а также их ответственности за результат



                    .scr_elemsotrudn_uslugi_art6__item

                        .scr_elemsotrudn_uslugi_art6__name Эко-френдли

                        .scr_elemsotrudn_uslugi_art6__text

                            p Команда любит природу и стремится сохранить ее чистоту и красоту. Мы заинтересованы в поддержании экологии на территории города, страны и всего мира.


                .scr_elemsotrudn_uslugi_art6__list

                    .scr_elemsotrudn_uslugi_art6__item

                        .scr_elemsotrudn_uslugi_art6__name Развитие

                        .scr_elemsotrudn_uslugi_art6__text
                            p Команда сфокусирована на результате, а не процессе работы. Каждый сотрудник стремится добиться максимальной эффективности в выполнении поставленной перед ним задачи. 


                    .scr_elemsotrudn_uslugi_art6__item

                        .scr_elemsotrudn_uslugi_art6__name Сплоченность

                        .scr_elemsotrudn_uslugi_art6__text
                            p Отношения в команде строятся на честности, открытости, уважении друг к другу, тесном, открытом и плодотворном сотрудничестве


    include ./blocks/_scr_forma_footer_art6
