extends base/_layout
block vars
    - var pageName = 'history-page scrolling-titles-exist'
block head
    title ART6 - История digital-агентства ART6
block page

    section.first_scr_with_scroll
        .container
            .first_scr_with_scroll__title__block.index_page__title_block.hidescrollbar
                .scroll_container
                    h1.first_scr_with_scroll__title.index_page_title
                        span История digital-агентства ART6
                        span История

            .scr_istoriya_art6__wrapper.scr_istoriya_art6__wrapper_first
                .scr_istoriya_art6__step
                    p.scr_istoriya_art6__year 2013

                    .scr_istoriya_art6__content 
                        p.scr_istoriya_art6__descr 13.07.2013 – официальная дата основания компании ART6. Создан собственный сайт, привлечены первые клиенты, в команду принят первый специалист
                        .scr_istoriya_art6__img 
                            img(srcset="./images/scr_istoriya_art6/history_2013.webp, ./images/scr_istoriya_art6/history_2013@2x.webp 2x" src="./images/scr_istoriya_art6/history_2013.webp" alt="" width="740" height="420" deconding="async" loading="lazy")

    .scr_istoriya_art6
        .container
            .scr_istoriya_art6__wrapper
            
                .scr_istoriya_art6__step
                    p.scr_istoriya_art6__year 2014

                    .scr_istoriya_art6__content 
                        p.scr_istoriya_art6__descr Осуществляется развитие основного вектора услуг – разработка сайтов, SEO-продвижение, контекстная реклама
                        .scr_istoriya_art6__img 
                            img(srcset="./images/scr_istoriya_art6/history_2014.webp, ./images/scr_istoriya_art6/history_2014@2x.webp 2x" src="./images/scr_istoriya_art6/history_2014.webp" alt="" width="740" height="420" deconding="async" loading="lazy")

                .scr_istoriya_art6__step
                    p.scr_istoriya_art6__year 2015

                    .scr_istoriya_art6__content 
                        p.scr_istoriya_art6__descr Штат специалистов растет до 6 сотрудников, команда переезжает в новый офис с окраины города в центр Краснодара
                        .scr_istoriya_art6__img 
                            img(srcset="./images/scr_istoriya_art6/history_2013.webp, ./images/scr_istoriya_art6/history_2013@2x.webp 2x" src="./images/scr_istoriya_art6/history_2013.webp" alt="" width="740" height="420" deconding="async" loading="lazy")

                .scr_istoriya_art6__step
                    p.scr_istoriya_art6__year 2016

                    .scr_istoriya_art6__content 
                        p.scr_istoriya_art6__descr ART6 становится сертифицированным партнером компании Яндекс, что является официальным подтверждением профессионализма агентства.#[br]Осуществляется переезд в более просторный офис площадью 130 кв.м.
                        .scr_istoriya_art6__img 
                            img(srcset="./images/scr_istoriya_art6/history_2016.webp, ./images/scr_istoriya_art6/history_2016@2x.webp 2x" src="./images/scr_istoriya_art6/history_2016.webp" alt="" width="740" height="420" deconding="async" loading="lazy")

                .scr_istoriya_art6__step
                    p.scr_istoriya_art6__year 2017

                    .scr_istoriya_art6__content 
                        p.scr_istoriya_art6__descr Число постоянных клиентов на SEO-продвижении и контекстной рекламе приближается к 60, а число разработанных сайтов к 100
                        .scr_istoriya_art6__img 
                            img(srcset="./images/scr_istoriya_art6/history_2017.webp, ./images/scr_istoriya_art6/history_2017@2x.webp 2x" src="./images/scr_istoriya_art6/history_2017.webp" alt="" width="740" height="420" deconding="async" loading="lazy")

                .scr_istoriya_art6__step
                    p.scr_istoriya_art6__year 2018

                    .scr_istoriya_art6__content 
                        p.scr_istoriya_art6__descr Агентство становится сертифицированным партнером компании Google, выполняя все требования по качественному ведению рекламы для клиентов
                        .scr_istoriya_art6__img 
                            img(srcset="./images/scr_istoriya_art6/history_2018.webp, ./images/scr_istoriya_art6/history_2018@2x.webp 2x" src="./images/scr_istoriya_art6/history_2018.webp" alt="" width="740" height="420" deconding="async" loading="lazy")

                .scr_istoriya_art6__step
                    p.scr_istoriya_art6__year 2019

                    .scr_istoriya_art6__content 
                        p.scr_istoriya_art6__descr Команда профессионалов компании насчитывает уже 15 специалистов. Появляются новые направления – таргетированная и медийная реклама
                        .scr_istoriya_art6__img 
                            img(srcset="./images/scr_istoriya_art6/history_2019.webp, ./images/scr_istoriya_art6/history_2019@2x.webp 2x" src="./images/scr_istoriya_art6/history_2019.webp" alt="" width="740" height="420" deconding="async" loading="lazy")

                .scr_istoriya_art6__step
                    p.scr_istoriya_art6__year 2020

                    .scr_istoriya_art6__content 
                        p.scr_istoriya_art6__descr Компания четко формулирует свои культурные ценности, приоритеты развится, переквалифицируется из интернет-агентства в digital-агентство. Утверждается слоган – “эффективные digital-решения”. Разрабатывается новая – 3-я версия собственного сайта. Агентство сильно погружается в маркетинговые каналы: SEO-продвижение, контекстная и таргетированная реклама
                        .scr_istoriya_art6__img 
                            img(srcset="./images/scr_istoriya_art6/history_2020.webp, ./images/scr_istoriya_art6/history_2020@2x.webp 2x" src="./images/scr_istoriya_art6/history_2020.webp" alt="" width="740" height="420" deconding="async" loading="lazy")

        .container.scr_istoriya_art6__container
            .scr_istoriya_art6__wrapper


                .scr_istoriya_art6__step
                    p.scr_istoriya_art6__year 2021

                    .scr_istoriya_art6__content 
                        p.scr_istoriya_art6__descr Digital-агентство выходит за пределы Краснодара и клиенты появляются более чем в 30 регионах России (от Калининграда (часовой пояс -1 относительно нас), до Хабаровска (часовой пояс +6)), а также в Турции и Китае. Происходит тщательная отладка процессов по удаленной работе с клиентами из любого региона и часового пояса. Агентство входит в ТОП-2 по разработке и продвижению сайтов согласно Рейтингу Рунета в Краснодаре
                        .scr_istoriya_art6__img 
                            img(srcset="./images/scr_istoriya_art6/history_2021.webp, ./images/scr_istoriya_art6/history_2021@2x.webp 2x" src="./images/scr_istoriya_art6/history_2021.webp" alt="" width="740" height="420" deconding="async" loading="lazy")

                .scr_istoriya_art6__step
                    p.scr_istoriya_art6__year 2022

                    .scr_istoriya_art6__content 
                        p.scr_istoriya_art6__descr ART6 продолжает расширяться по всей России и количество постоянных клиентов насчитывает уже более 230. Компания работает со всеми отраслями, но накапливается самая большая экспертиза в медицине, строительстве и мебели. Штат компании составляет 18 профессионалов своего дела
                        .scr_istoriya_art6__img 
                            img(srcset="./images/scr_istoriya_art6/history_2022.webp, ./images/scr_istoriya_art6/history_2022@2x.webp 2x" src="./images/scr_istoriya_art6/history_2022.webp" alt="" width="740" height="420" deconding="async" loading="lazy")

                .scr_istoriya_art6__step
                    p.scr_istoriya_art6__year 2023

                    .scr_istoriya_art6__content 
                        p.scr_istoriya_art6__descr Компания структурирует и детально прорабатывает собственные бизнес-процессы, в результате чего еще сильнее растет эффективность и слаженность команды. Запускается новая 4-я версия собственного сайта, на котором отражаются все основные аспекты ART6.
                        .scr_istoriya_art6__img.last-step-img
                            img(srcset="./images/scr_istoriya_art6/history_2013.webp, ./images/scr_istoriya_art6/history_2013@2x.webp 2x" src="./images/scr_istoriya_art6/history_2013.webp" alt="" width="740" height="420" deconding="async" loading="lazy")


                .scr_istoriya_art6__goals
                    .scr_istoriya_art6__goals_inner
                        p.scr_istoriya_art6__goals__title Планы на ближайшие 3 года

                        ul.scr_istoriya_art6__goals_list 
                            li Увеличение количества постоянных клиентов, особенно за счет регионов по всей России

                            li Увеличение количества сотрудников с тщательным отбором и интеграцией их в общую эффективную структуру

                            li Непрерывное повышение эффективности бизнес-процессов компании для достижения высочайших результатов в клиентских проектах.



    include ./blocks/_scr_forma_footer_art6
