extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Main
block page

    section.first_scr_main_art6
        .container

            h1.first_scr_main_art6__title
                span Целевые клиенты
                span из
                span Интернета
            p.first_scr_main_art6__subtitle #[span В сотрудничестве с эффективным] #[br.first_scr_main_art6__380-br] #[span digital-агентством]

            ul.first_scr_main_art6__list 
                li.first_scr_main_art6__item Клиенты в 2 раза дешевле за счет эффективного подхода
                li.first_scr_main_art6__item Исследование и стратегия – залог дальнейшего успеха
                li.first_scr_main_art6__item Широкие возможности с упором на результат
                li.first_scr_main_art6__item Все работы осуществляются агентством “под ключ”


    section.scr_scrolling_right_art6.hidescrollbar
        .container
            .scr_scrolling_right_art6__wrapper
                h2.scr_scrolling_right_art6__title
                    span.first_word.
                        Комплексны#[span.letter й#[span.manager]]
                        #[span.designer]
                        #[span.proger]
                        #[span.support]
                        #[span.seo]
                        #[span.adw]
                    .
                        интернет-маркетинг


                p.scr_scrolling_right_art6__subtitle
                    .
                        За
                    span.years_amount 10#[span.years_lines]
                    .
                        лет digital-агентство ART6
                    span.color_blocks
                        span.develop разработало#[span.proger]#[span.manager]
                        span.promotion продвинуло#[span.seo]
                        span.advertise прорекламировало#[span.adw]
                    .
                        более
                    span.sites_amount 500
                    .
                        сайтов для более чем
                    span.clients_amount 300#[span.clients_lines]
                    .
                        клиентов из Краснодара и
                    span.regions_amount 37
                    .
                        регионов России.

                span.scr_scrolling_right_art6__offset

            //- for small screen (less then 992px)

            .scr_scrolling_right_art6__wrapper-sm


                h2.scr_scrolling_right_art6__title-sm #[span Комплексный]#[br] интернет-маркетинг
                p.scr_scrolling_right_art6__subtitle-sm С 2013 года digital-агентство ART6 разработало, продвинуло и прорекламировало более 500 сайтов для более чем 300 клиентов из Краснодара и 37 регионов России.


    section.scr_uslugi_art6
        .scr_uslugi_art6__title__block.index_page__title_block.hidescrollbar
            .container
                h2.scr_uslugi_art6__title.index_page_title Широкие возможности с упором на результат #[span]

                h2.scr_uslugi_art6__title-sm.index_page_title-sm Широкие возможности


        .scr_uslugi_art6__wrapper

            article.scr_uslugi_art6__item
                .container
                    .scr_uslugi_art6__inner
                        .scr_uslugi_art6__content
                            h2.scr_uslugi_art6__heading Создание сайтов

                            p.scr_uslugi_art6__subheading Разрабатываем высококонверсионные сайты на CMS 1С-Битрикс и платформе Tilda

                            a.scr_uslugi_art6__more(href="#") Подробнее +
                            a.scr_uslugi_art6__all(href="#") Все услуги

                        .scr_uslugi_art6__img 
                            img(src="./images/scr_uslugi_art6/services-1.webp" alt="создание сайтов")

            article.scr_uslugi_art6__item
                .container
                    .scr_uslugi_art6__inner
                        .scr_uslugi_art6__content
                            h2.scr_uslugi_art6__heading SEO-продвижение сайтов

                            p.scr_uslugi_art6__subheading Разрабатываем высококонверсионные сайты на CMS 1С-Битрикс и платформе Tilda

                            a.scr_uslugi_art6__more(href="#") Подробнее +
                            a.scr_uslugi_art6__all(href="#") Все услуги

                        .scr_uslugi_art6__img 
                            img(src="./images/scr_uslugi_art6/services-1.webp" alt="создание сайтов")

            article.scr_uslugi_art6__item
                .container
                    .scr_uslugi_art6__inner
                        .scr_uslugi_art6__content
                            h2.scr_uslugi_art6__heading Контекстная реклама

                            p.scr_uslugi_art6__subheading Разрабатываем высококонверсионные сайты на CMS 1С-Битрикс и платформе Tilda

                            a.scr_uslugi_art6__more(href="#") Подробнее +
                            a.scr_uslugi_art6__all(href="#") Все услуги

                        .scr_uslugi_art6__img 
                            img(src="./images/scr_uslugi_art6/services-1.webp" alt="создание сайтов")


    section.scr_keysy_art6
        .scr_keysy_art6__title__block.index_page__title_block.hidescrollbar
            .container
                h2.scr_keysy_art6__title.index_page_title Ооогромное количество проектов #[span]

                h2.scr_keysy_art6__title-sm.index_page_title-sm Наши проекты

        .container

            .scr_keysy_art6__wrapper

                p.scr_keysy_art6__subtitle Более #[span 1 000] проектов в digital-маркетинге с #[span 2013] года

                ul.scr_keysy_art6__filters 
                    li: input.scr_keysy_art6__filter(type="button" value="Все работы")
                    li: input.scr_keysy_art6__filter(type="button" value="Создание сайтов")
                    li: input.scr_keysy_art6__filter(type="button" value="SEO-продвижение")
                    li: input.scr_keysy_art6__filter(type="button" value="Реклама")
                    li: input.scr_keysy_art6__filter(type="button" value="Маркетинг")

                .scr_keysy_art6__cases 

                    .scr_keysy_art6__group.scr_keysy_art6__group-left

                        .scr_keysy_art6__case.scr_keysy_art6__case-red
                            .scr_keysy_art6__img
                                img(src="./images/scr_keysy_art6/case-1.webp" alt="")
                            h3.scr_keysy_art6__heading: span Черноголовка
                            p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 
                            a(href="#") 

                        .scr_keysy_art6__case.scr_keysy_art6__case-purple
                            h3.scr_keysy_art6__heading: span Акватим
                            p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 
                            .scr_keysy_art6__img
                                img(src="./images/scr_keysy_art6/case-2.webp" alt="")
                            .scr_keysy_art6__data
                                .scr_keysy_art6__rate
                                    span 5,2% 
                                    span CR на РСЯ
                                .scr_keysy_art6__rate
                                    span 10% 
                                    span CR на поиске
                                .scr_keysy_art6__rate
                                    span 742₽
                                    span стоимость лида РСЯ
                            a(href="#")


                        .scr_keysy_art6__case.scr_keysy_art6__case-dark-blue
                            h3.scr_keysy_art6__heading: span Evi Clinic
                            p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 

                            .scr_keysy_art6__data
                                .scr_keysy_art6__rate
                                    span 5,2% 
                                    span CR на РСЯ
                                .scr_keysy_art6__rate
                                    span 10% 
                                    span CR на поиске
                                .scr_keysy_art6__rate
                                    span 742₽
                                    span стоимость лида РСЯ

                            .scr_keysy_art6__img
                                img(src="./images/scr_keysy_art6/case-3.webp" alt="")
                            a(href="#")

                    //- right

                    .scr_keysy_art6__group.scr_keysy_art6__group-right

                        .scr_keysy_art6__case.scr_keysy_art6__case-blue
                            h3.scr_keysy_art6__heading: span Italtherm
                            p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 
                            .scr_keysy_art6__img
                                img(src="./images/scr_keysy_art6/case-4.webp" alt="")
                            a(href="#")

                        .scr_keysy_art6__case.scr_keysy_art6__case-violet
                            h3.scr_keysy_art6__heading: span Астра–Пул
                            p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ)
                            .scr_keysy_art6__data
                                .scr_keysy_art6__rate
                                    span 5,2% 
                                    span CR на РСЯ
                                .scr_keysy_art6__rate
                                    span 10% 
                                    span CR на поиске
                                .scr_keysy_art6__rate
                                    span 742₽
                                    span стоимость лида РСЯ
                            .scr_keysy_art6__data
                                .scr_keysy_art6__rate
                                    span 5,2% 
                                    span CR на РСЯ
                                .scr_keysy_art6__rate
                                    span 10% 
                                    span CR на поиске
                                .scr_keysy_art6__rate
                                    span 742₽
                                    span стоимость лида РСЯ

                            p.scr_keysy_art6__info Увеличение количества целевых заявок в B2С сегменте. Выход и закрепление на рынки всех регионов России

                            .scr_keysy_art6__img
                                img(src="./images/scr_keysy_art6/case-5.webp" alt="")
                            a(href="#")

                        .scr_keysy_art6__case.scr_keysy_art6__case-green
                            h3.scr_keysy_art6__heading: span Aurora
                            p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 
                            .scr_keysy_art6__img
                                img(src="./images/scr_keysy_art6/case-6.webp" alt="")
                            a(href="#")

            a.scr_keysy_art6__more(href="#") Показать больше





