extends base/_layout
block vars
    - var pageName = 'index scrolling-titles-exist'
block head
    title Main
block page

    section.first_scr_main_art6
        .container

            h1.first_scr_main_art6__title
                span Целевые клиенты 
                span из
                span Интернета
                
            p.first_scr_main_art6__subtitle 
                span В сотрудничестве с эффективным digital-агентством
                //- span В сотрудничестве с эффективным
                //- span digital-агентством
            //- p.first_scr_main_art6__subtitle #[span В сотрудничестве с эффективным] #[br.first_scr_main_art6__380-br] #[span digital-агентством]

            ul.first_scr_main_art6__list 
                li.first_scr_main_art6__item Клиенты в 2 раза дешевле за счет эффективного подхода
                li.first_scr_main_art6__item Исследование и стратегия – залог дальнейшего успеха
                li.first_scr_main_art6__item Широкие возможности с упором на результат
                li.first_scr_main_art6__item Все работы осуществляются агентством “под ключ”


    section.scr_scrolling_right_art6.hidescrollbar
        .container
            .scr_scrolling_right_art6__wrapper
                .scr_scrolling_right_art6__scroll
                    h2.scr_scrolling_right_art6__title
                        span.first_word.
                            Комплексны#[span.letter й#[span.manager]]
                            #[span.designer]
                            #[span.proger]
                            #[span.support]
                            #[span.seo]
                            #[span.adw]
                        .
                            интернет-маркетинг


                    p.scr_scrolling_right_art6__subtitle
                        .
                            За
                        span.years_amount 10#[span.years_lines]
                        .
                            лет digital-агентство ART6
                        span.color_blocks
                            span.develop разработало#[span.proger]#[span.manager]
                            span.promotion продвинуло#[span.seo]
                            span.advertise прорекламировало#[span.adw]
                        .
                            более
                        span.sites_amount 500
                        .
                            сайтов для более чем
                        span.clients_amount 300#[span.clients_lines]
                        .
                            клиентов из Краснодара и
                        span.regions_amount 37
                        .
                            регионов России.


                    p.scr_scrolling_right_art6__subtitle-sm С 2013 года digital-агентство ART6 разработало, продвинуло и прорекламировало более 500 сайтов для более чем 300 клиентов из Краснодара и 37 регионов России.


    section.scr_uslugi_art6
        .scr_uslugi_art6__title__block.index_page__title_block.hidescrollbar
            .container
                h2.scr_uslugi_art6__title.index_page_title Услуги


        .scr_uslugi_art6__wrapper

            article.scr_uslugi_art6__item
                .container
                    .scr_uslugi_art6__inner
                        .scr_uslugi_art6__content
                            h3.scr_uslugi_art6__heading Создание сайтов

                            p.scr_uslugi_art6__subheading Разрабатываем высококонверсионные сайты на CMS 1С-Битрикс и платформе Tilda

                            a.scr_uslugi_art6__more(href="./index.html") Подробнее +
                            a.scr_uslugi_art6__all(href="./index.html") Все услуги

                        .scr_uslugi_art6__img 
                            //- img(src="./images/scr_uslugi_art6/services-1.webp" alt="создание сайтов" width="420" height="420")

                            -
                                var imgSizes = "(max-width: 991px) 289px, (max-width: 1300px) 341px, (max-width: 1600px) 383px, 420px"

                                var imgSrcset = "./images/scr_uslugi_art6/services-1_300.webp 300w, ./images/scr_uslugi_art6/services-1_420.webp 420w, ./images/scr_uslugi_art6/services-1_600.webp 600w, ./images/scr_uslugi_art6/services-1_840.webp 820w"

                                var imgSrc = "scr_uslugi_art6/services-1_840"

                            +img(imgSizes, imgSrcset, imgSrc, 'создание сайтов', 420, 420, true)

            article.scr_uslugi_art6__item
                .container
                    .scr_uslugi_art6__inner
                        .scr_uslugi_art6__content
                            h3.scr_uslugi_art6__heading SEO-продвижение сайтов

                            p.scr_uslugi_art6__subheading Разрабатываем высококонверсионные сайты на CMS 1С-Битрикс и платформе Tilda

                            a.scr_uslugi_art6__more(href="./index.html") Подробнее +
                            a.scr_uslugi_art6__all(href="./index.html") Все услуги

                        .scr_uslugi_art6__img 
                            -
                                var imgSizes = "(max-width: 991px) 289px, (max-width: 1300px) 341px, (max-width: 1600px) 383px, 420px"

                                var imgSrcset = "./images/scr_uslugi_art6/services-1_300.webp 300w, ./images/scr_uslugi_art6/services-1_420.webp 420w, ./images/scr_uslugi_art6/services-1_600.webp 600w, ./images/scr_uslugi_art6/services-1_840.webp 820w"

                                var imgSrc = "scr_uslugi_art6/services-1_840"

                            +img(imgSizes, imgSrcset, imgSrc,  "name_1600", 'SEO-продвижение сайтов', 420, 420, true)

            article.scr_uslugi_art6__item
                .container
                    .scr_uslugi_art6__inner
                        .scr_uslugi_art6__content
                            h3.scr_uslugi_art6__heading Контекстная реклама

                            p.scr_uslugi_art6__subheading Разрабатываем высококонверсионные сайты на CMS 1С-Битрикс и платформе Tilda

                            a.scr_uslugi_art6__more(href="./index.html") Подробнее +
                            a.scr_uslugi_art6__all(href="./index.html") Все услуги

                        .scr_uslugi_art6__img 
                            -
                                var imgSizes = "(max-width: 991px) 289px, (max-width: 1300px) 341px, (max-width: 1600px) 383px, 420px"

                                var imgSrcset = "./images/scr_uslugi_art6/services-1_300.webp 300w, ./images/scr_uslugi_art6/services-1_420.webp 420w, ./images/scr_uslugi_art6/services-1_600.webp 600w, ./images/scr_uslugi_art6/services-1_840.webp 820w"

                                var imgSrc = "scr_uslugi_art6/services-1_840"

                            +img(imgSizes, imgSrcset, imgSrc,  "name_1600", 'Контекстная реклама', 420, 420, true)


    include ./blocks/_scr_keysy_art6


    include ./blocks/_scr_text_director_art6


    include ./blocks/_scr_tematiki_art6


    include ./blocks/_scr_company_art6


    include ./blocks/_scr_komanda_art6


    include ./blocks/_scr_dostizheniya_art6


    include ./blocks/_scr_sertif_partnery_art6


    include ./blocks/_scr_klienty_onas_art6


    include ./blocks/_scr_voprosy_art6


    include ./blocks/_scr_forma_footer_art6


    //- -
    //-     var imgSizes = "(max-width: 575px) 100vw, (max-width: 767px) 100vw, (max-width: 1200px) 100vw, (max-width: 1600px) 100vw, 100vw"

    //-     var imgSrcset = "images/name_640.webp 640w, images/name_800.webp 800w, images/name_1200.webp 1200w, images/name_1600.webp 1600w, images/name_2000.webp 2000w"

    //-     var imgSrc = "name_1600"

    //- +img(imgSizes, imgSrcset, imgSrc,  "name_1600", 'hello', false, false, true)
