extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Main
block page

    section.first_scr_main_art6
        .container

            h1.first_scr_main_art6__title
                span Целевые клиенты
                span из
                span Интернета
            p.first_scr_main_art6__subtitle #[span В сотрудничестве с эффективным] #[br.first_scr_main_art6__380-br] #[span digital-агентством]

            ul.first_scr_main_art6__list 
                li.first_scr_main_art6__item Клиенты в 2 раза дешевле за счет эффективного подхода
                li.first_scr_main_art6__item Исследование и стратегия – залог дальнейшего успеха
                li.first_scr_main_art6__item Широкие возможности с упором на результат
                li.first_scr_main_art6__item Все работы осуществляются агентством “под ключ”


    section.scr_scrolling_right_art6.hidescrollbar
        .container
            .scr_scrolling_right_art6__wrapper
                .scr_scrolling_right_art6__scroll
                    h2.scr_scrolling_right_art6__title
                        span.first_word.
                            Комплексны#[span.letter й#[span.manager]]
                            #[span.designer]
                            #[span.proger]
                            #[span.support]
                            #[span.seo]
                            #[span.adw]
                        .
                            интернет-маркетинг


                    p.scr_scrolling_right_art6__subtitle
                        .
                            За
                        span.years_amount 10#[span.years_lines]
                        .
                            лет digital-агентство ART6
                        span.color_blocks
                            span.develop разработало#[span.proger]#[span.manager]
                            span.promotion продвинуло#[span.seo]
                            span.advertise прорекламировало#[span.adw]
                        .
                            более
                        span.sites_amount 500
                        .
                            сайтов для более чем
                        span.clients_amount 300#[span.clients_lines]
                        .
                            клиентов из Краснодара и
                        span.regions_amount 37
                        .
                            регионов России.


                    p.scr_scrolling_right_art6__subtitle-sm С 2013 года digital-агентство ART6 разработало, продвинуло и прорекламировало более 500 сайтов для более чем 300 клиентов из Краснодара и 37 регионов России.


    section.scr_uslugi_art6
        .scr_uslugi_art6__title__block.index_page__title_block.hidescrollbar
            .container
                h2.scr_uslugi_art6__title.index_page_title Услуги


        .scr_uslugi_art6__wrapper

            article.scr_uslugi_art6__item
                .container
                    .scr_uslugi_art6__inner
                        .scr_uslugi_art6__content
                            h3.scr_uslugi_art6__heading Создание сайтов

                            p.scr_uslugi_art6__subheading Разрабатываем высококонверсионные сайты на CMS 1С-Битрикс и платформе Tilda

                            a.scr_uslugi_art6__more(href="./index.html") Подробнее +
                            a.scr_uslugi_art6__all(href="./index.html") Все услуги

                        .scr_uslugi_art6__img 
                            img(src="./images/scr_uslugi_art6/services-1.webp" alt="создание сайтов")

            article.scr_uslugi_art6__item
                .container
                    .scr_uslugi_art6__inner
                        .scr_uslugi_art6__content
                            h3.scr_uslugi_art6__heading SEO-продвижение сайтов

                            p.scr_uslugi_art6__subheading Разрабатываем высококонверсионные сайты на CMS 1С-Битрикс и платформе Tilda

                            a.scr_uslugi_art6__more(href="./index.html") Подробнее +
                            a.scr_uslugi_art6__all(href="./index.html") Все услуги

                        .scr_uslugi_art6__img 
                            img(src="./images/scr_uslugi_art6/services-1.webp" alt="создание сайтов")

            article.scr_uslugi_art6__item
                .container
                    .scr_uslugi_art6__inner
                        .scr_uslugi_art6__content
                            h3.scr_uslugi_art6__heading Контекстная реклама

                            p.scr_uslugi_art6__subheading Разрабатываем высококонверсионные сайты на CMS 1С-Битрикс и платформе Tilda

                            a.scr_uslugi_art6__more(href="./index.html") Подробнее +
                            a.scr_uslugi_art6__all(href="./index.html") Все услуги

                        .scr_uslugi_art6__img 
                            img(src="./images/scr_uslugi_art6/services-1.webp" alt="создание сайтов")


    section.scr_keysy_art6
        .scr_keysy_art6__title__block.index_page__title_block.hidescrollbar
            .container
                h2.scr_keysy_art6__title.index_page_title
                    span Ооогромное количество проектов
                    span Наши проекты


        .container

            .scr_keysy_art6__wrapper

                p.scr_keysy_art6__subtitle Более #[span 1 000] проектов в digital-маркетинге с #[span 2013] года

                ul.scr_keysy_art6__filters 
                    li: input.scr_keysy_art6__filter(type="button" value="Все работы")
                    li: input.scr_keysy_art6__filter(type="button" value="Создание сайтов")
                    li: input.scr_keysy_art6__filter(type="button" value="SEO-продвижение")
                    li: input.scr_keysy_art6__filter(type="button" value="Реклама")
                    li: input.scr_keysy_art6__filter(type="button" value="Маркетинг")

                .scr_keysy_art6__cases 

                    .scr_keysy_art6__group.scr_keysy_art6__group-left

                        .scr_keysy_art6__case.scr_keysy_art6__case-red
                            .scr_keysy_art6__img
                                img(src="./images/scr_keysy_art6/case-1.webp" alt="")
                            p.scr_keysy_art6__heading: span Черноголовка
                            p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 
                            a(href="./index.html" aria-label="Черноголовка ") 

                        .scr_keysy_art6__case.scr_keysy_art6__case-purple
                            p.scr_keysy_art6__heading: span Акватим
                            p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 
                            .scr_keysy_art6__img
                                img(src="./images/scr_keysy_art6/case-2.webp" alt="")
                            .scr_keysy_art6__data
                                .scr_keysy_art6__rate
                                    span 5,2% 
                                    span CR на РСЯ
                                .scr_keysy_art6__rate
                                    span 10% 
                                    span CR на поиске
                                .scr_keysy_art6__rate
                                    span 742₽
                                    span стоимость лида РСЯ
                            a(href="./index.html" aria-label="Акватим ")


                        .scr_keysy_art6__case.scr_keysy_art6__case-dark-blue
                            p.scr_keysy_art6__heading: span Evi Clinic
                            p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 

                            .scr_keysy_art6__data
                                .scr_keysy_art6__rate
                                    span 5,2% 
                                    span CR на РСЯ
                                .scr_keysy_art6__rate
                                    span 10% 
                                    span CR на поиске
                                .scr_keysy_art6__rate
                                    span 742₽
                                    span стоимость лида РСЯ

                            .scr_keysy_art6__img
                                img(src="./images/scr_keysy_art6/case-3.webp" alt="")
                            a(href="./index.html" aria-label="Evi Clinic ")

                    //- right

                    .scr_keysy_art6__group.scr_keysy_art6__group-right

                        .scr_keysy_art6__case.scr_keysy_art6__case-blue
                            p.scr_keysy_art6__heading: span Italtherm
                            p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 
                            .scr_keysy_art6__img
                                img(src="./images/scr_keysy_art6/case-4.webp" alt="")
                            a(href="./index.html" aria-label="Italtherm ")

                        .scr_keysy_art6__case.scr_keysy_art6__case-violet
                            p.scr_keysy_art6__heading: span Астра–Пул
                            p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ)
                            .scr_keysy_art6__data
                                .scr_keysy_art6__rate
                                    span 5,2% 
                                    span CR на РСЯ
                                .scr_keysy_art6__rate
                                    span 10% 
                                    span CR на поиске
                                .scr_keysy_art6__rate
                                    span 742₽
                                    span стоимость лида РСЯ
                            .scr_keysy_art6__data
                                .scr_keysy_art6__rate
                                    span 5,2% 
                                    span CR на РСЯ
                                .scr_keysy_art6__rate
                                    span 10% 
                                    span CR на поиске
                                .scr_keysy_art6__rate
                                    span 742₽
                                    span стоимость лида РСЯ

                            p.scr_keysy_art6__info Увеличение количества целевых заявок в B2С сегменте. Выход и закрепление на рынки всех регионов России

                            .scr_keysy_art6__img
                                img(src="./images/scr_keysy_art6/case-5.webp" alt="")
                            a(href="./index.html" aria-label="Астра–Пул ")

                        .scr_keysy_art6__case.scr_keysy_art6__case-green
                            p.scr_keysy_art6__heading: span Aurora
                            p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 
                            .scr_keysy_art6__img
                                img(src="./images/scr_keysy_art6/case-6.webp" alt="")
                            a(href="./index.html" aria-label="Aurora ")

            a.scr_keysy_art6__more(href="./index.html") Показать больше


    section.scr_text_director_art6
        .scr_text_director_art6__wrapper

            .scr_text_director_art6__bg
                img(src="./images/scr_text_director_art6/scr_text_director_art6_bg.webp" alt="")

                .scr_text_director_art6__director
                    p.scr_text_director_art6__name Джурко Игорь
                    p.scr_text_director_art6__post Директор и руководитель


            .scr_text_director_art6__intro
                .scr_text_director_art6__title__block.index_page__title_block.hidescrollbar
                    .container
                        h2.scr_text_director_art6__title.index_page_title Эффективный и честный подход

        .container

            .scr_text_director_art6__info
                p.scr_text_director_art6__cite
                    span Я лично гарантирую вам честный подход
                    span Работая с нами вы получаете эффективную ответственную команду с огромным опытом оказания услуг в области digital-маркетинга по Краснодару и всей России. Мы заинтересованы в партнерских отношениях на долгие годы или как мы говорим “на всю жизнь” и достижении самых высоких бизнес-результатов для вашей компании.
                    span Выжимаем из интернет-маркетинга максимум за счет грамотной стратегии и подбора эффективных каналов и инструментов.

                .scr_text_director_art6__director-sm
                    p.scr_text_director_art6__name Джурко Игорь
                    p.scr_text_director_art6__post Директор и руководитель

                button.scr_text_director_art6__consultation(type='button') Получить консультацию


    section.scr_tematiki_art6

        .scr_tematiki_art6__inner

            .scr_tematiki_art6__title__block
                .container
                    h2.scr_tematiki_art6__title Экспертиза
                    p.scr_tematiki_art6__subtitle С вероятностью 88% мы имеем опыт работы с вашей тематикой


            //- .scr_tematiki_art6__line

        .scr_tematiki_art6__wrapper
            .container

                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading 
                        span Строительство #[span.scr_tematiki_art6__amount 92]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Асфальтирование
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы


                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading
                        span Мебель#[span.scr_tematiki_art6__amount 82]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Ландшафтный дизайн


                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading
                        span Производство и поставки #[span.scr_tematiki_art6__amount 47]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы

                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading
                        span Мебель #[span.scr_tematiki_art6__amount 82]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Ландшафтный дизайн


                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading 
                        span Медицина #[span.scr_tematiki_art6__amount 150]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Ландшафтный дизайн



                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading
                        span E-commerce #[span.scr_tematiki_art6__amount 25]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Ландшафтный дизайн



                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading
                        span Медицина #[span.scr_tematiki_art6__amount 150]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Ландшафтный дизайн


    section.scr_company_art6
        .scr_company_art6__wrapper

            .scr_company_art6__bg
                img(src="./images/scr_company_art6/scr_company_art6_bg.webp" alt="Наша дружная команда")

                .scr_company_art6__person
                    p.scr_company_art6__name Ваня Комов
                    p.scr_company_art6__post Product Manager

                .scr_company_art6__manager
                    include ./blocks/_icon_manager


            .scr_company_art6__intro
                .scr_company_art6__title__block.index_page__title_block.hidescrollbar
                    .container
                        h2.scr_company_art6__title.index_page_title Команда стратегов и мечтателей

                .container
                    p.scr_company_art6__subtitle Эффективная команда = эффективные  решения

        .container

            p.scr_company_art6__subtitle-sm Эффективная команда = #[br]эффективные  решения

            .scr_company_art6__about
                p Мы помогаем компаниям эффективно решать комплексные маркетинговые задачи: разработка стратегий, аналитика, performance-маркетинг.

                p Достигаем высоких результатов и обеспечиваем стабильный рост за счет многоканальности: разработка сайтов, SEO-продвижение, контекстная, таргетированная и медийная реклама, SERM, CRO, контент-маркетинг.

            section.scr_company_art6__info
                h3.scr_company_art6__info__heading Наша гордость

                .scr_company_art6__list 

                    .scr_company_art6__item
                        p.scr_company_art6__amount 10
                        span.scr_company_art6__descr Лет безукоризненно #[br]работаем в digital-маркетинге

                    .scr_company_art6__item
                        p.scr_company_art6__amount 200+
                        span.scr_company_art6__descr Постоянных клиентов из #[br]37 регионов России


                    .scr_company_art6__item
                        p.scr_company_art6__amount ТОП-4
                        span.scr_company_art6__descr Рейтинга Рунета в категории #[br]интернет-маркетинга

                    .scr_company_art6__item
                        p.scr_company_art6__amount ∞
                        span.scr_company_art6__descr Комплексный индивидуальный #[br]подход к задачам клиента

                    .scr_company_art6__item
                        p.scr_company_art6__amount 20
                        span.scr_company_art6__descr Крутых профессионалов #[br]в эффективной команде

                    .scr_company_art6__item
                        p.scr_company_art6__amount 15+
                        span.scr_company_art6__descr Сфер бизнеса мы досканально #[br]изучили и продвинули



    .scr_komanda_art6
        .container 
            h3.scr_komanda_art6__title Команда

            .scr_komanda_art6__slider.glide
                .scr_komanda_art6__track.glide__track(data-glide-el="track")
                    ul.scr_komanda_art6__list.glide__slides
                        li.scr_komanda_art6__slide.glide__slide
                            .scr_komanda_art6__img
                                img(src="./images/scr_komanda_art6/slide_1_blur.webp" alt="Дружко Игорь, директор")
                                img(src="./images/scr_komanda_art6/slide_1.webp" alt="Дружко Игорь, директор")
                            p.scr_komanda_art6__name #[span Джурко Игорь]
                            p.scr_komanda_art6__post Директор

                        li.scr_komanda_art6__slide.glide__slide
                            .scr_komanda_art6__img
                                img(src="./images/scr_komanda_art6/slide_3_blur.webp" alt="Дружко Игорь, директор")
                                img(src="./images/scr_komanda_art6/slide_3.webp" alt="Дружко Игорь, директор")
                            p.scr_komanda_art6__name #[span Джурко Игорь]
                            p.scr_komanda_art6__post Руководитель SEO-отдела

                        li.scr_komanda_art6__slide.glide__slide
                            .scr_komanda_art6__img
                                img(src="./images/scr_komanda_art6/slide_3_blur.webp" alt="Дружко Игорь, директор")
                                img(src="./images/scr_komanda_art6/slide_3.webp" alt="Дружко Игорь, директор")
                            p.scr_komanda_art6__name #[span Джурко Игорь]
                            p.scr_komanda_art6__post Системный админестратор

                        li.scr_komanda_art6__slide.glide__slide
                            .scr_komanda_art6__img
                                img(src="./images/scr_komanda_art6/slide_3_blur.webp" alt="Дружко Игорь, директор")
                                img(src="./images/scr_komanda_art6/slide_3.webp" alt="Дружко Игорь, директор")
                            p.scr_komanda_art6__name #[span Джурко Игорь]
                            p.scr_komanda_art6__post Програмист

                        li.scr_komanda_art6__slide.glide__slide
                            .scr_komanda_art6__img
                                img(src="./images/scr_komanda_art6/slide_3_blur.webp" alt="Дружко Игорь, директор")
                                img(src="./images/scr_komanda_art6/slide_3.webp" alt="Дружко Игорь, директор")
                            p.scr_komanda_art6__name #[span Джурко Игорь]
                            p.scr_komanda_art6__post Програмист

                .scr_komanda_art6__nav
                    button.scr_komanda_art6__prev(type="button" aria-label="Показать предыдущий слайд")
                    button.scr_komanda_art6__next(type="button" aria-label="Показать следующий слайд")



    section.scr_dostizheniya_art6
        .container 
            h3.scr_dostizheniya_art6__title Достижения

            .scr_dostizheniya_art6__list 

                .scr_dostizheniya_art6__item
                    p.scr_dostizheniya_art6__amount 2
                    p.scr_dostizheniya_art6__descr Рейтинг Рунета в регионе 2023
                    p.scr_dostizheniya_art6__heading E-commerce#[br] (низ. ценовой сегмент)

                .scr_dostizheniya_art6__item
                    p.scr_dostizheniya_art6__amount 3
                    p.scr_dostizheniya_art6__descr Рейтинг Рунета в регионе 2023
                    p.scr_dostizheniya_art6__heading Разработка#[br] и продвижение сайтов


                .scr_dostizheniya_art6__item
                    p.scr_dostizheniya_art6__amount 4
                    p.scr_dostizheniya_art6__descr Рейтинг Рунета в регионе 2023
                    p.scr_dostizheniya_art6__heading Интернет-маркетинг

                .scr_dostizheniya_art6__item
                    p.scr_dostizheniya_art6__amount 5
                    p.scr_dostizheniya_art6__descr Рейтинг Рунета в регионе 2023
                    p.scr_dostizheniya_art6__heading SEO-продвижение


    section.scr_sertif_partnery_art6
        .container 
            h3.scr_sertif_partnery_art6__title Сертифицированные партнеры

            ul.scr_sertif_partnery_art6__list 

                li.scr_sertif_partnery_art6__item
                    .scr_sertif_partnery_art6__img
                        img(src="./images/scr_sertif_partnery_art6/p-1.svg" alt="")

                li.scr_sertif_partnery_art6__item
                    .scr_sertif_partnery_art6__img
                        img(src="./images/scr_sertif_partnery_art6/p-2.svg" alt="")


                li.scr_sertif_partnery_art6__item
                    .scr_sertif_partnery_art6__img
                        img(src="./images/scr_sertif_partnery_art6/p-3.svg" alt="")

                li.scr_sertif_partnery_art6__item
                    .scr_sertif_partnery_art6__img
                        img(src="./images/scr_sertif_partnery_art6/p-4.svg" alt="")



    section.scr_klienty_onas_art6
        .container 
            h2.scr_klienty_onas_art6__title Клиенты о нас
            p.scr_klienty_onas_art6__subtitle Более #[span 250] довольных постоянных клиентов


            ul.scr_klienty_onas_art6__list 

                li.scr_klienty_onas_art6__item
                    .scr_klienty_onas_art6__text
                        p Выражаю благодарность компании Only за успешную реализацию проектов по созданию корпоративного сайта Северстали и цифрового брендбука компании.
                        p Отдельно хотелось бы отметить высокий уровень компетенций компании Only в дизайне сайтов и разработке на 1С-Битрикс

                    .scr_klienty_onas_art6__detail 
                        .scr_klienty_onas_art6__info
                            p.scr_klienty_onas_art6__company Акватим
                            p.scr_klienty_onas_art6__person Начальник управления по КСО и бренду  Д.Ю.Поярков
                        button.scr_klienty_onas_art6__pdf(type="button" aria-label="Открыть файл" data-src="./images/scr_klienty_onas_art6/review-1.webp")
                            span PDF
                            svg(width="72" height="63" viewBox="0 0 72 63" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M72 63V0H32.8666L0 43.8794L15.0154 63H72Z" fill="#1C1C20")



                li.scr_klienty_onas_art6__item
                    .scr_klienty_onas_art6__text
                        p Выражаю благодарность компании Only за успешную реализацию проектов по созданию корпоративного сайта Северстали и цифрового брендбука компании.
                        p Отдельно хотелось бы отметить высокий уровень компетенций компании Only в дизайне сайтов и разработке на 1С-Битрикс

                    .scr_klienty_onas_art6__detail 
                        .scr_klienty_onas_art6__info
                            p.scr_klienty_onas_art6__company Акватим
                            p.scr_klienty_onas_art6__person Начальник управления по КСО и бренду  Д.Ю.Поярков
                        button.scr_klienty_onas_art6__pdf(type="button" aria-label="Открыть файл" data-src="./images/scr_klienty_onas_art6/review-2.webp")
                            span PDF
                            svg(width="72" height="63" viewBox="0 0 72 63" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M72 63V0H32.8666L0 43.8794L15.0154 63H72Z" fill="#1C1C20")



                li.scr_klienty_onas_art6__item
                    .scr_klienty_onas_art6__text
                        p Выражаю благодарность компании Only за успешную реализацию проектов по созданию корпоративного сайта Северстали и цифрового брендбука компании.
                        p Отдельно хотелось бы отметить высокий уровень компетенций компании Only в дизайне сайтов и разработке на 1С-Битрикс

                    .scr_klienty_onas_art6__detail 
                        .scr_klienty_onas_art6__info
                            p.scr_klienty_onas_art6__company Акватим
                            p.scr_klienty_onas_art6__person Начальник управления по КСО и бренду  Д.Ю.Поярков
                        button.scr_klienty_onas_art6__pdf(type="button" aria-label="Открыть файл" data-src="./images/scr_klienty_onas_art6/review-3.webp")
                            span PDF
                            svg(width="72" height="63" viewBox="0 0 72 63" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M72 63V0H32.8666L0 43.8794L15.0154 63H72Z" fill="#1C1C20")

            button.scr_klienty_onas_art6__more(type="button") Показать больше

        include ./blocks/scr_review_modal



    section.scr_voprosy_art6
        .container 
            h2.scr_voprosy_art6__title Частые вопросы

            .scr_voprosy_art6__wrapper

                .scr_voprosy_art6__question
                    h3.scr_voprosy_art6__heading Как можно ознакомиться с планом продвижения? #[span]

                    .scr_voprosy_art6__text
                        p Все зависит от типа конструкции, используемых материалов, размеров и сложности выполнения. Как правило, примерную стоимость изготовления мы сможем озвучить уже при первом звонке, точная стоимость прописывается в договоре и не меняется в дальнейшем.

                .scr_voprosy_art6__question
                    h3.scr_voprosy_art6__heading Как можно ознакомиться с планом продвижения? #[span]

                    .scr_voprosy_art6__text
                        p Все зависит от типа конструкции, используемых материалов, размеров и сложности выполнения. Как правило, примерную стоимость изготовления мы сможем озвучить уже при первом звонке, точная стоимость прописывается в договоре и не меняется в дальнейшем.

                .scr_voprosy_art6__question
                    h3.scr_voprosy_art6__heading Как можно ознакомиться с планом продвижения? #[span]

                    .scr_voprosy_art6__text
                        p Все зависит от типа конструкции, используемых материалов, размеров и сложности выполнения. Как правило, примерную стоимость изготовления мы сможем озвучить уже при первом звонке, точная стоимость прописывается в договоре и не меняется в дальнейшем.

                .scr_voprosy_art6__question
                    h3.scr_voprosy_art6__heading Как можно ознакомиться с планом продвижения? #[span]

                    .scr_voprosy_art6__text
                        p Все зависит от типа конструкции, используемых материалов, размеров и сложности выполнения. Как правило, примерную стоимость изготовления мы сможем озвучить уже при первом звонке, точная стоимость прописывается в договоре и не меняется в дальнейшем.

            button.scr_voprosy_art6__more(type="button") Показать больше



    section.scr_forma_footer_art6
        .container
            p.scr_forma_footer_art6__title Расскажите о вашей задаче
            p.scr_forma_footer_art6__subtitle Исследуем, создадим, продвинем – достигнем высочайших результатов


            form.scr_forma_footer_art6__form(action="#" novalidate)

                .scr_forma_footer_art6__fields
                    .scr_forma_footer_art6__client 
                        .scr_forma_footer_art6__name
                            input.scr_forma_footer_art6__input.required(type="text" placeholder="Имя*" name="client_name" required)

                        .scr_forma_footer_art6__contact
                            input.scr_forma_footer_art6__input.required(type="text" placeholder="Телефон/мессенджер*" name="client_contact" required)

                    textarea.scr_forma_footer_art6__descr(placeholder="Расскажите немного о проекте" cols="30" rows="1")

                    button.scr_forma_footer_art6__submit(type="submit") Отправить

                    p.scr_forma_footer_art6__confirm Нажав на кнопку, вы даете согласие на обработку #[a(href="./index.html") персональных данных]

                ul.scr_forma_footer_art6__list
                    li
                        input.scr_forma_footer_art6__check(type="checkbox" id="strategy")
                        label.scr_forma_footer_art6__subject(for="strategy") Стратегия
                    li
                        input.scr_forma_footer_art6__check(type="checkbox" id="dev")
                        label.scr_forma_footer_art6__subject(for="dev") Разработка
                    li
                        input.scr_forma_footer_art6__check(type="checkbox" id="seo")
                        label.scr_forma_footer_art6__subject(for="seo") Продвижение
                    li
                        input.scr_forma_footer_art6__check(type="checkbox" id="adw")
                        label.scr_forma_footer_art6__subject(for="adw") Реклама
                    li
                        input.scr_forma_footer_art6__check(type="checkbox" id="marketing")
                        label.scr_forma_footer_art6__subject(for="marketing") Маркетинг
                    li
                        input.scr_forma_footer_art6__check(type="checkbox" id="lids")
                        label.scr_forma_footer_art6__subject(for="lids") Лидогенерация
                    li
                        input.scr_forma_footer_art6__check(type="checkbox" id="analitics")
                        label.scr_forma_footer_art6__subject(for="analitics") Аналитика
                    li
                        input.scr_forma_footer_art6__check(type="checkbox" id="support")
                        label.scr_forma_footer_art6__subject(for="support") Поддержка
