extends base/_layout
block vars
    - var pageName = 'index'
block head
    title Main
block page

    section.first_scr_main_art6
        .container

            h1.first_scr_main_art6__title
                span Целевые клиенты
                span из
                span Интернета
            p.first_scr_main_art6__subtitle #[span В сотрудничестве с эффективным] #[br.first_scr_main_art6__380-br] #[span digital-агентством]

            ul.first_scr_main_art6__list 
                li.first_scr_main_art6__item Клиенты в 2 раза дешевле за счет эффективного подхода
                li.first_scr_main_art6__item Исследование и стратегия – залог дальнейшего успеха
                li.first_scr_main_art6__item Широкие возможности с упором на результат
                li.first_scr_main_art6__item Все работы осуществляются агентством “под ключ”


    section.scr_scrolling_right_art6.hidescrollbar
        .container
            .scr_scrolling_right_art6__wrapper
                h2.scr_scrolling_right_art6__title
                    span.first_word.
                        Комплексны#[span.letter й#[span.manager]]
                        #[span.designer]
                        #[span.proger]
                        #[span.support]
                        #[span.seo]
                        #[span.adw]
                    .
                        интернет-маркетинг


                p.scr_scrolling_right_art6__subtitle
                    .
                        За
                    span.years_amount 10#[span.years_lines]
                    .
                        лет digital-агентство ART6
                    span.color_blocks
                        span.develop разработало#[span.proger]#[span.manager]
                        span.promotion продвинуло#[span.seo]
                        span.advertise прорекламировало#[span.adw]
                    .
                        более
                    span.sites_amount 500
                    .
                        сайтов для более чем
                    span.clients_amount 300#[span.clients_lines]
                    .
                        клиентов из Краснодара и
                    span.regions_amount 37
                    .
                        регионов России.

                span.scr_scrolling_right_art6__offset

            //- for small screen (less then 992px)

            .scr_scrolling_right_art6__wrapper-sm


                h2.scr_scrolling_right_art6__title-sm #[span Комплексный]#[br] интернет-маркетинг
                p.scr_scrolling_right_art6__subtitle-sm С 2013 года digital-агентство ART6 разработало, продвинуло и прорекламировало более 500 сайтов для более чем 300 клиентов из Краснодара и 37 регионов России.




