extends base/_layout
block vars
    - var pageName = 'industries'
block head
    title ART6 услуги - Отрасли
block page

    section.first_scr_main_art6
        .container

            h1.first_scr_main_art6__title.index_page_title
                span Отрасли

            p.first_scr_main_art6__subtitle С вероятностью #[span 88%] мы имеем опыт работы с вашей тематикой


    .scr_tematiki_art6

        .scr_tematiki_art6__wrapper
            .container

                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading 
                        span Строительство #[span.scr_tematiki_art6__amount 92]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Асфальтирование
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы


                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading
                        span Мебель#[span.scr_tematiki_art6__amount 82]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Ландшафтный дизайн


                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading
                        span Производство и поставки #[span.scr_tematiki_art6__amount 47]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы

                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading
                        span Мебель #[span.scr_tematiki_art6__amount 82]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Ландшафтный дизайн


                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading 
                        span Медицина #[span.scr_tematiki_art6__amount 150]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Ландшафтный дизайн



                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading
                        span E-commerce #[span.scr_tematiki_art6__amount 25]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Ландшафтный дизайн



                .scr_tematiki_art6__group.one-per-view
                    p.scr_tematiki_art6__heading
                        span Медицина #[span.scr_tematiki_art6__amount 150]
                        span

                    .scr_tematiki_art6__list
                        a.scr_tematiki_art6__item(href="./index.html") Частные дома
                        a.scr_tematiki_art6__item(href="./index.html") Заборы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Навесы
                        a.scr_tematiki_art6__item(href="./index.html") Ремонт домов и квартир
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Лестницы
                        a.scr_tematiki_art6__item(href="./index.html") Ландшафтный дизайна


    include ./blocks/_scr_forma_footer_art6
