extends base/_layout
block vars
    - var pageName = 'our-projects scrolling-titles-exist'
block head
    title ART6 - наши проекты
block page

    include ./blocks/_scr_keysy_art6_page_our_projects

    include ./blocks/_scr_forma_footer_art6
