extends base/_layout
block vars
    - var pageName = 'project'
block head
    title Наш проект - Астра-Пул
block page

    nav.scr_hleb_kroshki_art6(aria-label="Хлебные крошки")
        .container
            ol
                li: a(href="./index.html" aria-label="Перейти на главную") Главная
                li: a(href="./our-projects.html" aria-label="Перейти на общую страницу проектов") Проекты
                li: span Астра–Пул


    section.scr_perv_keys_art6

        .scr_perv_keys_art6__mobile_img
            -
                var imgSizes = "100vw"

                var imgSrcset = "./images/scr_perv_keys_art6/project_screenshot_mob_400.webp 400w, ./images/scr_perv_keys_art6/project_screenshot_mob_640.webp 640w, ./images/scr_perv_keys_art6/project_screenshot_mob_767.webp 767w, ./images/scr_perv_keys_art6/project_screenshot_mob_1534.webp 1534w"

                var imgSrc = "scr_perv_keys_art6/project_screenshot_mob_767"

            +img(imgSizes, imgSrcset, imgSrc, 'скриншот проекта Астра-Пул', 390, 273, false)

        .scr_perv_keys_art6__intro
            .container
                h1.scr_perv_keys_art6__title.index_page_title Астра–Пул

                p.scr_perv_keys_art6__subtitle: span Запуск контекстной рекламы Яндекс.Директ


        .scr_perv_keys_art6__wrapper

            .scr_perv_keys_art6__img
                -
                    var imgSizes = "(max-width: 1300px) 56vw, 58vw"

                    var imgSrcset = "./images/scr_perv_keys_art6/project_screenshot_900.webp 900w, ./images/scr_perv_keys_art6/project_screenshot_1200.webp 1200w, ./images/scr_perv_keys_art6/project_screenshot_1600.webp 1600w, ./images/scr_perv_keys_art6/project_screenshot_2234.webp 2234w"

                    var imgSrc = "scr_perv_keys_art6/project_screenshot_1600"

                +img(imgSizes, imgSrcset, imgSrc, 'скриншот проекта Астра-Пул', 1117, 880, false)

            .scr_perv_keys_art6__descr.container
                .scr_perv_keys_art6__content
                    h3.scr_perv_keys_art6__heading
                        svg(width="15" height="24" viewBox="0 0 15 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M6.37645 22.2879C6.37645 19.5406 6.37645 16.7933 6.37645 14.0461H0L1.50258 11.4718L6.80944 2.37965L8.19838 0V1.71215V9.95393H14.5748L13.0722 12.5282L7.76539 21.6203L6.37645 24V22.2879Z" fill="#1463FF")
                        span Клиент
                    p.scr_perv_keys_art6__text Мясоперерабатывающий комплекс Динской начал свою работу в 2002 году и является лидером среди производителей колбасных изделий и деликатесов Краснодарского края. Осуществляет поставки своей продукции в федеральные розничные сети. Выпускает продукцию под торговыми марками «Естъ», «Ricca Festa», «Кормилица».

                    h3.scr_perv_keys_art6__heading Задача
                    p.scr_perv_keys_art6__text Разработать современный и функциональный сайт с мобильной версией. Реализовать презентабельный дизайн, соответствующий имиджу и статусу компании.

                    h3.scr_perv_keys_art6__heading Адрес проекта
                    a.scr_perv_keys_art6__link(href="#" target="_blank")
                        span centerstroydoc.ru
                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M4.16536 14.658L5.34036 15.833L14.1654 7.00801L14.1654 12.4997H15.832L15.832 4.16634L7.4987 4.16634V5.83301L12.9904 5.83301L4.16536 14.658Z" fill="#166FF5")

                .scr_perv_keys_art6__blank

            .scr_perv_keys_art6__line.container: span


    section.scr_opisanie_keysa_art6
        .container 

            h2.scr_opisanie_keysa_art6__title Исполнение

            p.scr_opisanie_keysa_art6__text Разработали дизайн в соответствии с фирменным стилем компании-производителя. Использовали качественные фотографии и видеофрагменты. Меню сайта расположили сбоку и сделали статичным.

            .scr_opisanie_keysa_art6__img
                -
                    var imgSizes = "(max-width: 991px) 92vw, (max-width: 1300px) 68vw,(max-width: 1600px) 94vw, (max-width: 1600px) 94vw, 1500px"

                    var imgSrcset = "./images/scr_perv_keys_art6/project_1_600.webp 600w, ./images/scr_perv_keys_art6/project_1_900.webp 900w, ./images/scr_perv_keys_art6/project_1_1200.webp 1200w, ./images/scr_perv_keys_art6/project_1_1500.webp 1500w, ./images/scr_perv_keys_art6/project_1_3000.webp 3000w"

                    var imgSrc = "scr_perv_keys_art6/project_screenshot_1600"

                +img(imgSizes, imgSrcset, imgSrc, 'скриншот проекта Астра-Пул', 1117, 880, true)

            p.scr_opisanie_keysa_art6__text Добавили анимацию на блоки сайта, которая срабатывает при скроле. Эффект добавляет сайту динамичности.

            .scr_opisanie_keysa_art6__img
                -
                    var imgSizes = "(max-width: 991px) 92vw, (max-width: 1300px) 68vw,(max-width: 1600px) 94vw, (max-width: 1600px) 94vw, 1500px"

                    var imgSrcset = "./images/scr_perv_keys_art6/project_1_600.webp 600w, ./images/scr_perv_keys_art6/project_1_900.webp 900w, ./images/scr_perv_keys_art6/project_1_1200.webp 1200w, ./images/scr_perv_keys_art6/project_1_1500.webp 1500w, ./images/scr_perv_keys_art6/project_1_3000.webp 3000w"

                    var imgSrc = "scr_perv_keys_art6/project_screenshot_1600"

                +img(imgSizes, imgSrcset, imgSrc, 'скриншот проекта Астра-Пул', 1117, 880, true)

            h3.scr_opisanie_keysa_art6__subtitle Структура сайта

            p.scr_opisanie_keysa_art6__text На сайте отразили всю важную информацию о производителе, показали процесс производства поэтапно, подробно рассказали о каждом виде продукции в отдельной карточке.

            .scr_opisanie_keysa_art6__img
                -
                    var imgSizes = "(max-width: 991px) 92vw, (max-width: 1300px) 68vw,(max-width: 1600px) 94vw, (max-width: 1600px) 94vw, 1500px"

                    var imgSrcset = "./images/scr_perv_keys_art6/project_1_600.webp 600w, ./images/scr_perv_keys_art6/project_1_900.webp 900w, ./images/scr_perv_keys_art6/project_1_1200.webp 1200w, ./images/scr_perv_keys_art6/project_1_1500.webp 1500w, ./images/scr_perv_keys_art6/project_1_3000.webp 3000w"

                    var imgSrc = "scr_perv_keys_art6/project_screenshot_1600"

                +img(imgSizes, imgSrcset, imgSrc, 'скриншот проекта Астра-Пул', 1117, 880, true)


    section.scr_rezultat_keysa_art6
        .container 
            h2.scr_rezultat_keysa_art6__title Результат
            p.scr_rezultat_keysa_art6__text Разработали эксклюзивный, современный, функциональный и презентабельный сайт с качественной мобильной версией. Дизайн и контент отражают деятельность компании и ее статус, а также качество продукции и признание на продовольственном рынке.

            .scr_rezultat_keysa_art6__achievements

                .scr_rezultat_keysa_art6__indicator 
                    p.scr_rezultat_keysa_art6__value 42%
                    p.scr_rezultat_keysa_art6__descr рост выручки в B2B сегменте

                .scr_rezultat_keysa_art6__indicator 
                    p.scr_rezultat_keysa_art6__value 950+
                    p.scr_rezultat_keysa_art6__descr получено целевых#[br]заявок ежемесячно

                .scr_rezultat_keysa_art6__indicator 
                    p.scr_rezultat_keysa_art6__value 5,22%
                    p.scr_rezultat_keysa_art6__descr CR в РСЯ

                .scr_rezultat_keysa_art6__indicator 
                    p.scr_rezultat_keysa_art6__value 742₽
                    p.scr_rezultat_keysa_art6__descr стоимость лида

                .scr_rezultat_keysa_art6__indicator 
                    p.scr_rezultat_keysa_art6__value 10,04%
                    p.scr_rezultat_keysa_art6__descr CR на поиске

                .scr_rezultat_keysa_art6__indicator 
                    p.scr_rezultat_keysa_art6__value 976₽
                    p.scr_rezultat_keysa_art6__descr стоимость лида

            ul.scr_rezultat_keysa_art6__list

                li Построение дилерской сети во всех Федеральных округах Российской Федерации
                li Выход на рынок стран СНГ

            h3.scr_rezultat_keysa_art6__subtitle Отзыв клиента

            .scr_rezultat_keysa_art6__img
                -
                    var imgSizes = "(max-width: 575px) 95vw, 487px"

                    var imgSrcset = "./images/scr_rezultat_keysa_art6/reviews_small_400.webp 400w, ./images/scr_rezultat_keysa_art6/reviews_small_600.webp 600w, ./images/scr_rezultat_keysa_art6/reviews_small_800.webp 800w, ./images/scr_rezultat_keysa_art6/reviews_small_974.webp 974w"

                    var imgSrc = "scr_rezultat_keysa_art6/reviews_small_800"

                +img(imgSizes, imgSrcset, imgSrc, 'Отзыв компании Астра-Пул', 487, 690, true)

    .scr_review_modal
        .scr_review_modal__overlay
        .scr_review_modal__wrapper
            .scr_review_modal__inner
                .scr_review_modal__image
                    -
                        var imgSizes = "(max-width: 1300px) 88vw, 1160px"

                        var imgSrcset = "./images/scr_rezultat_keysa_art6/reviews_full_600.webp 600w, ./images/scr_rezultat_keysa_art6/reviews_full_900.webp 900w, ./images/scr_rezultat_keysa_art6/reviews_full_1200.webp 1200w, ./images/scr_rezultat_keysa_art6/reviews_full_1600.webp 1600w, ./images/scr_rezultat_keysa_art6/reviews_full_1948.webp 1948w"

                        var imgSrc = "scr_rezultat_keysa_art6/reviews_full_1600"

                    +img(imgSizes, imgSrcset, imgSrc, 'Отзыв компании', 1160, 1640, true)

            button.scr_review_modal__btn(type="button" aria-label="Закрыть окно")
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M25.3327 8.54602L23.4527 6.66602L15.9993 14.1193L8.54602 6.66602L6.66602 8.54602L14.1193 15.9993L6.66602 23.4527L8.54602 25.3327L15.9993 17.8793L23.4527 25.3327L25.3327 23.4527L17.8793 15.9993L25.3327 8.54602Z" fill="#1C1C20")



    section.scr_keysy_art6
        .container
            h2.scr_keysy_art6__title.index_page_title Еще проекты

            .scr_keysy_art6__cases

                include ./blocks/scr_keysy_art6__item--purple

                include ./blocks/scr_keysy_art6__item--violet

                include ./blocks/scr_keysy_art6__item--red

                include ./blocks/scr_keysy_art6__item--blue


    include ./blocks/_scr_forma_footer_art6





