extends base/_layout
block vars
    - var pageName = 'promotions'
block head
    title Акции
block page

    section.first_scr_zagolovok_art6

        .first_scr_zagolovok_art6__intro
            .container
                h1.first_scr_zagolovok_art6__title.index_page_title Акции


        -
            var aktsii_data = [
                {
                    name: 'Дарим скидку 20% на рекламу в Яндекс.Бизнес',
                    period: 'С 01.01.24 по 06.06.24'
                },
                {
                    name: 'Бесплатный SEO-аудит – проверим основные показатели сайта',
                    period: 'С 01.02.24 по 01.07.24'
                },
                {
                    name: 'Бесплатный SEO-аудит – проверим основные показатели сайта',
                    period: 'С 01.02.24 по 01.07.24'
                },
                {
                    name: 'Дарим скидку 20% на рекламу в Яндекс.Бизнес',
                    period: 'С 01.01.24 по 06.06.24'
                },
                {
                    name: 'Бесплатный SEO-аудит – проверим основные показатели сайта',
                    period: 'С 01.02.24 по 01.07.24'
                },
                {
                    name: 'Дарим скидку 20% на рекламу в Яндекс.Бизнес',
                    period: 'С 01.01.24 по 06.06.24'
                }
            ]



        .aktsii_art6
            .container

                .aktsii_art6__wrapper 

                    each item in aktsii_data

                        .aktsii_art6__item
                            .aktsii_art6__img 

                                -
                                    var imgSizes = "(max-width: 991px) 92vw, (max-width: 1300px) 39vw, (max-width: 1600px) 46vw, 739px"

                                    var imgSrcset = "./images/aktsii_art6/promotions_1_600.webp 600w, ./images/aktsii_art6/promotions_1_800.webp 800w, ./images/aktsii_art6/promotions_1_1200.webp 1200w, ./images/aktsii_art6/promotions_1_1478.webp 1478w"

                                    var imgSrc = "aktsii_art6/promotions_1_1200"

                                +img(imgSizes, imgSrcset, imgSrc, 'фото акции', 739, 416, false)

                            p.aktsii_art6__name= item.name

                            p.aktsii_art6__period= item.period


                a.aktsii_art6__more.btn_more_arrow(href="./index.html") Прошедшие акции



        +formaFooter('Понравилась акция? Оставьте заявку!')
