extends base/_layout
block vars
    - var pageName = 'reviews-page scrolling-titles-exist'
block head
    title ART6 - отзывы
block page

    section.first_scr_with_scroll
        .container
            .first_scr_with_scroll__title__block.index_page__title_block.hidescrollbar
                .scroll_container
                    h2.first_scr_with_scroll__title.index_page_title
                        span Отзывы о digital-агентстве ART6
                        span Отзывы о digital-агентстве ART6


            p.first_scr_with_scroll__subtitle 
                span Более 300 довольных клиентов, многие сотрудничают с нами от 3 до 8 лет


    .scr_otzyvy
        .container

            .scr_otzyvy__wrapper

                - var n = 0;
                while n < 16

                    .scr_otzyvy__item
                        -
                            var imgSizes = false

                            var imgSrcset = "./images/scr_otzyvy/review.webp, ./images/scr_otzyvy/review@2x.webp 2x"

                            var imgSrc = "scr_otzyvy/review@2x"

                        +img(imgSizes, imgSrcset, imgSrc, 'отзыв', 342, 482, false)

                    - n++



            ul.scr_keysy_art6__pagination(aria-label="Переход по страницам")

                li.current_page: a(href="#" aria-label="Страница 1") 1
                li: a(href="#" aria-label="Страница 2") 2
                li: a(href="#" aria-label="Страница 3") 3
                li: a(href="#" aria-label="Страница 4") 4
                li: a(href="#" aria-label="Страница 5") 5
                li ...
                li: a(href="#" aria-label="Страница 10") 10


    .scr_otzyvy_full 
        .scr_otzyvy_full__overlay


        .scr_otzyvy_full__wrapper
            - var counter = 0;
            while counter < 16

                -
                    var isActive = counter === 0 ? true : false
                     
                    var imgSrcset = `./images/scr_otzyvy/review_full_${counter + 1}.webp, ./images/scr_otzyvy/review_full_${counter + 1}@2x.webp 2x`

                    var imgSrc = `scr_otzyvy/review_full_${counter + 1}@2x`

                +imgWithClass(isActive, imgSrcset, imgSrc, 'отзыв', false, false, true)


                - counter++


            .scr_otzyvy_full__nav 
                button.scr_otzyvy_full__prev(aria-label="Показать предыдущий слайд")
                button.scr_otzyvy_full__next(aria-label="Показать следующий слайд")

            button.scr_otzyvy_full__close(aria-label="Закрыть модальное окно")
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M25.3337 8.54699L23.4537 6.66699L16.0003 14.1203L8.54699 6.66699L6.66699 8.54699L14.1203 16.0003L6.66699 23.4537L8.54699 25.3337L16.0003 17.8803L23.4537 25.3337L25.3337 23.4537L17.8803 16.0003L25.3337 8.54699Z" fill="#1C1C20")







    include ./blocks/_scr_forma_footer_art6
