extends base/_layout
block vars
    - var pageName = 'reviews-page scrolling-titles-exist'
block head
    title ART6 - отзывы
block page

    section.first_scr_with_scroll
        .container
            .first_scr_with_scroll__title__block.index_page__title_block.hidescrollbar
                .scroll_container
                    h1.first_scr_with_scroll__title.index_page_title
                        span Отзывы о digital-агентстве ART6
                        span Отзывы о#[br]digital-агентстве ART6


            p.first_scr_with_scroll__subtitle 
                span Более 300 довольных клиентов, многие сотрудничают с нами от 3 до 8 лет


    .scr_otzyvy
        .container

            .scr_otzyvy__wrapper

                - var n = 0;
                while n < 16

                    .scr_otzyvy__item.scr-image-item(aria-label="Открыть отзыв на весь экран")
                        -
                            var imgSizes = false

                            var imgSrcset = "./images/scr_otzyvy/review.webp, ./images/scr_otzyvy/review@2x.webp 2x"

                            var imgSrc = "scr_otzyvy/review@2x"

                        +img(imgSizes, imgSrcset, imgSrc, 'отзыв', 342, 482, false)

                    - n++



            ul.scr_keysy_art6__pagination(aria-label="Переход по страницам")

                li.current_page: a(href="#" aria-label="Страница 1") 1
                li: a(href="#" aria-label="Страница 2") 2
                li: a(href="#" aria-label="Страница 3") 3
                li: a(href="#" aria-label="Страница 4") 4
                li: a(href="#" aria-label="Страница 5") 5
                li ...
                li: a(href="#" aria-label="Страница 10") 10










    include ./blocks/_scr_forma_footer_art6
