section.scr_text_director_art6
    .scr_text_director_art6__wrapper

        .scr_text_director_art6__bg
            img(src="./images/scr_text_director_art6/scr_text_director_art6_bg.webp" alt="" width="1314" height="880")

            .scr_text_director_art6__director
                p.scr_text_director_art6__name Джурко Игорь
                p.scr_text_director_art6__post Директор и руководитель


        .scr_text_director_art6__intro
            .scr_text_director_art6__title__block.index_page__title_block.hidescrollbar
                .container
                    h2.scr_text_director_art6__title.index_page_title Эффективный и честный подход

    .container

        .scr_text_director_art6__info
            p.scr_text_director_art6__cite
                span Я лично гарантирую вам честный подход
                span Работая с нами вы получаете эффективную ответственную команду с огромным опытом оказания услуг в области digital-маркетинга по Краснодару и всей России. Мы заинтересованы в партнерских отношениях на долгие годы или как мы говорим “на всю жизнь” и достижении самых высоких бизнес-результатов для вашей компании.
                span Выжимаем из интернет-маркетинга максимум за счет грамотной стратегии и подбора эффективных каналов и инструментов.

            .scr_text_director_art6__director-sm
                p.scr_text_director_art6__name Джурко Игорь
                p.scr_text_director_art6__post Директор и руководитель

            button.scr_text_director_art6__consultation(type='button') Получить консультацию
