section.scr_voprosy_art6
    .container 
        h2.scr_voprosy_art6__title Частые вопросы

        .scr_voprosy_art6__wrapper

            .scr_voprosy_art6__question
                h3.scr_voprosy_art6__heading Как можно ознакомиться с планом продвижения? #[span]

                .scr_voprosy_art6__text
                    p Все зависит от типа конструкции, используемых материалов, размеров и сложности выполнения. Как правило, примерную стоимость изготовления мы сможем озвучить уже при первом звонке, точная стоимость прописывается в договоре и не меняется в дальнейшем.

            .scr_voprosy_art6__question
                h3.scr_voprosy_art6__heading Как можно ознакомиться с планом продвижения? #[span]

                .scr_voprosy_art6__text
                    p Все зависит от типа конструкции, используемых материалов, размеров и сложности выполнения. Как правило, примерную стоимость изготовления мы сможем озвучить уже при первом звонке, точная стоимость прописывается в договоре и не меняется в дальнейшем.

            .scr_voprosy_art6__question
                h3.scr_voprosy_art6__heading Как можно ознакомиться с планом продвижения? #[span]

                .scr_voprosy_art6__text
                    p Все зависит от типа конструкции, используемых материалов, размеров и сложности выполнения. Как правило, примерную стоимость изготовления мы сможем озвучить уже при первом звонке, точная стоимость прописывается в договоре и не меняется в дальнейшем.

            .scr_voprosy_art6__question
                h3.scr_voprosy_art6__heading Как можно ознакомиться с планом продвижения? #[span]

                .scr_voprosy_art6__text
                    p Все зависит от типа конструкции, используемых материалов, размеров и сложности выполнения. Как правило, примерную стоимость изготовления мы сможем озвучить уже при первом звонке, точная стоимость прописывается в договоре и не меняется в дальнейшем.

        button.scr_voprosy_art6__more(type="button") Показать больше
