section.scr_company_art6
    .scr_company_art6__wrapper

        .scr_company_art6__bg
            img(src="./images/scr_company_art6/scr_company_art6_bg.webp" alt="Наша дружная команда" width="1920" height="881")

            .scr_company_art6__person.scr_company_art6__person--arrow_right.scr_company_art6__manager1.hidden
                p.scr_company_art6__name Ваня Комов
                p.scr_company_art6__post
                    | Product#[br]Manager
                    span
                        svg(width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M26.6089 24.6565L0.694215 17.5263L13.6898 13.7427L14.89 0.843353L26.6089 24.6565Z" fill="#8e8e93")

            .scr_company_art6__person.scr_company_art6__person--arrow_left.scr_company_art6__manager2.hidden
                p.scr_company_art6__name Ваня Комов
                p.scr_company_art6__post
                    | Product#[br]Manager
                    span
                        svg(width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M0.000464651 24.6565L25.9152 17.5263L12.9195 13.7427L11.7193 0.843353L0.000464651 24.6565Z" fill="#8E8E93")

            .scr_company_art6__person.scr_company_art6__person--arrow_right.scr_company_art6__manager3.hidden
                p.scr_company_art6__name Ваня Комов
                p.scr_company_art6__post
                    | Product#[br]Manager
                    span
                        svg(width="27" height="25" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M26.6089 24.6565L0.694215 17.5263L13.6898 13.7427L14.89 0.843353L26.6089 24.6565Z" fill="#8e8e93")


        .scr_company_art6__intro
            .scr_company_art6__title__block.index_page__title_block.hidescrollbar
                .container
                    h2.scr_company_art6__title.index_page_title Команда стратегов и мечтателей

            .container
                p.scr_company_art6__subtitle Эффективная команда = эффективные  решения

    .container

        p.scr_company_art6__subtitle-sm Эффективная команда = #[br]эффективные  решения

        .scr_company_art6__about
            p Мы помогаем компаниям эффективно решать комплексные маркетинговые задачи: разработка стратегий, аналитика, performance-маркетинг.

            p Достигаем высоких результатов и обеспечиваем стабильный рост за счет многоканальности: разработка сайтов, SEO-продвижение, контекстная, таргетированная и медийная реклама, SERM, CRO, контент-маркетинг.

        section.scr_company_art6__info
            h3.scr_company_art6__info__heading Наша гордость

            .scr_company_art6__list 

                .scr_company_art6__item
                    p.scr_company_art6__amount 10
                    span.scr_company_art6__descr Лет безукоризненно #[br]работаем в digital-маркетинге

                .scr_company_art6__item
                    p.scr_company_art6__amount 200+
                    span.scr_company_art6__descr Постоянных клиентов из #[br]37 регионов России


                .scr_company_art6__item
                    p.scr_company_art6__amount ТОП-4
                    span.scr_company_art6__descr Рейтинга Рунета в категории #[br]интернет-маркетинга

                .scr_company_art6__item
                    p.scr_company_art6__amount ∞
                    span.scr_company_art6__descr Комплексный индивидуальный #[br]подход к задачам клиента

                .scr_company_art6__item
                    p.scr_company_art6__amount 20
                    span.scr_company_art6__descr Крутых профессионалов #[br]в эффективной команде

                .scr_company_art6__item
                    p.scr_company_art6__amount 15+
                    span.scr_company_art6__descr Сфер бизнеса мы досканально #[br]изучили и продвинули
