section.scr_dostizheniya_art6
    .container 
        h3.scr_dostizheniya_art6__title Достижения

        .scr_dostizheniya_art6__list 

            .scr_dostizheniya_art6__item
                p.scr_dostizheniya_art6__amount 2
                p.scr_dostizheniya_art6__descr Рейтинг Рунета в регионе 2023
                p.scr_dostizheniya_art6__heading E-commerce#[br] (низ. ценовой сегмент)

            .scr_dostizheniya_art6__item
                p.scr_dostizheniya_art6__amount 3
                p.scr_dostizheniya_art6__descr Рейтинг Рунета в регионе 2023
                p.scr_dostizheniya_art6__heading Разработка#[br] и продвижение сайтов


            .scr_dostizheniya_art6__item
                p.scr_dostizheniya_art6__amount 4
                p.scr_dostizheniya_art6__descr Рейтинг Рунета в регионе 2023
                p.scr_dostizheniya_art6__heading Интернет-маркетинг

            .scr_dostizheniya_art6__item
                p.scr_dostizheniya_art6__amount 5
                p.scr_dostizheniya_art6__descr Рейтинг Рунета в регионе 2023
                p.scr_dostizheniya_art6__heading SEO-продвижение
