section.scr_keysy_art6
    .scr_keysy_art6__title__block.index_page__title_block.hidescrollbar
        .container
            h2.scr_keysy_art6__title.index_page_title
                span Ооогромное количество проектов
                span Наши проекты


    .container

        .scr_keysy_art6__wrapper

            p.scr_keysy_art6__subtitle Более #[span 1 000] проектов в digital-маркетинге с #[span 2013] года

            ul.scr_keysy_art6__filters 
                li: input.scr_keysy_art6__filter(type="button" value="Все работы")
                li: input.scr_keysy_art6__filter(type="button" value="Создание сайтов")
                li: input.scr_keysy_art6__filter(type="button" value="SEO-продвижение")
                li: input.scr_keysy_art6__filter(type="button" value="Реклама")
                li: input.scr_keysy_art6__filter(type="button" value="Маркетинг")

            .scr_keysy_art6__cases 

                .scr_keysy_art6__group.scr_keysy_art6__group-left

                    .scr_keysy_art6__case.scr_keysy_art6__case-red
                        .scr_keysy_art6__img
                            img(src="./images/scr_keysy_art6/case-1.webp" alt="" width="596" height="435")
                        p.scr_keysy_art6__heading: span Черноголовка
                        p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 
                        a(href="./index.html" aria-label="Черноголовка ") 

                    .scr_keysy_art6__case.scr_keysy_art6__case-purple
                        p.scr_keysy_art6__heading: span Акватим
                        p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 
                        .scr_keysy_art6__img
                            img(src="./images/scr_keysy_art6/case-2.webp" alt="" width="617" height="300")
                        .scr_keysy_art6__data
                            .scr_keysy_art6__rate
                                span 5,2% 
                                span CR на РСЯ
                            .scr_keysy_art6__rate
                                span 10% 
                                span CR на поиске
                            .scr_keysy_art6__rate
                                span 742₽
                                span стоимость лида РСЯ
                        a(href="./index.html" aria-label="Акватим ")


                    .scr_keysy_art6__case.scr_keysy_art6__case-dark-blue
                        p.scr_keysy_art6__heading: span Evi Clinic
                        p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 

                        .scr_keysy_art6__data
                            .scr_keysy_art6__rate
                                span 5,2% 
                                span CR на РСЯ
                            .scr_keysy_art6__rate
                                span 10% 
                                span CR на поиске
                            .scr_keysy_art6__rate
                                span 742₽
                                span стоимость лида РСЯ

                        .scr_keysy_art6__img
                            img(src="./images/scr_keysy_art6/case-3.webp" alt="" width="617" height="356")
                        a(href="./index.html" aria-label="Evi Clinic ")

                //- right

                .scr_keysy_art6__group.scr_keysy_art6__group-right

                    .scr_keysy_art6__case.scr_keysy_art6__case-blue
                        p.scr_keysy_art6__heading: span Italtherm
                        p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 
                        .scr_keysy_art6__img
                            img(src="./images/scr_keysy_art6/case-4.webp" alt="" width="617" height="300")
                        a(href="./index.html" aria-label="Italtherm ")

                    .scr_keysy_art6__case.scr_keysy_art6__case-violet
                        p.scr_keysy_art6__heading: span Астра–Пул
                        p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ)
                        .scr_keysy_art6__data
                            .scr_keysy_art6__rate
                                span 5,2% 
                                span CR на РСЯ
                            .scr_keysy_art6__rate
                                span 10% 
                                span CR на поиске
                            .scr_keysy_art6__rate
                                span 742₽
                                span стоимость лида РСЯ
                        .scr_keysy_art6__data
                            .scr_keysy_art6__rate
                                span 5,2% 
                                span CR на РСЯ
                            .scr_keysy_art6__rate
                                span 10% 
                                span CR на поиске
                            .scr_keysy_art6__rate
                                span 742₽
                                span стоимость лида РСЯ

                        p.scr_keysy_art6__info Увеличение количества целевых заявок в B2С сегменте. Выход и закрепление на рынки всех регионов России

                        .scr_keysy_art6__img
                            img(src="./images/scr_keysy_art6/case-5.webp" alt="" width="340" height="340")
                        a(href="./index.html" aria-label="Астра–Пул ")

                    .scr_keysy_art6__case.scr_keysy_art6__case-green
                        p.scr_keysy_art6__heading: span Aurora
                        p.scr_keysy_art6__text Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 
                        .scr_keysy_art6__img
                            img(src="./images/scr_keysy_art6/case-6.webp" alt="" width="617" height="300")
                        a(href="./index.html" aria-label="Aurora ")

        a.scr_keysy_art6__more.btn_more_arrow(href="./index.html") Показать больше
