section.scr_sertif_partnery_art6
    .container 
        h3.scr_sertif_partnery_art6__title Сертифицированные партнеры

        ul.scr_sertif_partnery_art6__list

            li.scr_sertif_partnery_art6__item
                .scr_sertif_partnery_art6__img
                    img(src="./images/scr_sertif_partnery_art6/p-1.svg" alt="" width="265" height="120")

            li.scr_sertif_partnery_art6__item
                .scr_sertif_partnery_art6__img
                    img(src="./images/scr_sertif_partnery_art6/p-2.svg" alt="" width="265" height="120")


            li.scr_sertif_partnery_art6__item
                .scr_sertif_partnery_art6__img
                    img(src="./images/scr_sertif_partnery_art6/p-3.svg" alt="" width="265" height="120")

            li.scr_sertif_partnery_art6__item
                .scr_sertif_partnery_art6__img
                    img(src="./images/scr_sertif_partnery_art6/p-4.svg" alt="" width="256" height="117")
