section.scr_text_director_art6
    .scr_text_director_art6__wrapper

        .scr_text_director_art6__bg
            //- img(src="./images/scr_text_director_art6/scr_text_director_art6_bg.webp" alt="" width="1314" height="880")

            -
                var imgSizes = "100vw"

                var imgSrcset = "./images/scr_text_director_art6/scr_text_director_art6_bg_640.webp 640w, ./images/scr_text_director_art6/scr_text_director_art6_bg_1000.webp 1000w, ./images/scr_text_director_art6/scr_text_director_art6_bg_1600.webp 1600w, ./images/scr_text_director_art6/scr_text_director_art6_bg_2000.webp 2000w, ./images/scr_text_director_art6/scr_text_director_art6_bg_3840.webp 2500w"

                var imgSrc = "scr_text_director_art6/scr_text_director_art6_bg_2000.webp"

            +img(imgSizes, imgSrcset, imgSrc, 'Директор и руководитель компании ART6  - Джурко Игорь', 1920, 880, true)

            //- .scr_text_director_art6__director
            //-     p.scr_text_director_art6__name Джурко Игорь
            //-     p.scr_text_director_art6__post Директор и руководитель


        .scr_text_director_art6__intro
            .scr_text_director_art6__title__block.index_page__title_block.hidescrollbar
                .container
                    h2.scr_text_director_art6__title.index_page_title Эффективный и честный подход

    .container

        .scr_text_director_art6__info
            p.scr_text_director_art6__cite
                span Я лично гарантирую вам честный подход
                span Работая с нами вы получаете эффективную ответственную команду с огромным опытом оказания услуг в области digital-маркетинга по Краснодару и всей России. Мы заинтересованы в партнерских отношениях на долгие годы или как мы говорим “на всю жизнь” и достижении самых высоких бизнес-результатов для вашей компании.
                span Выжимаем из интернет-маркетинга максимум за счет грамотной стратегии и подбора эффективных каналов и инструментов.

            .scr_text_director_art6__director-sm
                p.scr_text_director_art6__name Джурко Игорь
                p.scr_text_director_art6__post Директор и руководитель

            button.scr_text_director_art6__consultation(type='button') Получить консультацию
