section.scr_klienty_onas_art6
    .container 
        h2.scr_klienty_onas_art6__title Клиенты о нас
        p.scr_klienty_onas_art6__subtitle Более #[span 250] довольных постоянных клиентов


        ul.scr_klienty_onas_art6__list 

            li.scr_klienty_onas_art6__item
                .scr_klienty_onas_art6__text
                    p Выражаю благодарность компании Only за успешную реализацию проектов по созданию корпоративного сайта Северстали и цифрового брендбука компании.
                    p Отдельно хотелось бы отметить высокий уровень компетенций компании Only в дизайне сайтов и разработке на 1С-Битрикс

                .scr_klienty_onas_art6__detail 
                    .scr_klienty_onas_art6__info
                        p.scr_klienty_onas_art6__company Акватим
                        p.scr_klienty_onas_art6__person Начальник управления по КСО и бренду  Д.Ю.Поярков
                    button.scr_klienty_onas_art6__pdf(type="button" aria-label="Открыть файл" data-src="./images/scr_klienty_onas_art6/review-1.webp")
                        span PDF
                        svg(width="72" height="63" viewBox="0 0 72 63" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M72 63V0H32.8666L0 43.8794L15.0154 63H72Z" fill="#1C1C20")



            li.scr_klienty_onas_art6__item
                .scr_klienty_onas_art6__text
                    p Выражаю благодарность компании Only за успешную реализацию проектов по созданию корпоративного сайта Северстали и цифрового брендбука компании.
                    p Отдельно хотелось бы отметить высокий уровень компетенций компании Only в дизайне сайтов и разработке на 1С-Битрикс

                .scr_klienty_onas_art6__detail 
                    .scr_klienty_onas_art6__info
                        p.scr_klienty_onas_art6__company Акватим
                        p.scr_klienty_onas_art6__person Начальник управления по КСО и бренду  Д.Ю.Поярков
                    button.scr_klienty_onas_art6__pdf(type="button" aria-label="Открыть файл" data-src="./images/scr_klienty_onas_art6/review-2.webp")
                        span PDF
                        svg(width="72" height="63" viewBox="0 0 72 63" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M72 63V0H32.8666L0 43.8794L15.0154 63H72Z" fill="#1C1C20")



            li.scr_klienty_onas_art6__item
                .scr_klienty_onas_art6__text
                    p Выражаю благодарность компании Only за успешную реализацию проектов по созданию корпоративного сайта Северстали и цифрового брендбука компании.
                    p Отдельно хотелось бы отметить высокий уровень компетенций компании Only в дизайне сайтов и разработке на 1С-Битрикс

                .scr_klienty_onas_art6__detail 
                    .scr_klienty_onas_art6__info
                        p.scr_klienty_onas_art6__company Акватим
                        p.scr_klienty_onas_art6__person Начальник управления по КСО и бренду  Д.Ю.Поярков
                    button.scr_klienty_onas_art6__pdf(type="button" aria-label="Открыть файл" data-src="./images/scr_klienty_onas_art6/review-3.webp")
                        span PDF
                        svg(width="72" height="63" viewBox="0 0 72 63" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(fill-rule="evenodd" clip-rule="evenodd" d="M72 63V0H32.8666L0 43.8794L15.0154 63H72Z" fill="#1C1C20")

        button.scr_klienty_onas_art6__more(type="button") Показать больше

    include ./scr_review_modal

