.scr_info_modal
    .scr_info_modal__overlay
    .scr_info_modal__wrapper
        .scr_info_modal__inner
            .scr_info_modal__top
                p.scr_info_modal__name
                    span [ i ]
                    span Digital-маркетинг

                button.scr_info_modal__btn(type="button" aria-label="Закрыть окно")
                    svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(d="M25.3327 8.54602L23.4527 6.66602L15.9993 14.1193L8.54602 6.66602L6.66602 8.54602L14.1193 15.9993L6.66602 23.4527L8.54602 25.3327L15.9993 17.8793L23.4527 25.3327L25.3327 23.4527L17.8793 15.9993L25.3327 8.54602Z" fill="#1C1C20")

            .scr_info_modal__content
                .scr_info_modal__descr
                    p Можно смело утверждать, что digital-маркетинг не только является обозначением стратегии продвижения с использованием цифровых устройств, но и также синонимом современных маркетинговых инструментов. Дело не только в том, что потребители сегодня проводят много времени в интернете и используют для выхода в сеть свои мобильные устройства.

                    p В перегруженном информационном пространстве очень сложно получить внимание потребителей. Это приводит к тому, что люди готовы воспринимать предложения компаний только в том случае, если они соответствуют интересам и запросам. Сегодня рекламная коммуникация должна оказываться перед глазами клиента в нужное время и в нужном месте — в момент, когда он находится в поиске решения и максимально заинтересован рассматривать поступающие к нему предложения. В этом случае у компании есть шанс получить желаемую реакцию в ответ.
                    p Можно смело утверждать, что digital-маркетинг не только является обозначением стратегии продвижения с использованием цифровых устройств, но и также синонимом современных маркетинговых инструментов. Дело не только в том, что потребители сегодня проводят много времени в интернете и используют для выхода в сеть свои мобильные устройства.

                    p В перегруженном информационном пространстве очень сложно получить внимание потребителей. Это приводит к тому, что люди готовы воспринимать предложения компаний только в том случае, если они соответствуют интересам и запросам. Сегодня рекламная коммуникация должна оказываться перед глазами клиента в нужное время и в нужном месте — в момент, когда он находится в поиске решения и максимально заинтересован рассматривать поступающие к нему предложения. В этом случае у компании есть шанс получить желаемую реакцию в ответ.
                    p Можно смело утверждать, что digital-маркетинг не только является обозначением стратегии продвижения с использованием цифровых устройств, но и также синонимом современных маркетинговых инструментов. Дело не только в том, что потребители сегодня проводят много времени в интернете и используют для выхода в сеть свои мобильные устройства.

                    p В перегруженном информационном пространстве очень сложно получить внимание потребителей. Это приводит к тому, что люди готовы воспринимать предложения компаний только в том случае, если они соответствуют интересам и запросам. Сегодня рекламная коммуникация должна оказываться перед глазами клиента в нужное время и в нужном месте — в момент, когда он находится в поиске решения и максимально заинтересован рассматривать поступающие к нему предложения. В этом случае у компании есть шанс получить желаемую реакцию в ответ.


