.scr_keysy_art6__item.scr_keysy_art6__item--purple
    p.scr_keysy_art6__name: span Афипская дорожная компания
    p.scr_keysy_art6__descr Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 

    .scr_keysy_art6__img
        img(srcset="./images/scr_keysy_art6/case-purple.webp, ./images/scr_keysy_art6/case-purple@2x.webp 2x" src="./images/scr_keysy_art6/case-purple@2x.webp" alt="" width="619" height="337" loading="lazy" decoding="async")


    .scr_keysy_art6__data
        .scr_keysy_art6__group
            p.scr_keysy_art6__value 5,2% 
            p.scr_keysy_art6__text CR на РСЯ
        .scr_keysy_art6__group
            p.scr_keysy_art6__value 10% 
            p.scr_keysy_art6__text CR на поиске
        .scr_keysy_art6__group
            p.scr_keysy_art6__value 742₽
            p.scr_keysy_art6__text стоимость лида РСЯ

    a.scr_keysy_art6__link(href="./project.html" aria-label="Акватим")

