.scr_keysy_art6__item.scr_keysy_art6__item--violet
    p.scr_keysy_art6__name: span Астра–Пул
    p.scr_keysy_art6__descr Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 

    .scr_keysy_art6__data
        .scr_keysy_art6__group
            p.scr_keysy_art6__value 5,2% 
            p.scr_keysy_art6__text CR на РСЯ
        .scr_keysy_art6__group
            p.scr_keysy_art6__value 10% 
            p.scr_keysy_art6__text CR на поиске
        .scr_keysy_art6__group
            p.scr_keysy_art6__value 742₽
            p.scr_keysy_art6__text стоимость лида РСЯ

    .scr_keysy_art6__data
        .scr_keysy_art6__group
            p.scr_keysy_art6__value 5,2% 
            p.scr_keysy_art6__text CR на РСЯ
        .scr_keysy_art6__group
            p.scr_keysy_art6__value 10% 
            p.scr_keysy_art6__text CR на поиске
        .scr_keysy_art6__group
            p.scr_keysy_art6__value 742₽
            p.scr_keysy_art6__text стоимость лида РСЯ

    p.scr_keysy_art6__info Увеличение количества целевых заявок в B2С сегменте. Выход и закрепление на рынки всех регионов России

    .scr_keysy_art6__img
        img(srcset="./images/scr_keysy_art6/case-violet.webp, ./images/scr_keysy_art6/case-violet@2x.webp 2x" src="./images/scr_keysy_art6/case-violet@2x.webp" alt="" width="340" height="357" loading="lazy" decoding="async")


    a.scr_keysy_art6__link(href="./project-img-left.html" aria-label="Астра–Пул")
