section.scr_cities_art6
    .scr_cities_art6__overlay
    .scr_cities_art6__wrapper

        .scr_cities_art6__top
            p.scr_cities_art6__title Выберите город
            button.scr_cities_art6__btn(type="button" aria-label="Закрыть окно")
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M25.3327 8.54602L23.4527 6.66602L15.9993 14.1193L8.54602 6.66602L6.66602 8.54602L14.1193 15.9993L6.66602 23.4527L8.54602 25.3327L15.9993 17.8793L23.4527 25.3327L25.3327 23.4527L17.8793 15.9993L25.3327 8.54602Z" fill="#1C1C20")

        input.scr_cities_art6__search(type="text" placeholder="Поиск")

        ul.scr_cities_art6__list 
            li: input.scr_cities_art6__input(type="button" value="Краснодар")
            li: input.scr_cities_art6__input(type="button" value="Ростов-на-Дону")
            li: input.scr_cities_art6__input(type="button" value="Пермь")
            li: input.scr_cities_art6__input(type="button" value="Воронеж")
            li: input.scr_cities_art6__input(type="button" value="Нижний Новгород")
            li: input.scr_cities_art6__input(type="button" value="Челябинск")
            li: input.scr_cities_art6__input(type="button" value="Екатеринбург")
            li: input.scr_cities_art6__input(type="button" value="Саратов")
            li: input.scr_cities_art6__input(type="button" value="Оренбург")
            li: input.scr_cities_art6__input(type="button" value="Электросталь")
            li: input.scr_cities_art6__input(type="button" value="Москва")
            li: input.scr_cities_art6__input(type="button" value="Омск")
            li: input.scr_cities_art6__input(type="button" value="Уфа")
            li: input.scr_cities_art6__input(type="button" value="Санкт-Петербург")











