.scr_keysy_art6__item.scr_keysy_art6__item--green
    p.scr_keysy_art6__name: span Aurora
    p.scr_keysy_art6__descr Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 

    .scr_keysy_art6__img
        img(srcset="./images/scr_keysy_art6/case-green.webp, ./images/scr_keysy_art6/case-green@2x.webp 2x" src="./images/scr_keysy_art6/case-green@2x.webp" alt="" width="619" height="355" loading="lazy" decoding="async")

    a.scr_keysy_art6__link(href="./project.html" aria-label="Aurora")
