.scr_cities_art6
    .scr_cities_art6__overlay
    .scr_cities_art6__wrapper

        .scr_cities_art6__top
            p.scr_cities_art6__title Выберите город
            button.scr_cities_art6__btn(type="button" aria-label="Закрыть окно")
                svg(width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M25.3327 8.54602L23.4527 6.66602L15.9993 14.1193L8.54602 6.66602L6.66602 8.54602L14.1193 15.9993L6.66602 23.4527L8.54602 25.3327L15.9993 17.8793L23.4527 25.3327L25.3327 23.4527L17.8793 15.9993L25.3327 8.54602Z" fill="#1C1C20")

        input.scr_cities_art6__search(type="text" placeholder="Поиск")

        ul.scr_cities_art6__list 
            li: a.scr_cities_art6__input(href="#") Краснодар
            li: a.scr_cities_art6__input(href="#") Ростов-на-Дону
            li: a.scr_cities_art6__input(href="#") Пермь
            li: a.scr_cities_art6__input(href="#") Воронеж
            li: a.scr_cities_art6__input(href="#") Нижний Новгород
            li: a.scr_cities_art6__input(href="#") Челябинск
            li: a.scr_cities_art6__input(href="#") Екатеринбург
            li: a.scr_cities_art6__input(href="#") Саратов
            li: a.scr_cities_art6__input(href="#") Оренбург
            li: a.scr_cities_art6__input(href="#") Электросталь
            li: a.scr_cities_art6__input(href="#") Москва
            li: a.scr_cities_art6__input(href="#") Омск
            li: a.scr_cities_art6__input(href="#") Уфа
            li: a.scr_cities_art6__input(href="#") Санкт-Петербург










