.scr_keysy_art6__item.scr_keysy_art6__item--black
    .scr_keysy_art6__img
        img(src="./images/scr_keysy_art6/case-akvatim.webp" alt="" width="697" height="497")

    .scr_keysy_art6__inner
        p.scr_keysy_art6__name: span Banana Service
        p.scr_keysy_art6__descr Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ) 

        .scr_keysy_art6__data
            .scr_keysy_art6__group
                p.scr_keysy_art6__value 5,2% 
                p.scr_keysy_art6__text CR на РСЯ
            .scr_keysy_art6__group
                p.scr_keysy_art6__value 10% 
                p.scr_keysy_art6__text CR на поиске
            .scr_keysy_art6__group
                p.scr_keysy_art6__value 742₽
                p.scr_keysy_art6__text стоимость лида РСЯ

    a.scr_keysy_art6__link(href="./project.html" aria-label="Banana Service")


