.scr_keysy_art6__item.scr_keysy_art6__item--red
    .scr_keysy_art6__img
        img(src="./images/scr_keysy_art6/case-akvatim.webp" alt="" width="594" height="436")

    .scr_keysy_art6__inner
        p.scr_keysy_art6__name: span Черноголовка
        p.scr_keysy_art6__descr Запуск контекстной рекламы Яндекс.Директ (поиск и РСЯ)

    a.scr_keysy_art6__link(href="./project.html" aria-label="Черноголовка")


