/*=== header_art6 styles===*/

.header_art6 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition-delay: 0.3s;

  @include sm {
    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 3;
      width: 100%;
      height: 100%;
      background-color: $color_white;
      opacity: 0;
      pointer-events: none;
    }

    &::before {
      transition: opacity 0.2s ease-out;
      transition-delay: 0.3s;
    }
  }
}

.header_art6__container {
  max-width: 1920px;
  min-width: 320px;
  min-height: 90px;
  margin: 0 auto;
  padding: 0 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 50px;

  @include xl {
    max-width: 1564px;
    min-height: 80px;
    padding: 0 32px;
  }

  @include md {
    padding: 0 42px 0 32px;
  }

  @include xs {
    min-height: 70px;
    padding: 0 18px 0 15px;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 2;
    width: 100%;
    height: 1px;
    background-color: $color_grey_light;
  }
}

.header_art6__wide-menu {
  width: 100%;
  max-width: 1403px;

  @include xl {
    max-width: 1092px;
  }

  @include lg {
    max-width: 944px;
  }
}

.header_art6__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 50px;

  @include md {
    justify-content: flex-end;
  }

  @include sm {
    justify-content: center;
  }

  @include xs {
    display: none;
  }
}

.header_art6__logo {
  flex-shrink: 0;
  width: 133px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include sm {
    position: relative;
    z-index: 4;
  }
}

.header_art6__links {
  width: 100%;
  max-width: 793px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 19px;

  & > li {
    position: relative;
    padding: 28px 0;

    &:nth-child(n + 8) {
      display: none;
    }
  }

  a,
  button {
    display: inline-block;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.25;
    letter-spacing: -0.03em;
    white-space: nowrap;
    color: $color_grey;
    transition: color 0.2s ease-out;

    @media (hover: hover) {
      &:hover {
        color: $color_dark;
      }
    }
  }

  @include xl {
    max-width: 686px;

    & > li {
      padding: 23px 0;
    }
  }

  @include lg {
    max-width: 468px;

    & > li {
      &:nth-child(n + 3) {
        display: none;
      }

      &:last-child,
      &:nth-last-child(2),
      &:nth-last-child(3) {
        display: block;
      }
    }
  }

  @include md {
    max-width: 378px;

    & > li {
      &:nth-child(6) {
        display: none;
      }
    }
  }

  @include sm {
    display: none;
  }
}

.header_art6__item-has-submenu {
  ul {
    position: absolute;
    top: 100%;
    left: -40px;
    z-index: 4;
    width: 360px;
    padding: 22px 40px;
    background-color: $color_dark;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  }

  &.active > ul {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  button {
    cursor: default;
  }

  li:not(:last-child) {
    margin-bottom: 6px;
  }

  a {
    @media (hover: hover) {
      &:hover {
        color: $color_white;
      }
    }
  }
}

button.header_art6__more,
.header_art6__burger-btn {
  display: flex;
  align-items: center;
  gap: 0 8px;
  font-weight: 600;
  line-height: 2.25;
  letter-spacing: -0.03em;
  white-space: nowrap;
  color: $color_grey;
  transition: color 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      color: $color_dark;

      .header_art6__burger {
        span,
        &::before,
        &::after {
          background-color: $color_dark;
        }

        span {
          transform: translateX(4px);
        }

        &::before {
          transform: translateX(9px);
        }

        &::after {
          transform: translateX(-2px);
        }
      }
    }
  }
}

// more list
.header_art6__item-more {
  ul {
    width: auto;
    min-width: 211px;
  }

  ul {
    ul {
      top: 0;
      left: unset;
      left: 100%;
      background-color: $color_grey;
    }

    ul a {
      color: $color_dark;
    }

    @media (hover: hover) {
      button:hover,
      a:hover {
        color: $color_white;
      }
    }

    li:nth-child(4) {
      display: none;
    }

    @include md {
      li:nth-child(4) {
        display: block;
      }
    }
  }

  .header_art6__item-has-submenu button {
    position: relative;

    &::after {
      content: "";
      display: none;
      position: absolute;
      top: 0;
      left: 100%;
      height: 100%;
      width: 200px;
      background-color: transparent;
    }

    &:hover {
      &::after {
        display: block;
      }
    }
  }
}

// burger button

.header_art6__burger {
  display: block;
  position: relative;
  width: 27px;
  height: 28px;

  span,
  &::before,
  &::after {
    position: absolute;
    left: 3px;
    height: 2px;
    background-color: $color_grey;
    transition: background-color 0.2s ease-out, transform 0.4s ease-out;
  }

  span {
    top: 13px;
    width: 16px;
  }

  &::before {
    content: "";
    top: 7px;
    width: 11px;
  }

  &::after {
    content: "";
    bottom: 7px;
    width: 22px;
  }
}

.header_art6__call {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 57px;

  @include xl {
    gap: 0 31px;
  }

  @include sm {
    position: relative;
    z-index: 4;
  }
}

.header_art6__phone,
.header_art6__cta {
  font-weight: 600;
  line-height: 2.25;
  letter-spacing: -0.03em;
  transition: color 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      color: $color_blue;
    }
  }
}

.header_art6__phone,
.header_art6__moblie-phone {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $color_blue;
  }
}

.header_art6__burger-btn {
  display: none;
  position: relative;
  font-size: 18px;

  & > span:first-child::before,
  & > span:first-child::after {
    position: absolute;
    top: -6px;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
  }

  & > span:first-child::before {
    content: "Меню";
    left: 23px;
  }

  & > span:first-child::after {
    content: "Закрыть";
    left: 0;
    opacity: 0;
    visibility: hidden;
  }

  @include sm {
    position: relative;
    z-index: 4;
    min-width: 122px;
    display: flex;
    justify-content: flex-end;
    gap: 0 17px;
  }
}

// moblie menu styles

.header_art6__mobile-menu {
  display: none;
  position: fixed;
  top: -100%;
  left: 0;
  // top: 0;
  // bottom: 0;
  // left: -100%;
  z-index: -1;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background-color: $color_white;
  overflow-y: auto;
  transition: transform 0.3s ease-out;

  @include sm {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
  }
}

.header_art6__mobile-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 81px;

  @include xs {
    padding-top: 71px;
  }
}

.header_art6__mobile-links {
  flex-grow: 1;
  display: block;
  width: 100%;
  margin-bottom: 47px;
  padding: 0 32px;

  & > li {
    padding: 0;
    transition: background-color 0.2s ease-out;

    // @media (hover: hover) {
    //   &:hover {
    //     background-color: $color_grey_light;
    //   }
    // }

    a,
    button {
      display: inline-block;
      width: 100%;
      font-size: 20px;
      font-weight: 600;
      line-height: 2.3;
      text-align: left;
      color: $color_dark;
    }
  }

  & > li:not(:last-child) {
    margin-bottom: 11px;
  }

  @include xs {
    padding: 13px 15px 0;
  }
}

.header_art6__mobile-item-has-submenu {
  position: relative;
  padding-right: 35px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 28px;
    height: 28px;
    background: url("./../images/header_art6/chevron-down.svg") center / contain
      no-repeat;
    transition: transform 0.2s ease-out;
  }

  &.submenu-opened {
    &::after {
      transform: scaleY(-1);
    }
  }

  // submenu items
  & > ul {
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }

  & li a,
  button {
    font-weight: 500;
    color: $color_grey;
  }
}

.header_art6__mobile-call {
  min-width: 320px;
}

.header_art6__mobile-contacts {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 30px;
  margin-bottom: 12px;
  padding: 0 35px;

  @include xs {
    flex-wrap: wrap;
    gap: 5px 30px;
    padding: 0 15px;
  }
}

.header_art6__moblie-phone,
.header_art6__mobile-email {
  font-size: 20px;
  font-weight: 600;
  line-height: 2.3;
  letter-spacing: -0.03em;
  transition: color 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      color: $color_blue;
    }
  }
}

.header_art6__moblie-phone {
  &::after {
    bottom: 7px;
  }
}

.header_art6__mobile-cta {
  position: relative;
  width: 100%;
  min-height: 98px;
  padding: 13px 70px 0 35px;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  line-height: 2.3;
  letter-spacing: -0.03em;
  color: $color_white;
  background-color: $color_blue;

  &::after {
    content: "";
    position: absolute;
    right: 32px;
    top: 20px;
    width: 28px;
    height: 28px;
    background: url("./../images/header_art6/plus.svg") center / contain
      no-repeat;
  }

  @include xs {
    padding: 13px 50px 0 15px;

    &::after {
      right: 17px;
    }
  }
}

// toggle mobile menu

.header_art6.mobile-menu-open {
  background-color: $color_white;

  @include sm {
    &::before,
    &::after {
      opacity: 1;
    }
  }

  // toggle view of '.header_art6__burger-btn'
  .header_art6__burger-btn {
    color: $color_dark;

    & > span:first-child::before {
      opacity: 0;
      visibility: hidden;
    }

    & > span:first-child::after {
      opacity: 1;
      visibility: visible;
    }

    .header_art6__burger {
      span,
      &::before,
      &::after {
        background-color: $color_dark;
      }

      span {
        transform: translateX(4px);
        opacity: 0;
      }

      &::before {
        transform-origin: center;
        width: 22px;
        transform: translateX(0) translateY(6px) rotate(45deg);
      }

      &::after {
        transform-origin: center;

        transform: translateX(0) translateY(-6px) rotate(-45deg);
      }
    }
  }

  // toggle view of '.header_art6__mobile-menu'
  .header_art6__mobile-menu {
    transform: translateY(100%);
  }
}

// .overlay {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.2);
//   pointer-events: none;
//   opacity: 0;
//   visibility: hidden;
//   transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
// }
