/*=== header_art6 styles===*/

.header_art6 {
  padding: 20px;
  background-color: aquamarine;
}

.header_art6__container {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 54px;
}
