.scr_company_art6 {
  background-color: $color_dark;
  padding-bottom: 128px;

  @include xl {
    padding-bottom: 92px;
  }

  @include lg {
    padding-bottom: 79px;
  }

  @include sm {
    padding-bottom: 68px;
  }

  @include xs {
    padding-bottom: 48px;
  }
}

.scr_company_art6__wrapper {
  position: relative;
  margin-bottom: 53px;

  @include xl {
    margin-bottom: 56px;
  }

  @include lg {
    margin-bottom: 41px;
  }

  @include sm {
    margin-bottom: 38px;
  }

  @include xs {
    margin-bottom: 20px;
  }
}

.scr_company_art6__bg {
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 38.85%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include xl {
    &::after {
      padding-top: 38.85%;
    }
  }

  @include lg {
    &::after {
      padding-top: 42%;
    }
  }

  @include sm {
    margin-bottom: 37px;

    &::after {
      padding-top: 42%;
      // padding-top: 43.39%;
      // padding-top: 47.89%;
    }
  }

  @include xs {
    &::after {
      padding-top: 46.15%;
    }
  }
}

.scr_company_art6__person {
  display: flex;
  align-items: flex-end;
  gap: 23px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: $color_grey;
  transition: all 1s ease-out;

  &.active {
    color: $color_white;

    .scr_company_art6__post {
      span {
        &::before {
          opacity: 1;
        }

        &::after {
          opacity: 0;
        }
        // path {
        //   fill: $color_white;
        // }
      }
    }

    .scr_company_art6__name {
      opacity: 1;
      visibility: visible;
      // animation: typing 3.5s steps(28, end);
      // blink-caret .5s step-end infinite;
    }
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  @include sm {
    display: none;
  }
}

// /* The typing effect */
// @keyframes typing {
//   from {
//     width: 0;
//   }
//   to {
//     width: 100%;
//   }
// }

// /* The typewriter cursor effect */
// @keyframes blink-caret {
//   from,
//   to {
//     border-color: transparent;
//   }
//   50% {
//     border-color: orange;
//   }
// }

// arrow right

.scr_company_art6__person--arrow_right {
  .scr_company_art6__name {
    position: relative;
    // overflow: hidden;
    // white-space: nowrap;
    // width: 0;
    // font-family: monospace;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-out, visibility 1s ease-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: $color_blue;
    }

    &::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      top: 5px;
      right: -13px;
      z-index: 1;
      background-color: $color_white;
    }
  }

  .scr_company_art6__post {
    position: relative;
    text-align: right;

    span {
      position: absolute;
      right: -25px;
      bottom: -15px;
      z-index: 1;
      width: 24px;
      height: 26px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: opacity 1s ease-out;
      }

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='36' viewBox='0 0 34 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.5431 29.4023L5.06517 18.3009L18.493 16.5996L21.6989 4.04745L29.5431 29.4023Z' fill='white' /%3E%3C/svg%3E");
        opacity: 0;
      }

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='36' viewBox='0 0 34 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.5431 29.4023L5.06517 18.3009L18.493 16.5996L21.6989 4.04745L29.5431 29.4023Z' fill='%238e8e93' /%3E%3C/svg%3E");
      }

      @include sm {
        right: -20px;
        bottom: 20px;
        transform: rotate(-84deg);
      }

      // svg {
      //   display: block;
      //   width: 100%;
      //   height: auto;
      //   display: none;
      // }

      // path {
      //   transition: all 1s ease-out;
      // }
    }
  }
}

// arrow left

.scr_company_art6__person--arrow_left {
  .scr_company_art6__name {
    order: 2;
    position: relative;
    // width: 0;
    // font-family: monospace;
    // overflow: hidden;
    // white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-out, visibility 1s ease-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      background-color: $color_blue;
    }

    &::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      top: 5px;
      left: -13px;
      z-index: 1;
      background-color: $color_white;
    }
  }

  .scr_company_art6__post {
    order: 1;
    position: relative;

    span {
      position: absolute;
      left: -25px;
      bottom: -15px;
      z-index: 1;
      width: 24px;
      height: 26px;

      @include sm {
        right: -20px;
        bottom: 20px;
        transform: rotate(84deg);
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: opacity 1s ease-out;
      }

      &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.00154023 25.9869L24.7552 15.522L11.3758 13.4741L8.49546 0.843298L-0.00154023 25.9869Z' fill='white' /%3E%3C/svg%3E");
        opacity: 0;
      }

      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.00154023 25.9869L24.7552 15.522L11.3758 13.4741L8.49546 0.843298L-0.00154023 25.9869Z' fill='%238e8e93' /%3E%3C/svg%3E");
      }
    }
  }
}

// positions of labels

.scr_company_art6__person1 {
  position: absolute;
  // top: 61.1%;
  // left: 25.6%;
  top: 19.9%;
  left: 7.4%;
  z-index: 3;

  @include xl {
    left: 3.3%;
    top: 20%;
  }

  @include lg {
    left: 0.5%;
    top: 18%;
  }

  // @include xl {
  //   top: 60%;
  //   left: 21.3%;
  // }

  // @include sm {
  //   top: 68.2%;
  //   left: 9.5%;
  // }

  // @include xs {
  //   display: none;
  // }
}

.scr_company_art6__person2 {
  position: absolute;
  top: 41%;
  left: 39%;
  z-index: 3;

  @include xl {
    left: 35%;
    top: 42%;
  }

  @include lg {
    left: 29%;
    top: 43%;
  }
}

.scr_company_art6__person3 {
  position: absolute;
  top: 22%;
  left: 78%;
  z-index: 3;

  @include xl {
    top: 21%;
    left: 74%;
  }

  @include lg {
    top: 20%;
    left: 72%;
  }

  // @include xl {
  //   top: 30%;
  //   left: 59%;
  // }

  // @include lg {
  //   top: 30%;
  //   left: 54%;
  // }

  // @include xs {
  //   display: none;
  // }
}

.scr_company_art6__person4 {
  position: absolute;
  top: 62%;
  left: 31.8%;
  z-index: 3;

  @include xl {
    top: 62%;
    left: 31.8%;
  }

  @include lg {
    top: 60%;
    left: 30%;
  }

  // @include xl {
  //   top: 30%;
  //   left: 59%;
  // }

  // @include lg {
  //   top: 30%;
  //   left: 54%;
  // }

  // @include xs {
  //   display: none;
  // }
}

.scr_company_art6__person5 {
  position: absolute;
  // top: 57.7%;
  // left: 85.6%;
  top: 62.4%;
  left: 79.6%;
  z-index: 3;

  @include xl {
    // top: 57.7%;
    // left: 85.6%;
    top: 62.4%;
    left: 79.6%;
  }

  @include lg {
    top: 60.4%;
    left: 82.6%;
  }

  // @include lg {
  //   top: 60%;
  //   left: 80%;
  // }

  // @include sm {
  //   top: 60%;
  //   left: 75%;
  // }

  // @include xs {
  //   display: none;
  // }
}

.scr_company_art6__intro {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;

  @include sm {
    position: relative;
    bottom: unset;
    left: unset;
  }
}

.scr_company_art6__title__block {
  min-height: 254px;
  margin-bottom: 11px;
  font-size: 120px;
  line-height: 83%;
  letter-spacing: -0.02em;

  @include xl {
    min-height: 204px;
    margin-bottom: 0;
  }

  @include lg {
    min-height: 154px;
  }

  @include sm {
    min-height: auto;
  }
}

.scr_company_art6__title {
  color: $color_white;
}

.scr_company_art6__subtitle {
  position: relative;
  width: max-content;
  padding: 10px 10px 10px 15px;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -0.03em;
  color: $color_white;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: $color_blue;
  }

  @include xl {
    padding: 1px 8px 0 9px;
    font-size: 30px;
    line-height: 160%;
  }

  @include lg {
    padding: 0 8px 0 9px;
    font-size: 28px;
    line-height: 171%;
  }

  @include sm {
    display: none;
  }
}

.scr_company_art6__title-sm {
  display: none;

  @include sm {
    display: block;
    max-width: 703px;
    margin-bottom: 35px;
    font-weight: 600;
    font-size: 60px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: $color_white;
  }

  @include xs {
    margin-bottom: 21px;
    font-size: 52px;
    line-height: 115%;
  }

  @include r(360px) {
    font-size: 34px;
  }
}

.scr_company_art6__subtitle-sm {
  display: none;

  @include sm {
    position: relative;
    display: inline;
    padding-right: 7px;
    font-weight: 500;
    font-size: 28px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: $color_white;
    background-color: $color_blue;
  }

  br {
    display: none;
  }

  @include xs {
    position: relative;
    display: inline;
    z-index: 2;
    font-size: 20px;
    line-height: 150%;

    br {
      display: inline;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 102%;
      height: 31px;
      background-color: $color_blue;
    }
  }
}

.scr_company_art6__about {
  max-width: 740px;
  margin: 0 0 174px auto;

  p {
    font-weight: 500;
    font-size: 22px;
    line-height: 164%;
    letter-spacing: -0.03em;
    color: $color_white;

    &:not(:last-child) {
      margin-bottom: 36px;
    }
  }

  @include xl {
    max-width: 579px;
    margin: 0 52px 130px auto;

    p {
      font-size: 18px;
      line-height: 167%;

      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  @include lg {
    max-width: 504px;
    margin: 0 0 103px auto;

    p {
      font-size: 16px;
      line-height: 150%;
    }
  }

  @include sm {
    max-width: 384px;
    margin-top: 32px;

    p {
      font-size: 16px;
      line-height: 150%;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }

  @include xs {
    margin-top: 27px;
    margin-bottom: 67px;
  }
}

.scr_company_art6__info__heading {
  margin-bottom: 56px;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -0.03em;
  color: $color_white;

  @include xl {
    margin-bottom: 33px;
    font-size: 35px;
  }

  @include lg {
    margin-bottom: 61px;
    font-size: 30px;
  }

  @include sm {
    margin-bottom: 10px;
    display: none;
  }
}

.scr_company_art6__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 21px;

  @include xl {
    gap: 23px 21px;
  }

  @include lg {
    gap: 51px 21px;
  }

  @include sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 69px 21px;
  }

  @include xs {
    grid-template-columns: 1fr;
    gap: 55px 0;
  }
}

.scr_company_art6__item {
  min-height: 262px;
  padding: 15px 10px 15px 37px;
  border-left: 2px solid #2e2e32;
  transition: border-color 0.2s ease-out;

  &:hover {
    border-left-color: $color_white;

    .scr_company_art6__descr {
      background-color: $color_blue;
      // box-shadow: 5px 0 $color_blue, 0 0 $color_blue;
    }
  }

  @include xl {
    min-height: 193px;
    padding: 0 10px 15px 25px;
  }

  @include lg {
    min-height: 153px;
    padding: 0 10px 5px 25px;
  }

  @include xs {
    min-height: 172px;
    // padding: 19px 10px 15px 12px;
    padding: 0px 10px 15px 12px;
  }
}

.scr_company_art6__amount {
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 80px;
  line-height: 137%;
  letter-spacing: -0.02em;
  color: $color_white;

  @include xl {
    margin-bottom: 13px;
    font-size: 60px;
    line-height: 183%;
  }

  @include lg {
    font-size: 40px;
    line-height: 190%;
  }

  @include xs {
    margin-bottom: 21px;
  }
}

.scr_company_art6__descr {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: -0.02em;
  color: $color_white;
  transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out;

  @include xl {
    font-size: 18px;
    line-height: 144%;
  }

  @include lg {
    font-size: 16px;
    line-height: 150%;
  }

  @include xs {
    font-size: 20px;
    line-height: 150%;
  }
}

.company-page {
  .scr_company_art6 {
    padding-top: 92px;

    @include xl {
      padding-top: 82px;
    }

    @include sm {
      padding-top: 80px;
    }

    @include xs {
      padding-top: 70px;
    }
  }
}
