.scr_tematiki_art6 {
  margin-bottom: 493px;

  @include xl {
    margin-bottom: 331px;
  }

  @include lg {
    margin-bottom: 271px;
  }

  @include sm {
    margin-bottom: 198px;
  }

  @include xs {
    margin-bottom: 196px;
  }
}

.services-website-creation {
  .scr_tematiki_art6 {
    margin-bottom: 200px;
  }
}

.scr_tematiki_art6__title__block {
  position: relative;
}

// .scr_tematiki_art6__title-sm {
//   @include sm {
//     font-size: 60px;
//     line-height: 117%;
//   }

//   @include xs {
//     font-size: 40px;
//     line-height: 120%;
//   }

//   @media (max-width: 360px) {
//     font-size: 34px;
//   }
// }

.scr_tematiki_art6__title {
  position: relative;
  margin-bottom: 25px;
  padding-top: 124px;
  font-weight: 600;
  font-size: 120px;
  line-height: 83%;
  letter-spacing: -0.02em;
  color: $color_dark;
  // white-space: nowrap;

  @include xl {
    margin-bottom: 15px;
    padding-top: 92px;
    font-size: 90px;
    line-height: 111%;
  }

  @include lg {
    margin-bottom: 30px;
    padding-top: 53px;
    font-size: 80px;
    line-height: 100%;
  }

  @include sm {
    // display: none;
    // margin-bottom: 23px;
    margin-bottom: 10px;
    padding-top: 0;
    // font-size: 60px;
    // line-height: 83%;
    font-size: 60px;
    line-height: 117%;
    white-space: unset;

    // span {
    //   display: none;
    // }
  }

  // @include sm {
  //   font-size: 60px;
  //   line-height: 117%;
  // }

  @include xs {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 120%;
  }

  @media (max-width: 360px) {
    font-size: 34px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 54px;
    left: 2px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-top: 24px solid $color-blue;
    transform: rotate(-14deg);
  }

  @include xl {
    &::before {
      top: 54px;
      left: 9px;
      border-left: 11px solid transparent;
      border-right: 11px solid transparent;
      border-top: 19px solid $color-blue;
    }
  }

  @include lg {
    &::before {
      top: 22px;
    }
  }

  @include sm {
    &::before {
      display: none;
    }
  }
}

.scr_tematiki_art6__subtitle {
  // margin-bottom: 71px;
  margin-bottom: 61px;
  font-weight: 500;
  font-size: 40px;
  line-height: 215%;
  letter-spacing: -0.02em;
  color: $color_dark;

  span {
    border-bottom: 4px solid $color-blue;
  }

  @include xl {
    font-size: 35px;
    line-height: 246%;
  }

  @include lg {
    // margin-bottom: 61px;
    margin-bottom: 51px;
    font-size: 30px;
    // line-height: 287%;
    line-height: 140%;
  }

  @include sm {
    font-size: 20px;
    line-height: 150%;
  }

  @include xs {
    max-width: 340px;
    // margin-bottom: 42px;
    margin-bottom: 32px;
  }
}

// .scr_tematiki_art6__line {
//   position: relative;
//   // position: absolute;
//   // bottom: 0;
//   // left: 50%;
//   // transform: translateX(-50%);
//   z-index: 2;
//   width: 100%;
//   width: calc(100% - 86px);
//   height: 2px;
//   max-width: 1500px;
//   min-width: 320px;
//   // margin: 100px auto 0;
//   margin: 0 auto;
//   background-color: #f00;

//   @include xl {
//     max-width: 1280px;
//     // margin-top: 26px;
//   }

//   @include lg {
//     width: calc(100% - 64px);
//     max-width: 1024px;
//   }

//   @include sm {
//     max-width: 768px;
//     // margin-top: 50px;
//   }

//   @include xs {
//     width: calc(100% - 30px);
//     display: none;
//   }
// }

.scr_tematiki_art6__wrapper {
  position: relative;
  z-index: 1;
  // margin-top: 367px;

  .container {
    position: relative;
    z-index: 1;
    column-count: 2;
    column-gap: 109px;
    // padding-top: 122px;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   width: calc(100% - 86px);
    //   height: 2px;
    //   background-color: $color_grey_light;

    //   @include lg {
    //     width: calc(100% - 64px);
    //   }

    //   @include xs {
    //     width: calc(100% - 30px);
    //   }
    // }
  }

  @include xl {
    // margin-top: 220px;

    .container {
      // padding-top: 95px;
      column-gap: 120px;
    }
  }

  @include lg {
    // margin-top: 183px;

    .container {
      // padding-top: 74px;
      column-count: unset;
    }
  }

  @include sm {
    // margin-top: 154px;
    // margin-top: 40px;

    // .container {
    //   padding-top: 0;
    // }
  }

  @include xs {
    margin-top: 40px;
  }
}

.industries {
  .scr_tematiki_art6__wrapper {
    @include xs {
      margin-top: 0;
    }
  }
}

.scr_tematiki_art6__group {
  // margin-bottom: 73px;
  padding-bottom: 63px;
  break-inside: avoid;

  @include lg {
    // margin-bottom: 86px;
    padding-bottom: 76px;
  }

  @include sm {
    // margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 2px solid $color_grey_light;

    &.active {
      // remove when add javacript

      .scr_tematiki_art6__heading {
        & > span:last-child {
          &::after {
            background-color: $color_blue;
            transform: rotate(90deg);
          }

          &::before {
            background-color: $color_blue;
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

.scr_tematiki_art6__heading {
  position: relative;
  display: inline-block;
  margin-bottom: 27px;
  padding-top: 10px;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.02em;
  color: $color_dark;

  & > span:first-child {
    position: relative;
  }

  // & > span:nth-child(2) {
  //   position: relative;
  //   display: inline-block;
  //   width: 1px;
  //   height: 100%;

  //   &::after {
  //     content: "|";
  //     opacity: 0;
  //   }
  // }

  & > span:last-child {
    display: none;
  }

  @include xl {
    font-size: 30px;
  }

  @include lg {
    margin-bottom: 25px;
  }

  @include sm {
    min-height: 79px;
    display: flex;
    align-items: center;
    padding: 10px 50px 10px 0;
    margin-bottom: 0;
    cursor: pointer;

    & > span:last-child {
      position: absolute;
      right: 0;
      top: 27px;
      width: 24px;
      height: 24px;
      display: block;

      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: $color_grey;
        transition: background-color 0.2s ease-out, transform 0.2s ease-out;
      }

      &::before {
        top: 11px;
        left: 5px;
        width: 14px;
        height: 2px;
      }

      &::after {
        top: 5px;
        left: 11px;
        width: 2px;
        height: 14px;
      }
    }

    // @media (hover: hover) {
    //   &:hover {
    //     & > span:last-child::before,
    //     & > span:last-child::after {
    //       background-color: $color_blue;
    //     }
    //   }
    // }
  }

  @include xs {
    font-size: 24px;
  }

  @include r(400px) {
    & > span:first-child {
      max-width: 200px;
    }
  }
}

.scr_tematiki_art6__amount {
  position: absolute;
  right: -34px;
  top: -12px;
  z-index: 1;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: $color_grey;

  @include lg {
    right: -25px;
    top: -16px;
    font-size: 18px;
    line-height: 177%;
  }

  @include xs {
    top: -9px;
    right: -30px;
  }
}

.scr_tematiki_art6__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 12px;
  // margin-bottom: 55px;

  @include sm {
    position: relative;
    max-height: 0;
    gap: 12px 8px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    &::after,
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 31px;
    }

    &::before {
      display: none;
    }
  }

  @include xs {
    &::before {
      display: none;
    }
  }
}

.scr_tematiki_art6__item {
  display: inline-block;
  padding: 12px 23px 10px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.03em;
  text-align: center;
  color: $color_grey;
  background-color: $color_grey_light;
  border-radius: 60px;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      color: $color_white;
      background-color: $color_dark;
    }
  }

  @include lg {
    padding: 8px 25px;
    font-size: 16px;
    line-height: 200%;
  }

  @include sm {
    padding: 4px 18px;
  }

  @include xs {
    padding: 3px 18px;
  }
}

// industies page

.industries {
  .scr_tematiki_art6 {
    margin-bottom: 304px;

    @include xl {
      margin-bottom: 200px;
    }

    @include lg {
      margin-bottom: 150px;
    }

    @include sm {
      margin-bottom: 100px;
    }

    @include xs {
      margin-bottom: 79px;
    }
  }
}

.services-advertisement,
.services-promotion,
.services-website-creation {
  .scr_tematiki_art6 {
    margin-bottom: 187px;
  }
}
