.scr_sertif_partnery_art6 {
  margin-bottom: 381px;
  padding-top: 120px;

  @include xl {
    margin-bottom: 211px;
    padding-top: 80px;
  }

  @include lg {
    margin-bottom: 173px;
    padding-top: 70px;
  }

  @include sm {
    margin-bottom: 142px;
    padding-top: 50px;
  }

  @include xs {
    margin-bottom: 191px;
    padding-top: 97px;
  }
}

.scr_sertif_partnery_art6__title {
  margin-bottom: 57px;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -0.03em;
  color: $color_dark;

  @include xl {
    margin-bottom: 55px;
    font-size: 35px;
  }

  @include lg {
    margin-bottom: 46px;
    font-size: 30px;
  }

  @include sm {
    margin-bottom: 27px;
  }

  @include xs {
    margin-bottom: 25px;
    font-size: 32px;
  }

  @include r(360px) {
    font-size: 26px;
  }
}

.scr_sertif_partnery_art6__list {
  display: grid;
  // grid-template-columns: repeat(4, 1fr);
  grid-template-columns: 25.2% 25.2% 25.2% 24.4%;
  // gap: 32px 21px;
  gap: 32px 0;

  @include xl {
    // gap: 23px 38px;
    gap: 23px 0;
  }

  @include lg {
    // gap: 51px 60px;
    grid-template-columns: 27% 27% 27% 19%;
    gap: 51px 0;
  }

  @include sm {
    grid-template-columns: 53.13% 46.87%;
    // gap: 64px 45px;
    gap: 44px 0;
  }

  @include xs {
    // gap: 34px 23px;
    gap: 34px 0;
  }
}

.scr_sertif_partnery_art6__item {
  min-height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid $color_grey_light;
  transition: border-color 0.2s ease-out;

  &:hover {
    border-left-color: $color_blue;

    .scr_sertif_partnery_art6__img {
      img {
        opacity: 1;
      }
    }
  }

  @include xl {
    min-height: 168px;
  }

  @include lg {
    min-height: 139px;
  }

  @include sm {
    min-height: 149px;
  }

  @include xs {
    min-height: 100px;
  }
}

.scr_sertif_partnery_art6__img {
  // width: 75%;
  width: 70.37%;

  img {
    display: block;
    width: 100%;
    height: auto;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: opacity 0.2s ease-out;
  }

  // @include lg {
  //   // width: 83%;
  //   width: 62.99%;
  // }

  @include sm {
    // width: 58%;
    width: 51%;
  }

  @include xs {
    width: 83%;
  }

  // @include xxs {
  //   width: 100%;
  // }
}
