.scr_dostizheniya_art6 {
  padding-top: 181px;

  @include xl {
    padding-top: 130px;
  }

  @include lg {
    padding-top: 110px;
  }

  @include sm {
    padding-top: 90px;
  }

  @include xs {
    padding-top: 108px;
  }
}

.scr_dostizheniya_art6__title {
  margin-bottom: 57px;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -0.03em;
  color: $color_dark;

  @include xl {
    margin-bottom: 55px;
    font-size: 35px;
  }

  @include lg {
    margin-bottom: 26px;
    font-size: 30px;
  }

  @include sm {
    margin-bottom: 27px;
  }

  @include xs {
    margin-bottom: 25px;
    font-size: 32px;
  }

  @include r(360px) {
    font-size: 26px;
  }
}

.scr_dostizheniya_art6__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px 21px;

  @include xl {
    gap: 23px 38px;
  }

  @include lg {
    gap: 51px 48px;
  }

  @include sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 38px 45px;
  }

  @include xs {
    grid-template-columns: 1fr;
    gap: 42px 0;
  }
}

.scr_dostizheniya_art6__item {
  min-height: 295px;
  padding: 15px 10px 15px 37px;
  border-left: 2px solid $color_grey_light;
  transition: border-color 0.2s ease-out;

  &:hover {
    border-left-color: $color_blue;

    .scr_dostizheniya_art6__heading {
      color: $color_white;
      background-color: $color_blue;
      box-shadow: 0 6px $color_blue, 0 0 $color_blue;
    }
  }

  @include xl {
    min-height: 284px;
    padding: 6px 10px 44px 37px;
  }

  @include lg {
    min-height: 227px;
    padding: 20px 10px 20px 27px;
  }

  @include sm {
    min-height: 219px;
    padding: 5px 10px 20px 20px;
  }

  @include xs {
    min-height: 219px;
    padding: 0px 10px 15px 19px;
  }
}

.scr_dostizheniya_art6__amount {
  margin-bottom: 44px;
  font-weight: 500;
  font-size: 80px;
  line-height: 137%;
  letter-spacing: -0.02em;
  color: $color_dark;

  @include xl {
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 183%;
  }

  @include lg {
    margin-bottom: 27px;
    font-size: 40px;
    line-height: 190%;
  }

  @include sm {
    margin-bottom: 13px;
    font-size: 60px;
    line-height: 183%;
  }

  @include xs {
    margin-bottom: 12px;
    font-size: 64px;
    line-height: 172%;
  }
}

.scr_dostizheniya_art6__descr {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: $color_dark;

  @include xl {
    max-width: 226px;
    margin-bottom: 21px;
    font-size: 18px;
    line-height: 144%;
  }

  @include lg {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 150%;
  }

  @include sm {
    max-width: none;
    margin-bottom: 10px;
  }

  @include xs {
    font-size: 16px;
    line-height: 150%;
  }
}

.scr_dostizheniya_art6__heading {
  display: inline;
  font-weight: 600;
  font-size: 22px;
  line-height: 136%;
  letter-spacing: -0.02em;
  color: $color_dark;
  transition: color 0.2s ease-out, 0.2s ease-out, box-shadow 0.2s ease-out;

  @include xl {
    font-size: 20px;
    line-height: 150%;
  }

  @include lg {
    font-size: 18px;
    line-height: 144%;
  }

  @include sm {
    font-size: 20px;
    line-height: 130%;
  }

  @include xs {
    font-size: 18px;
    line-height: 144%;
  }
}
