.scr_keysy_art6 {
  margin-bottom: 370px;

  @include xl {
    margin-bottom: 139px;
  }

  @include lg {
    margin-bottom: 111px;
  }

  @include sm {
    margin-bottom: 93px;
  }

  @include xs {
    margin-bottom: 200px;
  }
}

.scr_keysy_art6__title__block {
  @include xl {
    min-height: 172px;
  }

  @include lg {
    min-height: 142px;
  }

  @include sm {
    min-height: 83px;
    min-height: auto;
  }
}

.scr_keysy_art6__title {
  margin-bottom: 25px;

  span:last-child {
    display: none;
  }

  @include xl {
    margin-bottom: 15px;
  }

  @include lg {
    margin-bottom: 9px;
  }

  @include sm {
    margin-bottom: 23px;

    span:first-child {
      display: none;
    }

    span:last-child {
      display: inline;
    }
  }

  @include xs {
    margin-bottom: 16px;
  }
}

.scr_keysy_art6__subtitle {
  margin-bottom: 71px;
  font-weight: 500;
  font-size: 40px;
  line-height: 215%;
  letter-spacing: -0.02em;
  color: $color_dark;

  span {
    border-bottom: 4px solid $color-blue;
  }

  @include xl {
    font-size: 35px;
    line-height: 246%;
  }

  @include lg {
    margin-bottom: 61px;
    font-size: 30px;
    line-height: 287%;
  }

  @include sm {
    margin-bottom: 63px;
    font-size: 20px;
    line-height: 150%;
  }

  @include xs {
    max-width: 310px;
    margin-bottom: 42px;
  }
}

.scr_keysy_art6__wrapper {
  // margin-bottom: 80px;

  // @include xl {
  //   margin-bottom: 74px;
  // }

  // @include lg {
  //   margin-bottom: 72px;
  // }

  // @include sm {
  //   margin-bottom: 48px;
  // }

  @include xs {
    margin-bottom: 50px;
  }
}

// == filters

.scr_keysy_art6__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 62px;

  @include xl {
    margin-bottom: 69px;
  }

  @include lg {
    margin-bottom: 52px;
  }

  @include sm {
    margin-bottom: 43px;
    gap: 12px 8px;
  }
}

.scr_keysy_art6__filter {
  padding: 10px 18px 10px 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.03em;
  text-align: center;
  color: $color_grey;
  border-radius: 60px;
  background-color: $color_grey_btn_bg;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      color: $color_white;
      background-color: $color_dark;
    }
  }

  @include lg {
    padding: 8px 22px;
    font-size: 16px;
    line-height: 200%;
  }

  @include sm {
    padding: 3px 15px;
  }

  @include xs {
    padding: 2px 16px;
  }
}

// == cases

.scr_keysy_art6__cases {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 10px;
  gap: 0 106px;

  @include xl {
    gap: 0 93px;
  }

  @include lg {
    gap: 0 74px;
  }

  @include sm {
    gap: 0 48px;
  }

  @include xs {
    display: block;
    // grid-template-columns: 1fr;
    // gap: 40px;
    max-width: 500px;
    margin: 0 auto;
  }
}

// FOR ALL ITEMS
.scr_keysy_art6__item {
  position: relative;
  margin-bottom: 106px;

  @include xl {
    margin-bottom: 92px;
  }

  @include lg {
    margin-bottom: 75px;
  }

  @include sm {
    margin-bottom: 48px;
  }

  @include xxs {
    margin-bottom: 0;
    &:nth-child(n) {
      grid-row-end: unset;
    }

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media (hover: hover) {
    &:hover {
      .scr_keysy_art6__name {
        &::after {
          opacity: 1;
          visibility: visible;
          transform: translateX(0);
        }

        span {
          &::before {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

.scr_keysy_art6__item--purple,
.scr_keysy_art6__item--violet,
.scr_keysy_art6__item--green {
  padding: 51px 40px 60px;

  @include xl {
    padding: 42px 34px 48px 34px;
  }

  @include lg {
    padding: 31px 27px 35px 27px;
  }

  @include sm {
    padding: 24px 16px 25px 16px;
  }
}

.scr_keysy_art6__item--blue {
  .scr_keysy_art6__inner {
    padding: 51px 40px 30px;

    @include xl {
      padding: 42px 34px 36px 34px;
    }

    @include lg {
      padding: 31px 27px 25px 27px;
    }

    @include sm {
      padding: 24px 16px 25px 16px;
    }
  }
}

.scr_keysy_art6__item--black {
  .scr_keysy_art6__inner {
    padding: 30px 40px 30px;

    @include xl {
      padding: 22px 34px 36px 34px;
    }

    @include lg {
      padding: 18px 27px 25px 27px;
    }

    @include sm {
      padding: 10px 16px 25px 16px;
    }
  }
}

.scr_keysy_art6__item--red {
  .scr_keysy_art6__inner {
    padding: 29px 40px 30px;

    @include xl {
      padding: 22px 34px 36px 34px;
    }

    @include lg {
      padding: 14px 27px 25px 27px;
    }

    @include sm {
      padding: 10px 16px 25px 16px;
    }
  }
}

// PURPLE

.scr_keysy_art6__item--purple {
  // grid-row-end: span 72;
  grid-row-end: span 83;
  // min-height: 720px;
  // padding: 51px 40px 60px;
  background-color: #5c34ce;

  .scr_keysy_art6__name {
    margin-bottom: 21px;
  }

  .scr_keysy_art6__descr {
    margin-bottom: 53px;
  }

  .scr_keysy_art6__img {
    position: relative;
    margin-bottom: 39px;

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 54.6%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  @include xl {
    // grid-row-end: span 61;
    grid-row-end: span 71;
    // min-height: 614px;
    // padding: 42px 34px 48px 34px;

    .scr_keysy_art6__name {
      margin-bottom: 17px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 43px;
    }

    .scr_keysy_art6__img {
      margin-bottom: 30px;
    }
  }

  @include lg {
    grid-row-end: span 59;
    // min-height: 474px;
    // padding: 31px 27px 35px 27px;

    .scr_keysy_art6__name {
      margin-bottom: 11px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 35px;
    }

    .scr_keysy_art6__img {
      margin-bottom: 21px;
    }
  }

  @include sm {
    grid-row-end: span 46;
    // min-height: 407px;
    // padding: 24px 16px 25px 16px;

    .scr_keysy_art6__name {
      margin-bottom: 6px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 24px;
    }

    .scr_keysy_art6__img {
      margin-bottom: 10px;
    }
  }

  @include xs {
    min-height: 406px;
  }
}

// VIOLET

.scr_keysy_art6__item--violet {
  // position: relative;
  // grid-row-end: span 82;
  grid-row-end: span 93;
  // min-height: 820px;
  background-color: #8805a8;

  .scr_keysy_art6__name {
    margin-bottom: 17px;
  }

  .scr_keysy_art6__descr {
    margin-bottom: 54px;
  }

  .scr_keysy_art6__img {
    position: absolute;
    width: 48.78%;
    right: 0;
    bottom: 0;
    z-index: 1;

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 105%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .scr_keysy_art6__data {
    &:nth-child(3) {
      margin-bottom: 56px;
    }

    &:nth-child(4) {
      margin-bottom: 51px;
    }
  }

  // VIOLET XL
  @include xl {
    // grid-row-end: span 70;
    grid-row-end: span 80;
    // min-height: 700px;

    .scr_keysy_art6__descr {
      margin-bottom: 47px;
    }

    .scr_keysy_art6__data {
      &:nth-child(3) {
        margin-bottom: 47px;
      }

      &:nth-child(4) {
        margin-bottom: 42px;
      }
    }
  }

  // VIOLET  LG
  @include lg {
    // grid-row-end: span 60;
    grid-row-end: span 68;
    // min-height: 600px;

    .scr_keysy_art6__name {
      margin-bottom: 11px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 36px;
    }

    .scr_keysy_art6__data {
      &:nth-child(3) {
        margin-bottom: 32px;
      }

      &:nth-child(4) {
        margin-bottom: 31px;
      }
    }
  }

  // VIOLET  SM
  @include sm {
    grid-row-end: span 73;
    // min-height: 683px;

    .scr_keysy_art6__name {
      margin-bottom: 5px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 18px;
    }

    .scr_keysy_art6__data {
      &:nth-child(3) {
        margin-bottom: 22px;
      }

      &:nth-child(4) {
        margin-bottom: 24px;
      }
    }

    .scr_keysy_art6__img {
      width: 80%;
    }
  }

  @include xs {
    min-height: 683px;

    .scr_keysy_art6__img {
      width: 80%;
      max-width: 320px;
    }
  }
}

// BLUE

.scr_keysy_art6__item--blue {
  // position: relative;
  grid-row-end: span 75;
  // min-height: 640px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1a0289;

  .scr_keysy_art6__name {
    margin-bottom: 21px;
  }

  .scr_keysy_art6__descr {
    margin-bottom: 53px;
  }

  .scr_keysy_art6__img {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 45.77%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // BLUE XL
  @include xl {
    grid-row-end: span 64;
    // min-height: 550px;

    .scr_keysy_art6__name {
      margin-bottom: 17px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 43px;
    }
  }

  // BLUE  LG
  @include lg {
    grid-row-end: span 54;
    // min-height: 470px;

    .scr_keysy_art6__name {
      margin-bottom: 11px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 35px;
    }
  }

  // BLUE  SM
  @include sm {
    grid-row-end: span 42;
    // min-height: 370px;

    .scr_keysy_art6__name {
      margin-bottom: 6px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 17px;
    }
  }

  // BLUE XS
  @include xs {
    min-height: 368px;
  }
}

// GREEN

.scr_keysy_art6__item--green {
  // position: relative;
  grid-row-end: span 75;
  background-color: #4cc448;

  .scr_keysy_art6__name {
    margin-bottom: 21px;
  }

  .scr_keysy_art6__descr {
    margin-bottom: 53px;
  }

  .scr_keysy_art6__img {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 57.54%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  // GREEN XL
  @include xl {
    // grid-row-end: span 55;
    grid-row-end: span 64;
    // min-height: 550px;

    .scr_keysy_art6__name {
      margin-bottom: 17px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 43px;
    }
  }

  // GREEN LG
  @include lg {
    grid-row-end: span 52;
    // min-height: 470px;

    .scr_keysy_art6__name {
      margin-bottom: 11px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 35px;
    }
  }

  // GREEN SM
  @include sm {
    grid-row-end: span 42;
    // min-height: 370px;

    .scr_keysy_art6__name {
      margin-bottom: 6px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 17px;
    }
  }

  // GREEN XS
  @include xs {
    min-height: 351px;
  }
}

// BLACK

.scr_keysy_art6__item--black {
  grid-row-end: span 93;
  background-color: #191919;

  .scr_keysy_art6__img {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 70.9%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .scr_keysy_art6__name {
    margin-bottom: 17px;
  }

  .scr_keysy_art6__descr {
    margin-bottom: 54px;
  }

  // BLACK XL
  @include xl {
    grid-row-end: span 79;

    .scr_keysy_art6__descr {
      margin-bottom: 45px;
    }
  }

  // BLACK LG
  @include lg {
    grid-row-end: span 66;

    .scr_keysy_art6__name {
      margin-bottom: 12px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 34px;
    }
  }

  // BLACK SM
  @include sm {
    grid-row-end: span 51;

    .scr_keysy_art6__name {
      margin-bottom: 8px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 16px;
    }
  }

  // BLACK XS
  @include xs {
    min-height: 458px;
  }
}

// RED

.scr_keysy_art6__item--red {
  grid-row-end: span 83;
  background-color: #f12621;

  .scr_keysy_art6__img {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 73.9%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .scr_keysy_art6__name {
    margin-bottom: 20px;
  }

  .scr_keysy_art6__descr {
    margin-bottom: 54px;
  }

  // RED XL
  @include xl {
    grid-row-end: span 71;

    .scr_keysy_art6__name {
      margin-bottom: 14px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 45px;
    }
  }

  // RED LG
  @include lg {
    grid-row-end: span 57;

    .scr_keysy_art6__name {
      margin-bottom: 12px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 34px;
    }
  }

  // RED SM
  @include sm {
    grid-row-end: span 44;

    .scr_keysy_art6__name {
      margin-bottom: 8px;
    }

    .scr_keysy_art6__descr {
      margin-bottom: 16px;
    }
  }

  // RED XS
  @include xs {
    min-height: 388px;
  }
}

// COMMON

.scr_keysy_art6__name {
  position: relative;
  padding-right: 45px;
  font-size: 40px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: -0.03em;
  color: $color_white;

  @include xl {
    padding-right: 40px;
    font-size: 35px;
    line-height: 43px;

    &::after {
      width: 32px;
      height: 32px;
    }
  }

  @include lg {
    font-size: 30px;
    padding-right: 35px;
    line-height: 37px;

    &::after {
      width: 26px;
      height: 26px;
    }
  }

  @include sm {
    padding-right: 0;
    font-size: 28px;
    line-height: 34px;

    &::after {
      display: none;
    }
  }

  @include xs {
    font-size: 28px;
    line-height: 34px;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 40px;
    height: 40px;
    background: url("../images/scr_keysy_art6/arrow-right.svg") center / contain
      no-repeat;
    transform: translateX(-10px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out,
      transform 0.4s ease-out;
  }

  span {
    position: relative;
    display: inline-block;
    width: max-content;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $color_white;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
    }
  }
}

.scr_keysy_art6__descr {
  max-width: 416px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: $color_white;

  @include xl {
    max-width: 445px;
  }

  @include lg {
    max-width: 355px;
    font-size: 16px;
    line-height: 24px;
  }

  @include sm {
    max-width: 100%;
    font-size: 16px;
    line-height: 23px;
  }
}

.scr_keysy_art6__img {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.scr_keysy_art6__data {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.scr_keysy_art6__value {
  margin-bottom: 12px;
  font-size: 40px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: $color_white;

  @include xl {
    margin-bottom: 11px;
    font-size: 35px;
    line-height: 23px;
  }

  @include lg {
    margin-bottom: 9px;
    font-size: 30px;
    line-height: 19px;
  }

  @include sm {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 28px;
  }
}

.scr_keysy_art6__text {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.03em;
  color: $color_white;

  @include xl {
    font-size: 14px;
    line-height: 18px;
  }

  @include lg {
    font-size: 14px;
    line-height: 18px;
  }

  @include sm {
    font-size: 13px;
    line-height: 15px;
  }
}

.scr_keysy_art6__info {
  position: relative;
  z-index: 2;
  max-width: 290px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.03em;
  color: $color_white;

  @include xl {
    max-width: 254px;
  }

  @include lg {
    max-width: 224px;
    font-size: 16px;
    line-height: 24px;
  }

  @include sm {
    max-width: 100%;
    margin-bottom: 30px;
    line-height: 23px;
  }
}

.scr_keysy_art6__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.our-projects {
  .scr_keysy_art6 {
    padding-top: 272px;

    @include sm {
      padding-top: 230px;
    }

    @include xs {
      padding-top: 188px;
    }
  }
}

// Pagination

.scr_keysy_art6__pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 20px;

  li {
    display: inline-block;
    min-width: 32px;
    text-align: center;
    border-bottom: 3px solid transparent;
    transition: border-color 0.2s ease-out;

    &:hover {
      a {
        color: $color_dark;
      }
    }

    &.current_page {
      border-color: $color_blue;
      cursor: default;

      a {
        color: $color_dark;
      }
    }
  }

  a {
    font-weight: 500;
    font-size: 28px;
    line-height: 114%;
    letter-spacing: -0.03em;
    text-align: center;
    color: $color_grey;
    transition: color 0.2s ease-out;
  }
}

//////////

.project {
  .scr_keysy_art6__title {
    margin-bottom: 58px;
    padding-top: 0;
    font-weight: 500;
    font-size: 80px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: $color_dark;

    @include xl {
      font-size: 60px;
    }

    @include xs {
      margin-bottom: 50px;
      font-size: 38px;
    }

    &::before {
      display: none;
    }
  }
}
