.scr_vacancy {
  margin-bottom: 278px;

  @include xs {
    margin-bottom: 200px;
  }

  @include sm {
    margin-bottom: 125px;
  }
}

.scr_vacancy__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0 72px;

  @include lg {
    gap: 0 77px;
  }

  @include sm {
    display: block;
  }
}

.scr_vacancy__menu {
  flex: 0 0 308px;
  border-right: 2px solid $color_grey_light;

  @include lg {
    flex: 0 0 251px;
  }

  @include sm {
    display: none;
  }
}

.scr_vacancy__main {
  flex: 1 1 auto;

  @include sm {
    flex: unset;
  }
}

.scr_vacancy__menu {
  li:not(:last-child) {
    margin-bottom: 38px;
  }
}

.scr_vacancy__link {
  display: flex;
  align-items: center;
  gap: 0 3px;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -0.03em;
  color: $color_grey;
  transition: color 0.2s ease-out;

  @media (hover: hover) {
    &:hover {
      color: $color_dark;
    }
  }

  @include xl {
    font-size: 20px;
  }

  @include lg {
    font-size: 18px;
  }

  &:before {
    // display: none;
    content: "";
    width: 100%;
    max-width: 0;
    height: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.18822 11.1439C3.18822 9.7703 3.18822 8.39667 3.18822 7.02304H0L0.751289 5.73588L3.40472 1.18983L4.09919 0V0.856073V4.97696H7.28741L6.53612 6.26412L3.88269 10.8102L3.18822 12V11.1439Z' fill='%231463FF' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transition: max-width 0.2s ease-out;
  }

  &.active {
    color: $color_dark;

    &:before {
      // display: block;
      max-width: 7px;
      opacity: 1;
    }
  }
}

.scr_vacancy__block {
  min-height: 420px;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: $color_grey_light;
    margin-top: 61px;
  }

  &:not(:last-child) {
    padding-bottom: 120px;
    // margin-bottom: 120px;
    // padding-bottom: 61px;

    // border-bottom: 2px solid $color_grey_light;
  }

  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.03em;
  color: $color_grey;

  @include xl {
    &:not(:last-child) {
      // margin-bottom: 97px;
      padding-bottom: 97px;
    }
  }

  @include lg {
    &:not(:last-child) {
      // margin-bottom: 67px;
      padding-bottom: 67px;
    }

    font-size: 16px;
    line-height: 175%;
  }

  @include sm {
    &::after {
      margin-top: 43px;
    }

    &:not(:last-child) {
      // margin-bottom: 57px;
      // padding-bottom: 43px;
      padding-bottom: 57px;
    }
  }

  @include xs {
    line-height: 150%;

    &::after {
      margin-top: 55px;
    }

    &:not(:last-child) {
      // margin-bottom: 60px;
      // padding-bottom: 55px;
      padding-bottom: 60px;
    }
  }

  ul {
    margin-top: 7px;
  }

  li {
    position: relative;
    padding-left: 28px;

    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 12px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $color_grey;
    }

    &:not(:last-child) {
      margin-bottom: 7px;
    }

    @include xs {
      padding-left: 25px;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  p {
    &:not(:first-child) {
      margin-top: 38px;

      @include xl {
        margin-top: 33px;
      }

      @include lg {
        margin-top: 10px;
      }

      @include xs {
        margin-top: 17px;
      }
    }

    @include lg {
      line-height: 175%;
    }

    @include xs {
      line-height: 150%;
    }
  }
}

.scr_vacancy__title {
  display: flex;
  align-items: center;
  // gap: 0 12px;
  margin-bottom: 42px;
  font-weight: 500;
  font-size: 40px;
  line-height: 102%;
  letter-spacing: -0.02em;
  color: $color_dark;

  &::before {
    // display: none;

    content: "";
    width: 100%;
    max-width: 0;
    height: 24px;
    padding-left: 0;
    // padding-left: 12px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='24' viewBox='0 0 15 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.37645 22.2879C6.37645 19.5406 6.37645 16.7933 6.37645 14.0461H0L1.50258 11.4718L6.80944 2.37965L8.19838 0V1.71215V9.95393H14.5748L13.0722 12.5282L7.76539 21.6203L6.37645 24V22.2879Z' fill='%231463FF' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0;
    transition: max-width 0.2s ease-out, padding-left 0.2s ease-out;

    @include xs {
      width: 10px;
      height: 17px;
    }
  }

  .scr_vacancy__block.active & {
    &::before {
      // display: block;
      max-width: 15px;
      padding-left: 12px;
      opacity: 1;

      @include xs {
        padding-left: 8px;
      }
    }
  }

  @include xl {
    font-size: 35px;
    line-height: 117%;
  }

  @include lg {
    margin-bottom: 21px;
    font-size: 30px;
    line-height: 137%;
  }

  @include xs {
    // gap: 8px;
    margin-bottom: 17px;
    font-size: 28px;
    line-height: 107%;
  }
}

.scr_vacancy__details {
  display: grid;
  grid-template-columns: repeat(auto-fill, 233px);
  // grid-auto-columns: 233px;
  // gap: 30px 21px;
  gap: 30px 30px;

  &:not(:first-child) {
    margin-top: 40px;
  }

  @include xl {
    grid-template-columns: repeat(auto-fill, 200px);
  }

  @include lg {
    grid-template-columns: repeat(auto-fill, 180px);
  }

  @include xs {
    &:not(:first-child) {
      margin-top: 31px;
    }
  }
}

.scr_vacancy__details_item {
  display: flex;
  flex-direction: column;
  gap: 6px;

  span {
    &:first-child {
      font-weight: 500;
      font-size: 18px;
      line-height: 144%;
      letter-spacing: -0.03em;
      color: $color_grey;
    }

    &:last-child {
      position: relative;
      display: inline-block;
      width: max-content;
      font-weight: 600;
      font-size: 18px;
      letter-spacing: -0.03em;
      color: $color_dark;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $color_blue;
      }
    }
  }

  @include lg {
    span {
      &:first-child {
        font-size: 16px;
        line-height: 162%;
      }

      &:last-child {
        font-size: 18px;
      }
    }
  }
}

.scr_vacancy__examples {
  max-width: 1000px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 27px 43px;

  @include xs {
    display: block;
    margin-top: 23px;
  }
}

.scr_vacancy__examples_link {
  position: relative;
  display: inline-block;
  padding-right: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.02em;
  color: $color_dark;
  border-bottom: 2px solid $color_blue;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;

  @include xs {
    display: block;
    width: max-content;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 20px;
    height: 20px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: opacity 0.2s ease-out;
  }

  &::before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.16536 14.658L5.34036 15.833L14.1654 7.00801L14.1654 12.4997H15.832L15.832 4.16634L7.4987 4.16634V5.83301L12.9904 5.83301L4.16536 14.658Z' fill='white' /%3E%3C/svg%3E");
    opacity: 0;
  }

  &::after {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.16927 14.658L5.34427 15.833L14.1693 7.00801L14.1693 12.4997H15.8359L15.8359 4.16634L7.5026 4.16634V5.83301L12.9943 5.83301L4.16927 14.658Z' fill='%23166FF5' /%3E%3C/svg%3E");
  }

  @media (hover: hover) {
    &:hover {
      color: $color_white;
      background-color: $color_blue;

      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 0;
      }
    }
  }
}

.scr_vacancy__company {
  p {
    &:not(:first-child) {
      margin-top: 43px;
    }
  }

  ul {
    padding-left: 28px;

    &:not(:first-child) {
      margin-top: 34px;
    }
  }

  @include xs {
    p {
      &:not(:first-child) {
        margin-top: 21px;
      }
    }
  }
}

.scr_vacancy__cta {
  display: block;
  margin-top: 43px;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.03em;
  color: $color_blue;

  @include lg {
    font-size: 16px;
    line-height: 162%;
  }

  @include xs {
    margin-top: 29px;
    line-height: 150%;
  }
}
