.scr_perv_keys_art6 {
  display: grid;
  grid-template-columns: 32.47% 60.47%;
  grid-template-areas:
    "intro intro"
    "wrapper img";
  gap: 0 7.06%;
  padding-top: 54px;

  // @include xs {
  //   padding-top: 0;
  // }

  @include sm {
    display: block;
    padding-top: 0;
  }
}

.scr_perv_keys_art6__mobile_img {
  // display: none;
  // position: relative;
  grid-area: img;
  width: calc(100% + (100vw - 165.38%) / 2);
  max-width: 1117px;

  // &::after {
  //   content: "";
  //   display: block;
  //   width: 100%;
  //   padding-top: 78.78%;
  // }

  // img {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   display: block;
  //   width: 100%;

  //   height: 100%;
  //   object-fit: cover;
  //   aspect-ratio: 1117 / 880;
  // }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  // @include xs {
  @include sm {
    // position: relative;
    // display: block;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;

    img {
      width: 100vw;
      // min-width: 320px;
    }

    // &::after {
    //   padding-top: 85.55%;
    // }

    // img {
    //   width: 100vw;
    //   max-width: unset;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   aspect-ratio: 834 / 657;
    // }
  }

  @include r(320px) {
    img {
      min-width: 320px;
    }
  }
}

.scr_perv_keys_art6__intro {
  grid-area: intro;
  margin-bottom: 61px;

  @include lg {
    margin-bottom: 40px;
  }

  @include xs {
    margin-bottom: 20px;
  }
}

.scr_perv_keys_art6__title {
  margin-bottom: 48px;

  @include lg {
    margin-bottom: 30px;
  }

  @include xs {
    margin-bottom: 25px;
  }
}

.scr_perv_keys_art6__subtitle {
  max-width: 607px;

  span {
    padding: 5px 0;
    font-weight: 500;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: -0.03em;
    color: $color_white;
    background-color: $color_blue;
  }

  @include xl {
    span {
      font-size: 35px;
      line-height: 48px;
    }
  }

  @include xs {
    span {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.scr_perv_keys_art6__wrapper {
  grid-area: wrapper;
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 120px;

  @include lg {
    margin-bottom: 90px;
  }

  @include xs {
    margin-bottom: 58px;
  }
}

.scr_perv_keys_art6__descr {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0 106px;
  padding-top: 128px;
  padding-bottom: 63px;

  @include lg {
    padding-top: 90px;
    gap: 0 50px;
  }

  @include sm {
    padding-top: 70px;
  }

  @include xs {
    padding-top: 36px;
    padding-bottom: 68px;
  }
}

.scr_perv_keys_art6__content {
  flex: 1 1 487px;
  min-width: 290px;

  // @include xs {
  @include sm {
    min-width: unset;
  }
}

.scr_perv_keys_art6__blank {
  flex: 1 1 907px;
  padding: 40px;
  height: 300px;

  // @include xs {
  @include sm {
    display: none;
  }
}

.scr_perv_keys_art6__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 58.18%;
  z-index: 2;
  padding: 50px;

  &::after {
    content: "";
    display: block;
    width: 100%;
    padding-top: 76.78%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include lg {
    width: 56%;
  }

  // @include sm {
  //   position: relative;
  //   top: unset;
  //   right: unset;
  //   width: 100%;
  //   margin-bottom: 50px;
  // }

  // @include xs {
  @include sm {
    display: none;
  }
}

.scr_perv_keys_art6__heading {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 40px;
  line-height: 102%;
  letter-spacing: -0.02em;
  color: $color_dark;

  svg {
    margin-right: 14px;

    @include sm {
      display: inline-block;
      width: 10px;
      height: 17px;
      margin-right: 9px;
    }
  }

  @include xl {
    font-size: 35px;
    line-height: 48px;
  }

  @include sm {
    font-size: 28px;
    line-height: 107%;
  }

  @include xs {
    margin-bottom: 21px;
  }
}

.scr_perv_keys_art6__text {
  &:not(:last-child) {
    margin-bottom: 123px;
    padding-bottom: 56px;
    border-bottom: 2px solid $color_grey_light;
  }

  &,
  & p,
  & li {
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: -0.03em;
    color: $color_grey;
  }

  p {
    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }

  ul {
    padding-left: 25px;
  }

  li {
    list-style-type: disc;

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  @include lg {
    &,
    & p,
    & li {
      font-size: 16px;
      line-height: 150%;
    }

    &:not(:last-child) {
      margin-bottom: 90px;
    }
  }

  @include xs {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}

.scr_perv_keys_art6__link {
  position: relative;
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 13px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.02em;
  color: $color_grey;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
  border-bottom: 2px solid $color_blue;

  svg {
    flex: 0 0 17px;
    transform: translateY(4px);
  }

  path {
    transition: fill 0.2s ease-out;
  }

  @media (hover: hover) {
    &:hover {
      color: $color_white;
      background-color: $color_blue;

      path {
        fill: $color_white;
      }
    }
  }

  @include sm {
    color: $color_white;
    background-color: $color_blue;

    svg {
      transform: translateY(2px);
    }

    path {
      fill: $color_white;
    }
  }
}

.scr_perv_keys_art6__line {
  span {
    display: block;
    width: 100%;
    border-bottom: 2px solid $color_grey_light;
  }
}

// main img on the left side

.project_img_left {
  .scr_perv_keys_art6__descr {
    flex-direction: row-reverse;
  }

  .scr_perv_keys_art6__img {
    left: 0;
    right: unset;
  }
}

// aquateam page

.scr_perv_keys_art6.project_seo {
  .scr_perv_keys_art6__subtitle {
    max-width: 1010px;

    @include sm {
      max-width: 650px;
    }
  }
}

// evi-clinic page

.scr_perv_keys_art6.project_advertisement {
  .scr_perv_keys_art6__subtitle {
    max-width: 1120px;

    @include sm {
      max-width: 650px;
    }
  }
}
