.scr_voprosy_art6 {
  padding-bottom: 128px;

  @include xl {
    padding-bottom: 88px;
  }

  @include lg {
    padding-bottom: 69px;
  }

  @include sm {
    padding-bottom: 58px;
  }

  @include xs {
    padding-bottom: 80px;
  }
}

.scr_voprosy_art6__title {
  margin-bottom: 68px;
  font-weight: 500;
  font-size: 80px;
  line-height: 107%;
  letter-spacing: -0.03em;
  color: $color_dark;

  @include xl {
    margin-bottom: 54px;
    font-size: 60px;
  }

  @include lg {
    margin-bottom: 41px;
    font-size: 55px;
  }

  @include sm {
    margin-bottom: 34px;
    font-size: 60px;
  }

  @include xs {
    margin-bottom: 42px;
    font-size: 38px;
  }

  @include r(360px) {
    font-size: 30px;
  }
}

.scr_voprosy_art6__wrapper {
  margin-bottom: 80px;

  @include xl {
    margin-bottom: 55px;
  }

  @include lg {
    margin-bottom: 44px;
  }

  @include sm {
    margin-bottom: 36px;
  }

  @include xs {
    margin-bottom: 50px;
  }
}

.scr_voprosy_art6__question {
  border-top: 2px solid $color_grey_light;
  transition: border-color 0.2s ease-out;

  &:last-child {
    border-bottom: 2px solid $color_grey_light;
  }

  &.active {
    border-top-color: $color_dark;

    & + .scr_voprosy_art6__question {
      border-top-color: $color_dark;
    }

    &:last-child {
      border-bottom-color: $color_dark;
    }

    .scr_voprosy_art6__heading {
      color: $color_dark;

      span {
        &::after {
          background-color: $color_blue;
          transform: rotate(90deg);
        }

        &::before {
          background-color: $color_blue;
          transform: rotate(180deg);
        }
      }
    }

    .scr_voprosy_art6__text {
      p {
        color: $color_dark;
      }
    }
  }
}

.scr_voprosy_art6__heading {
  position: relative;
  min-height: 79px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding: 10px 70px 10px 0;

  font-weight: 500;
  font-size: 22px;
  letter-spacing: -0.02em;
  color: $color_grey;
  cursor: pointer;
  transition: color 0.2s ease-out;

  span {
    position: absolute;
    right: 28px;
    top: 27px;
    width: 24px;
    height: 24px;
    display: block;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $color_grey;
      transition: background-color 0.2s ease-out, transform 0.2s ease-out;
    }

    &::before {
      top: 11px;
      left: 5px;
      width: 14px;
      height: 2px;
    }

    &::after {
      top: 5px;
      left: 11px;
      width: 2px;
      height: 14px;
    }
  }

  @include xl {
    font-size: 20px;
  }

  @include lg {
    font-size: 18px;
  }

  @include sm {
    font-size: 20px;
  }

  @include r(360px) {
    font-size: 18px;
  }

  @media (hover: hover) {
    &:hover {
      color: $color_dark;
      // span:last-child::before,
      // span:last-child::after {
      //   background-color: $color_blue;
      // }
    }
  }
}

.scr_voprosy_art6__text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  p {
    max-width: 1120px;
    padding-bottom: 23px;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    letter-spacing: -0.02em;
    color: $color_grey;
  }

  @include lg {
    p {
      font-size: 16px;
    }
  }
}

.scr_voprosy_art6__more {
  position: relative;
  display: inline-block;
  padding-left: 60px;
  font-weight: 500;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.03em;
  color: $color_dark;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background: url("../images/scr_klienty_onas_art6/plus.svg") center / contain
      no-repeat;
    transition: transform 0.2s ease-out;
  }

  @media (hover: hover) {
    &:hover::before {
      transform: rotate(90deg);
    }
  }

  @include xl {
    font-size: 24px;
    line-height: 133%;
  }

  @include lg {
    font-size: 20px;
    line-height: 160%;

    &::before {
      width: 26px;
      height: 26px;
    }
  }

  @include sm {
    padding-left: 50px;
  }

  @include xs {
    font-size: 24px;
    line-height: 133%;

    &::before {
      width: 30px;
      height: 30px;
    }
  }

  @include r(360px) {
    font-size: 18px;

    &::before {
      width: 26px;
      height: 26px;
    }
  }
}
