.scr_kriterii_art6 {
  margin-bottom: 409px;

  @include xl {
    margin-bottom: 220px;
  }

  @include lg {
    margin-bottom: 182px;
  }

  @include sm {
    margin-bottom: 153px;
  }

  @include xs {
    margin-bottom: 187px;
  }

  &.scr_more_details {
    margin-bottom: 128px;

    @include xs {
      margin-bottom: 97px;
    }
  }
}

.scr_kriterii_art6__title {
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -0.03em;
  color: $color_dark;

  @include xl {
    font-size: 35px;
  }

  @include lg {
    font-size: 30px;
  }

  @include xs {
    margin-bottom: 25px;
    font-size: 32px;
    line-height: 125%;
  }

  @include r(360px) {
    font-size: 26px;
  }
}

.scr_kriterii_art6__list {
  margin-bottom: 80px;
  border-top: 2px solid $color_grey_light;

  @include xs {
    margin-bottom: 27px;
  }
}

.scr_kriterii_art6__item {
  padding: 16px 0 23px;
  border-bottom: 2px solid $color_grey_light;
}

.scr_kriterii_art6__name {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: -0.02em;
  color: $color_dark;

  @include xs {
    font-size: 20px;
    line-height: 130%;
  }
}

.scr_kriterii_art6__descr {
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: -0.02em;
  color: $color_grey;

  @include xs {
    font-size: 16px;
    line-height: 150%;
  }
}
