.scr_elemsotrudn_uslugi_art6 {
  // margin-bottom: 383px;
  margin-bottom: 267px;

  @include xl {
    // margin-bottom: 220px;
    margin-bottom: 174px;
  }

  @include lg {
    // margin-bottom: 182px;
    margin-bottom: 132px;
  }

  @include sm {
    // margin-bottom: 153px;
    margin-bottom: 132px;
  }

  @include xs {
    // margin-bottom: 187px;
    margin-bottom: 137px;
  }
}

.scr_elemsotrudn_uslugi_art6__title {
  max-width: 1140px;
  margin-bottom: 100px;
  font-size: 80px;
  font-weight: 500;
  line-height: 90px;
  letter-spacing: -0.02em;

  @include xl {
    max-width: 975px;
    margin-bottom: 80px;
    font-size: 60px;
    line-height: 70px;
  }

  @include lg {
    max-width: 975px;
    margin-bottom: 60px;
    font-size: 55px;
    line-height: 60px;
  }

  @include sm {
    max-width: 360px;
    margin-bottom: 100px;
    font-size: 40px;
    line-height: 45px;
  }

  @include xs {
    max-width: 360px;
    margin-bottom: 100px;
    margin-bottom: 58px;
    font-size: 38px;
    line-height: 46px;
  }
}

.scr_elemsotrudn_uslugi_art6__wrapper {
  column-count: 2;
  column-gap: 106px;

  @include lg {
    max-width: 697px;
    column-count: unset;
    column-gap: unset;
  }

  @include sm {
    max-width: 572px;
  }
}

.scr_elemsotrudn_uslugi_art6__item {
  // margin-bottom: 116px;
  padding-bottom: 116px;
  break-inside: avoid;
  // padding-bottom: 57px;
  // border-bottom: 2px solid $color_grey_light;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 57px;
    border-bottom: 2px solid $color_grey_light;
  }

  @include xl {
    padding-bottom: 74px;
    // margin-bottom: 74px;
    // padding-bottom: 48px;

    &::after {
      height: 48px;
    }
  }

  @include lg {
    // margin-bottom: 50px;
    padding-bottom: 50px;
  }

  @include sm {
    // padding-bottom: 50px;
    &::after {
      height: 50px;
    }

    &:first-child {
      padding-top: 56px;
      border-top: 2px solid $color_grey_light;
    }
  }

  @include xs {
    padding-bottom: 56px;

    &::after {
      height: 56px;
    }
    // margin-bottom: 56px;
    // padding-bottom: 57px;
  }
}

.scr_elemsotrudn_uslugi_art6__name {
  margin-bottom: 16px;
  font-size: 40px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: -0.03em;

  @include xl {
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 43px;
  }

  @include lg {
    margin-bottom: 21px;
    font-size: 30px;
    line-height: 37px;
  }

  @include sm {
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 40px;
  }
}

.scr_elemsotrudn_uslugi_art6__text {
  p {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: $color_grey;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include xl {
    p {
      line-height: 23px;
    }
  }

  @include lg {
    font-size: 16px;
    line-height: 20px;
  }

  @include sm {
    line-height: 26px;
  }

  @include xs {
    line-height: 24px;
  }
}

.scr_elemsotrudn_uslugi_art6__list {
  li {
    position: relative;
    padding-left: 36px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: $color_grey;

    &::before {
      content: "";
      position: absolute;
      top: 9px;
      left: 8px;
      width: 8px;
      height: 8px;
      background-color: $color_grey;
    }

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }
}

// ========== CULTURE PAGE ==========

.culture-page {
  .scr_elemsotrudn_uslugi_art6__wrapper {
    column-count: unset;
    column-gap: unset;
    display: flex;
    gap: 0 106px;
    padding-top: 118px;
    border-top: 2px solid $color_grey_light;

    @include lg {
      max-width: 100%;
    }

    @include sm {
      max-width: 572px;
      display: block;
      border-top: none;
    }

    @include xs {
      padding-top: 0;
    }
  }

  .scr_elemsotrudn_uslugi_art6__name {
    @include r(360px) {
      font-size: 28px;
    }
  }

  .scr_elemsotrudn_uslugi_art6__name_with_icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 30px;

    &::after {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 27.5L5 32.4V18.3333H10M18.3333 24.4333L15.7167 22.2L13.3333 24.4V11.6667H18.3333M26.6667 21.6667L21.6667 26.6667V5H26.6667M31.35 21.35L28.3333 18.3333H36.6667V26.6667L33.6833 23.6833L21.6667 35.6L15.8833 30.5667L9.58333 36.6667H5L15.7833 26.1L21.6667 31.0667' fill='%23166FF5' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .scr_elemsotrudn_uslugi_art6__item {
    &:last-child {
      margin-bottom: 10px;
    }
  }
}
