// @import "./normalize";
@import "./vars";
@import "./mixins";
@import "./fonts";
// @import "./sprite_generated";

// From libs:
//@import "../libs/LIB_NAME/path/to/style.scss"
// @import "../libs/splidejs/splide.min.css";
@import "../libs/glide/glide.core.min.css";

/*===== global styles =====*/

* {
  box-sizing: border-box;
}
// min-height: 0.001vw; // — Fixes Safari bug with viewport units in calc()

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: $color_dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.lock {
  overflow: hidden;
}

#luxy {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1586px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 43px;

  @include lg {
    max-width: 1088px;
    padding: 0 32px;
  }

  @include sm {
    max-width: 832px;
    padding: 0 32px;
  }

  @include xs {
    max-width: 100%;
    padding: 0 15px;
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  line-height: 1.2;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

button,
input {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  border: none;
  appearance: none;
  outline: none;
  color: inherit;
  background-color: transparent;
}

button {
  cursor: pointer;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.hidescrollbar {
  // hide scrollbar in Firefox
  scrollbar-width: none;

  // hide scrollbar in Chrome, Safari
  &::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
    width: 0;
    height: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.btn_more_arrow {
  position: relative;
  display: inline-block;
  padding-left: 60px;
  font-weight: 500;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.03em;
  color: $color_dark;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 32px;
    height: 32px;
    background: url("../images/scr_keysy_art6/arrow-right-blue.svg") center /
      contain no-repeat;
    transition: transform 0.2s ease-out;
  }

  @media (hover: hover) {
    &:hover::before {
      transform: translate(10px, -50%);
    }
  }

  @include xl {
    font-size: 24px;
    line-height: 133%;
  }

  @include lg {
    font-size: 20px;
    line-height: 160%;

    &::before {
      width: 26px;
      height: 26px;
    }
  }

  @include sm {
    padding-left: 46px;
  }

  @include xs {
    font-size: 24px;
    line-height: 133%;

    &::before {
      width: 30px;
      height: 30px;
    }
  }

  @include r(360px) {
    font-size: 18px;

    &::before {
      width: 26px;
      height: 26px;
    }
  }
}
