// Grid
$width_lg: 1170px;
$width_md: 991px;
$width_xs: 767px;
$width_mob: 500px;

$grid-width: 1170px;
$grid-gutter: 30px;
$grid-columns: 12;

$color_white: #fff;
$color_dark: #1c1c20;
$color_grey: #8e8e93;
$color_grey_light: #f2f2f2;
$color_blue: #166ff5;
